{% trans_default_domain 'FOSUserBundle' %}

<div class="container">	
	<div id="changepasswordbox" class="mainbox col-md-6 col-sm-8 mx-auto mt-5">
		<div class="card" >
			<div class="card-header bg-primary">
				<div class="float-right small">
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						<span class="text-white">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |</span>
						<a class="text-white" href="{{ path('fos_user_security_logout') }}">
							{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
						</a>
						{% else %}
							{#    <a class="text-white" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a> #}
						{% endif %}
				</div>
				<div class="card-title mb-0 font-weight-bold text-white">{{ 'change_password.submit'|trans }}</div>
			</div>	 
			<div style="padding-top:30px" class="card-body" >
				{% include "@FOSUser/fos.messages.html.twig" %}
				{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password form-horizontal' } }) }}
					{{ form_widget(form) }}
					<div style="margin-top:10px" class="form-group">
						<div class="col-sm-12 controls">
							<input type="submit" class="btn btn-primary btn-lg btn-block" style="height: auto;" name="_submit" value="{{ 'change_password.submit'|trans }}" />
						</div>
					</div>
				{{ form_end(form) }}
			</div>
		</div>  
	</div>
</div>
