{% extends 'security/base.html.twig' %}

{% trans_default_domain 'security' %}

{% block title %}{{ 'security.change_password.title'|trans }}{% endblock %}

{% block body %}
<div class="container">	
	<div id="changepasswordbox" class="mainbox col-md-6 col-sm-8 mx-auto mt-5">
		<div class="card" >
			<div class="card-header bg-primary">
				<div class="float-right small">
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						<span class="text-white">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'security') }} |</span>
						<a class="text-white" href="{{ path('app_logout') }}">
							{{ 'layout.logout'|trans({}, 'security') }}
						</a>
						{% else %}
							{#    <a class="text-white" href="{{ path('app_login') }}">{{ 'layout.login'|trans({}, 'security') }}</a> #}
						{% endif %}
				</div>
				<div class="card-title mb-0 font-weight-bold text-white">{{ 'security.change_password.header'|trans }}</div>
			</div>	 
			<div style="padding-top:30px" class="card-body" >
				<form name="user_change_password_form" method="post" action="{{  path('app_change_password') }}" class="user_change_password form-horizontal">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					{% if error is defined and error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}
					{% if success is defined and success %}
						<div class="alert alert-success">{{ success.messageKey|trans(success.messageData, 'security') }}</div>
					{% endif %}
					<div style="margin-top:10px" class="form-group">
						<div class="col-sm-12 controls">
							<input type="submit" class="btn btn-primary btn-lg btn-block form-control" style="height: auto;" name="_cancel" value="{{ 'security.change_password.ok'|trans }}" />
						</div>
					</div>
				</form>
			</div
		</div>
	</div>
</div>
{% endblock body %}
