{% extends 'security/base.html.twig' %}

{% trans_default_domain 'security' %}

{% block title %}{{ 'security.change_password.title'|trans }}{% endblock %}

{% block body %}
<div class="container">	
	<div id="changepasswordbox" class="mainbox col-md-6 col-sm-8 mx-auto mt-5">
		<div class="card" >
			<div class="card-header bg-primary">
				<div class="float-right small">
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						<span class="text-white">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'security') }} |</span>
						<a class="text-white" href="{{ path('app_logout') }}">
							{{ 'layout.logout'|trans({}, 'security') }}
						</a>
						{% else %}
							{#    <a class="text-white" href="{{ path('app_login') }}">{{ 'layout.login'|trans({}, 'security') }}</a> #}
						{% endif %}
				</div>
				<div class="card-title mb-0 font-weight-bold text-white">{{ 'security.change_password.header'|trans }}</div>
			</div>	 
			<div style="padding-top:30px" class="card-body" >
				<form name="user_change_password_form" method="post" action="{{  path('app_change_password') }}" class="user_change_password form-horizontal">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}
					<div id="user_change_password_form">
						<div>
							<label for="user_change_password_form_current_password" class="required">{{ 'security.change_password.current_password'|trans }}</label>
							<input type="password" id="user_change_password_form_current_password" name="user_change_password_form[current_password]" required="required" autocomplete="off" class="form-control" />
						</div>
						<div>
							<label for="user_change_password_form_plainPassword_first" class="required">{{ 'security.change_password.new_password'|trans }}</label>
							<div class="input-group mb-3">
								<input type="password" id="user_change_password_form_plainPassword_first" name="user_change_password_form[plainPassword][first]" value="{{ newFirst }}" required="required" autocomplete="new-password" class="form-control" />
								<button class="pwd-shower" style="border:none;background:transparent" title="{{ 'security.change_password.show_hide'|trans }}"><i class=" far fa-eye"></i></button>
							</div>
						</div>
						<div>
							<label for="user_change_password_form_plainPassword_second" class="required">{{ 'security.change_password.password_confirmation'|trans }}</label>
							<div class="input-group mb-3">
								<input type="password" id="user_change_password_form_plainPassword_second" name="user_change_password_form[plainPassword][second]" value="{{ newSecond }}" required="required" autocomplete="new-password" class="form-control" />
								<button class="pwd-shower" style="border:none;background:transparent" title="{{ 'security.change_password.show_hide'|trans }}"><i class=" far fa-eye"></i></button>
							</div>
						</div>
					</div>
					<div style="margin-top:10px" class="form-group form-inline">
						<div class="col-sm-8 controls">
							<input type="submit" class="btn btn-primary btn-lg btn-block form-control" style="height: auto;" name="_submit" value="{{ 'security.change_password.submit'|trans }}" />
						</div>
						<div class="col-sm-4 controls">
							<input type="submit" class="btn btn-secondary btn-lg btn-block form-control" style="height: auto;" name="_cancel" value="{{ 'security.change_password.cancel'|trans }}" />
						</div>
					</div>
				</form>
			</div
		</div>
	</div>
</div>
{% endblock body %}
