{#
The MIT License (MIT)

Copyright (c) 2015 Jacques Archimède

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is furnished
to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
#}

{% extends "EUREKAG6KBundle:admin/layout:pagelayout.html.twig" %}

{% block content %}
<h2>Internal data sources management</h2>

<div class="navbar-default navbar-side" role="navigation">
	<div class="sidebar-collapse">
		{% if datasource is not empty and datasource.action != 'create' and datasource.action != 'import' and datasource.type != 'uri' %}
		<div id="data-source" class="nav panel panel-primary">
			<div class="panel-heading"><h3>Data source : <br /> {{ dbname }}</h3></div>
			<div class="panel-body">
				<form action="{{ path('eureka_g6k_admin_datasource_table', {'dsid': dsid, 'table': 'new'}) }}">
				<button id="btnAddNewTable" class="btn btn-default">Add table <span class="glyphicon glyphicon-plus-sign"></span></button>
				</form>
				<h4>Tables :</h4>
				<ul class="nav nav-pills nav-stacked">
					{% for tbl in tables %}
					<li><a href="{{ path('eureka_g6k_admin_datasources') }}/{{ dsid }}/{{ tbl.tbl_name }}">{{ tbl.label }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}
		<div id="data-sources" class="nav panel panel-primary">
			<div class="panel-heading"><h3>Data sources</h3></div>
			<div class="panel-body">
				<div>
					<form action="{{ path('eureka_g6k_admin_datasource', {'dsid': 0}) }}">
					<button id="btnAddNewDataSource" class="btn btn-default pull-right">Create Data source <span class="glyphicon glyphicon-plus-sign"></span></button>
					</form>
				</div>
				<div>
					<form action="{{ path('eureka_g6k_admin_datasource_crud', {'dsid': 0, 'table': 'dummy', 'crud': 'import-datasource'}) }}">
					<button id="btnImportDataSource" class="btn btn-default pull-right">Import Data source <span class="glyphicon glyphicon-import"></span></button>
					</form>
				</div>
				<ul class="nav nav-pills nav-stacked">
					{% for dss in datasources %}
					{% if dss.type == 'uri' %}
					<li><a href="{{ path('eureka_g6k_admin_datasources') }}/{{ dss.id }}">{{ dss.name }}</a></li>
					{% else %}
					<li><a href="{{ path('eureka_g6k_admin_datasources') }}/{{ dss.id }}">{{ dss.database.label }}</a></li>
					{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>

<div id="page-wrapper" class="content">
	<div id="page-datasources">
		<div class="row">
			<div class="col-md-12">
				{% if table is not empty %}
				<div id="table" class="panel panel-primary">
					<div class="panel-heading">
					{% if table.name != 'new' %}
					<a class="btn btn-primary pull-right drop-table-button" href="{{ path('eureka_g6k_admin_datasource_crud', {'dsid': dsid, 'table': table.name, 'crud': 'drop'}) }}" data-confirm="Are you sure you want to drop the table '{{ table.label }}' ?">Drop table <span class="glyphicon glyphicon-minus-sign"></span></a>
					<a class="btn btn-primary pull-right edit-table-button" href="{{ path('eureka_g6k_admin_datasource_crud', {'dsid': dsid, 'table': table.name, 'crud': 'edit'}) }}" data-confirm="Are you sure you want to edit the structure of  the table '{{ table.label }}' ?">Edit table structure <span class="glyphicon glyphicon-pencil"></span></a>
					{% endif %}
					<h4 class="panel-title">{{ table.label }}</h4>
					</div>
					<div class="panel-body">
						<div class="alert alert-danger" role="alert">
							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							<span class="sr-only">Error:</span>
							<ul></ul>
						</div>
						{% if table.name == 'new' %}
						<form id="new-table-form" method="post" action="{{ path('eureka_g6k_admin_datasource_crud', {'dsid': dsid, 'table': 'new', 'crud': 'create'}) }}">
						<div class="panel-body">
							<div class="attributes-container">
								<div>
									<div class="form-group col-sm-12">
										<label class="col-sm-2 control-label" for="table-name">Name</label>    
										<div class="col-sm-10">        
											<input type="text" value="" placeholder="name" class="form-control simple-value" data-attribute="name" id="table-name" name="table-name">    
										</div>
									</div>
									<div class="form-group col-sm-12">    
										<label class="col-sm-2 control-label" for="table-label">Label</label>    
										<div class="col-sm-10">        
											<input type="text" value="" placeholder="label" class="form-control simple-value" data-attribute="label" id="table-label" name="table-label">    
										</div>
									</div>
								</div>
							</div>
							<div id="table-description-panel" class="panel panel-default">
								<div class="panel-heading">Description</div>
								<div class="panel-body table-description">
									<textarea name="table-description" class="form-control input-sm"></textarea>
								</div>
							</div>
						</div>
						<div class="table-responsive">
							<span class="table-caption">Fields</span>
							<button id="btnAddNewColumn" class="btn btn-default pull-right">Add column <span class="glyphicon glyphicon-plus-sign"></span></button>
							<table id="new-table" class="table table-condensed table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th></th>
										<th data-resizable-column-id="new-field">Field</th>
										<th data-resizable-column-id="new-type">Type</th>
										<th data-resizable-column-id="new-notnull">Not null</th>
										<th data-resizable-column-id="new-label">Label</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
						<button id="btnSaveNewTable" class="btn btn-primary pull-right">Save</button>
						</form>
						{% else %}
						<div class="table-responsive">
							{{ table.description|raw }}
							<button id="btnAddNewRow" class="btn btn-default">Add record <span class="glyphicon glyphicon-plus-sign"></span></button>
							<table id="{{ table.name }}" class="table table-condensed table-striped table-bordered table-hover">
								<thead>
									<tr>
										{% for info in tableinfos %}
										<th data-resizable-column-id="{{ table.name }}_{{ info.name }}">{{ info.label }}</th>
										{% endfor %}
									</tr>
								</thead>
								<tbody>
									{% for row in tabledatas %}
									<tr>
										{% for col, cell in row %}
											<td class="{{ tableinfos[loop.index0].g6k_type }}">{{ cell }}</td>
										{% endfor %}
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						{% endif %}
					</div>
				</div>
				{% elseif datasource is not empty %}
				<div id="datasource" class="panel panel-primary">
					<div class="panel-heading">
					{% if datasource.action == 'show' %}
					<a class="btn btn-primary pull-right drop-datasource-button" href="{{ path('eureka_g6k_admin_datasource_crud', {'dsid': datasource.id, 'table': 'dummy', 'crud': 'drop-datasource'}) }}" data-confirm="Are you sure you want to drop the datasource '{{ datasource.name }}' ?">Drop datasource <span class="glyphicon glyphicon-minus-sign"></span></a>
					<a class="btn btn-primary pull-right edit-datasource-button" href="{{ path('eureka_g6k_admin_datasource_crud', {'dsid': datasource.id, 'table': 'dummy', 'crud': 'edit-datasource'}) }}" data-confirm="Are you sure you want to edit the datasource '{{ datasource.name }}' ?">Edit datasource <span class="glyphicon glyphicon-pencil"></span></a>
					{% endif %}
					<h4 class="panel-title">Datasource : {{ datasource.label }}</h4>
					</div>
					<div class="panel-body">
						<div class="alert alert-danger" role="alert">
							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							<span class="sr-only">Error:</span>
							<ul></ul>
						</div>
						{% if datasource.action == 'show' %}
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="attributes-container">
									<div>
										<div class="form-group col-sm-12">
											<label class="col-sm-2 control-label">Name</label>    
											<div class="col-sm-10">
												<p data-attribute="name" data-value="{{ datasource.name }}" class="form-control-static simple-value">{{ datasource.name }}</p>
											</div>
										</div>
										<div class="form-group col-sm-12">    
											<label class="col-sm-2 control-label">Type</label>    
											<div class="col-sm-10">
												{% if datasource.type == "internal" %}
													{% set option = 'Internal' %}
												{% elseif datasource.type == "database" %}
													{% set option = 'External database' %}
												{% else %}
													{% set option = 'External webservice (Rest API)' %}
												{% endif %}
												<p data-attribute="type" data-value="{{ option }}" class="form-control-static simple-value">{{ option }}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default" id="datasource-description-panel-holder">
							<div class="panel-heading">
								Description
							</div>
							<div class="panel-body datasource-description">
								{{ datasource.description|raw }}
							</div>
						</div>
						{% if datasource.type == "internal" or datasource.type == "database" %}
						<div class="panel panel-default" id="datasource-database-panel-holder">
							<div class="panel-heading">
								Database
							</div>
							<div class="panel-body datasource-database">
								<div class="form-group col-sm-12">    
									<label class="col-sm-2 control-label">Type</label>    
									<div class="col-sm-10">
										{% if datasource.database.type == "jsonsql" %}
											{% set option = 'JsonSQL' %}
										{% elseif datasource.database.type == "sqlite" %}
											{% set option = 'SQLite' %}
										{% elseif datasource.database.type == "mysqli" %}
											{% set option = 'MySQL' %}
										{% else %}
											{% set option = 'PostgreSQL' %}
										{% endif %}
										<p data-attribute="database.type" data-value="{{ option }}" class="form-control-static simple-value">{{ option }}</p>
									</div>
								</div>
								<div class="form-group col-sm-12">    
									<label class="col-sm-2 control-label">Database name</label>    
									<div class="col-sm-10">        
										<p data-attribute="database.name" data-value="{{ datasource.database.name }}" class="form-control-static simple-value">{{ datasource.database.name }}</p>
									</div>
								</div>
								<div class="form-group col-sm-12">    
									<label class="col-sm-2 control-label">Database label</label>    
									<div class="col-sm-10">        
										<p data-attribute="database.label" data-value="{{ datasource.database.label }}" class="form-control-static simple-value">{{ datasource.database.label }}</p>
									</div>
								</div>
								{% if datasource.database.type == "mysqli" or datasource.database.type == "pgsql" %}
								<div class="form-group col-sm-12">    
									<label class="col-sm-2 control-label">Database host</label>    
									<div class="col-sm-10">        
										<p data-attribute="database.host" data-value="{{ datasource.database.host }}" class="form-control-static simple-value">{{ datasource.database.host }}</p>
									</div>
								</div>
								<div class="form-group col-sm-12">    
									<label class="col-sm-2 control-label">Database port</label>    
									<div class="col-sm-10">        
										<p data-attribute="database.port" data-value="{{ datasource.database.port }}" class="form-control-static simple-value">{{ datasource.database.port }}</p>
									</div>
								</div>
								<div class="form-group col-sm-12">    
									<label class="col-sm-2 control-label">Database user</label>    
									<div class="col-sm-10">        
										<p data-attribute="database.user" data-value="{{ datasource.database.user }}" class="form-control-static simple-value">{{ datasource.database.user }}</p>
									</div>
								</div>
								<div class="form-group col-sm-12">    
									<label class="col-sm-2 control-label">Database password</label>    
									<div class="col-sm-10">        
										<p data-attribute="database.password" data-value="{{ datasource.database.password }}" class="form-control-static simple-value">**********</p>
									</div>
								</div>
								{% endif %}
							</div>
						</div>
						{% endif %}
						{% if datasource.type == "uri" %}
						<div class="panel panel-default" id="datasource-uri-panel-holder">
							<div class="panel-heading">
								RESTful Web Service
							</div>
							<div class="panel-body datasource-uri">
								<div class="form-group col-sm-12">    
									<label class="col-sm-2 control-label" for="datasource-uri">URI</label>    
									<div class="col-sm-10">        
										<p data-attribute="uri" data-value="{{ datasource.uri }}" class="form-control-static simple-value">{{ datasource.uri }}</p>
									</div>
								</div>
								<div class="form-group col-sm-12">    
									<label class="col-sm-2 control-label" for="datasource-method">Method</label>    
									<div class="col-sm-10">        
										<p data-attribute="uri" data-value="{{ datasource.method }}" class="form-control-static simple-value">{{ datasource.method }}</p>
									</div>
								</div>
							</div>
						</div>
						{% endif %}
						{% else %}
						{% if datasource.action == 'create' or datasource.action == 'edit'%}
						{% if datasource.action == 'create' %}
						<form id="datasource-creation-form" method="post" action="{{ path('eureka_g6k_admin_datasource_crud', {'dsid': datasource.id, 'table': 'dummy', 'crud': 'create-datasource'}) }}">
						{% else %}
						<form id="datasource-edition-form" method="post" action="{{ path('eureka_g6k_admin_datasource_crud', {'dsid': datasource.id, 'table': 'dummy', 'crud': 'doedit-datasource'}) }}">
						{% endif %}
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="attributes-container">
									<div>
										<div class="form-group col-sm-12">
											<label class="col-sm-2 control-label" for="datasource-name">Name</label>    
											<div class="col-sm-10">        
												<input type="text" value="{{ datasource.name }}" placeholder="name" class="form-control simple-value" data-attribute="name" id="datasource-name" name="datasource-name">    
											</div>
										</div>
										<div class="form-group col-sm-12">    
											<label class="col-sm-2 control-label" for="datasource-type">Type</label>    
											<div class="col-sm-10">
												<select name="datasource-type" id="datasource-type" class="form-control" data-attribute="type">
												<option value="internal"{% if datasource.type == 'internal' %} selected="selected"{% endif %}>Internal</option>
												<option value="database"{% if datasource.type == 'database' %} selected="selected"{% endif %}>External database</option>
												<option value="uri"{% if datasource.type == 'uri' %} selected="selected"{% endif %}>External webservice (Rest API)</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default" id="datasource-description-panel-holder">
							<div class="panel-heading">
								Description
							</div>
							<div class="panel-body datasource-description">
								<textarea name="datasource-description" class="form-control input-sm">{{ datasource.description }}</textarea>
							</div>
						</div>
						<div class="panel panel-default" id="datasource-database-panel-holder">
							<div class="panel-heading">
								Database
							</div>
							<div class="panel-body datasource-database">
								<div class="form-group col-sm-12">    
									<label class="col-sm-2 control-label" for="datasource-database-type">Type</label>    
									<div class="col-sm-10">
										<select name="datasource-database-type" id="datasource-database-type" class="form-control" data-attribute="database.type">
										<option value="jsonsql"{% if datasource.database.type == 'jsonsql' %} selected="selected"{% endif %}>JsonSQL</option>
										<option value="sqlite"{% if datasource.database.type == 'sqlite' %} selected="selected"{% endif %}>SQLite</option>
										<option value="mysqli"{% if datasource.database.type == 'mysqli' %} selected="selected"{% endif %}>MySQL</option>
										<option value="pgsql"{% if datasource.database.type == 'pgsql' %} selected="selected"{% endif %}>PostgreSQL</option>
										</select>
									</div>
								</div>
								<div class="form-group col-sm-12">    
									<label class="col-sm-2 control-label" for="datasource-database-name">Database name</label>    
									<div class="col-sm-10">        
										<input type="text" value="{{ datasource.database.name }}" placeholder="Database name" class="form-control simple-value" data-attribute="database.name" id="datasource-database-name" name="datasource-database-name">    
									</div>
								</div>
								<div class="form-group col-sm-12">    
									<label class="col-sm-2 control-label" for="datasource-database-label">Database label</label>    
									<div class="col-sm-10">        
										<input type="text" value="{{ datasource.database.label }}" placeholder="Database label" class="form-control simple-value" data-attribute="database.label" id="datasource-database-label" name="datasource-database-label">    
									</div>
								</div>
								<div class="form-group col-sm-12">    
									<label class="col-sm-2 control-label" for="datasource-database-host">Database host</label>    
									<div class="col-sm-10">        
										<input type="text" value="{{ datasource.database.host }}" placeholder="Database host" class="form-control simple-value" data-attribute="database.host" id="datasource-database-host" name="datasource-database-host">    
									</div>
								</div>
								<div class="form-group col-sm-12">    
									<label class="col-sm-2 control-label" for="datasource-database-port">Database port</label>    
									<div class="col-sm-10">        
										<input type="number" value="{{ datasource.database.port }}" placeholder="Database port" class="form-control simple-value" data-attribute="database.port" id="datasource-database-port" name="datasource-database-port">    
									</div>
								</div>
								<div class="form-group col-sm-12">    
									<label class="col-sm-2 control-label" for="datasource-database-user">Database user</label>    
									<div class="col-sm-10">        
										<input type="text" value="{{ datasource.database.user }}" placeholder="Database user" class="form-control simple-value" data-attribute="database.user" id="datasource-database-user" name="datasource-database-user">    
									</div>
								</div>
								<div class="form-group col-sm-12">    
									<label class="col-sm-2 control-label" for="datasource-database-password">Database password</label>    
									<div class="col-sm-10">        
										<input type="password" value="" placeholder="Database password" class="form-control simple-value" data-attribute="database.password" id="datasource-database-password" name="datasource-database-password">    
									</div>
								</div>
								<div class="form-group col-sm-12">    
									<label class="col-sm-2 control-label" for="datasource-database-confirm-password"></label>    
									<div class="col-sm-10">        
										<input type="password" value="" placeholder="Confirm Database password" class="form-control simple-value" id="datasource-database-confirm-password" name="datasource-database-confirm-password">    
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default" id="datasource-uri-panel-holder">
							<div class="panel-heading">
								RESTFul Web Service
							</div>
							<div class="panel-body datasource-uri">
								<div class="form-group col-sm-12">    
									<label class="col-sm-2 control-label" for="datasource-uri">URI</label>    
									<div class="col-sm-10">        
										<input type="text" value="{{ datasource.uri }}" placeholder="Webservice URI" class="form-control simple-value" data-attribute="uri" id="datasource-uri" name="datasource-uri">    
									</div>
								</div>
								<div class="form-group col-sm-12">    
									<label class="col-sm-2 control-label" for="datasource-method">Method</label>    
									<div class="col-sm-10">
										<select name="datasource-method" id="datasource-method" class="form-control" data-attribute="method">
										<option value="get"{% if datasource.method == 'get' %} selected="selected"{% endif %}>GET</option>
										<option value="post"{% if datasource.method == 'post' %} selected="selected"{% endif %}>POST</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<button id="btnSaveDatasource" class="btn btn-primary pull-right">Save</button>
						</form>
						{% endif %}
						{% endif %}
						{% if datasource.action == 'import' %}
						<form id="datasource-import-form" method="post" action="{{ path('eureka_g6k_admin_datasource_crud', {'dsid': datasource.id, 'table': 'dummy', 'crud': 'doimport-datasource'}) }}" enctype="multipart/form-data">
						<div class="panel panel-default" id="datasource-import-panel-holder">
							<div class="panel-heading">
								Import datasource from JSON data
							</div>
							<div class="panel-body datasource-files">
								<div class="form-group col-sm-12">    
									<label class="col-sm-2 control-label" for="datasource-schema-file">JSON Schema</label>    
									<div class="col-sm-10">        
										<input type="file" name="datasource-schema-file" class="form-control input-sm" />
									</div>
								</div>
								<div class="form-group col-sm-12">    
									<label class="col-sm-2 control-label" for="datasource-data-file">JSON Data</label>    
									<div class="col-sm-10">        
										<input type="file" name="datasource-data-file" class="form-control input-sm" />
									</div>
								</div>
							</div>
						</div>
						<button id="btnDoImportDatasource" class="btn btn-primary pull-right">Import</button>
						</form>
						{% endif %}
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ parent() }}<script type="text/javascript" src="{{ asset('bundles/eurekag6k/admin/js/g6k.admin.datasources.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/eurekag6k/admin/js/json-validator/tv4.min.js') }}"></script>{% if table is not empty %}
<script type="text/javascript">
$(document).ready(function() {
	var fields = [{%- for info in tableinfos -%}[{{ loop.index0 }}, '{{ info.name }}', '{{ info.label }}', '{{ info.notnull }}', '{{ info.g6k_type }}'{%- if info.choices -%}, '{ {%- for value, label in info.choices -%}"{{ value }}": "{{ label }}"{%- if not loop.last -%}, {%- endif -%}{%- endfor -%} }'{%- endif -%}]{%- if not loop.last -%},{%- endif -%}{%- endfor -%}];
	Datasources.init('{{ table.name }}', fields, '{{ app.request.locale }}');
});
</script>
{% endif %}

 {% endblock %}

