<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>
			G6K: Guide d'administration
		</h1>
		<p class="lead">Composition des règles métier</p>
	</div>
</header>
<div class="container">
	<div class="row">
		<div class="span3 bs-docs-sidebar">
			<ul class="nav nav-list bs-docs-sidenav" data-spy="affix">
				<li data-level="1"><a href="#regles-metier">Règles métier</a></li>
				<li data-level="1"><a href="#saisie-d-une-regle">Saisie d'une règle</a></li>
				<li data-level="2"><a href="#connecteurs">Connecteurs</a></li>
				<li data-level="2"><a href="#operateurs">Opérateurs</a></li>
				<li data-level="3"><a href="#operateurs-de-chaines">Opérateurs de chaînes</a></li>
				<li data-level="3"><a href="#operateurs-numeriques">Opérateurs numériques</a></li>
				<li data-level="3"><a href="#operateurs-de-date">Opérateurs de date</a></li>
				<li data-level="3"><a href="#operateurs-de-choix">Opérateurs de choix</a></li>
				<li data-level="3"><a href="#operateurs-booleens">Opérateurs booléens</a></li>
				<li data-level="1"><a href="#modification-d-une-regle">Modification d'une règle</a></li>
				<li data-level="1"><a href="#suppression-d-une-regle">Suppression d'une règle</a></li>
				<li data-level="1"><a href="#tri-des-regles">Tri des règles</a></li>
			</ul>
		</div>
		<div class="span9">
			<div class="alert alert-danger" role="alert">
Document en cours d'élaboration.
</div>
			<h1 id="regles-metier">
				Règles métier
			</h1>
			<p>Ce sont les règles « métier » qui déterminent le comportement du simulateur. Elles se déclenchent lorsque le contexte change.</p>
			<p>Un changement de contexte se traduit toujours par l'acquisition ou la modification d'une donnée.</p>
			<p>G6k s'informe du changement de contexte en revérifiant les conditions associées aux règles lorsque la valeur d'une donnée change.</p>
			<p>Ainsi lorsque l'utilisateur saisit une valeur, que g6K accède à une donnée de référence ou qu'une valeur est calculée, les règles impactées sont déclenchées et les actions associées sont réalisées :</p>
			<p>Les actions qui peuvent être réalisées sont :</p>
			<ul>
				<li>Montrer ou cacher une partie de la page (un champ, un groupe de champs, un panneau, un bouton, ...)</li>
				<li>Afficher un message d'erreur ou d'avertissement</li>
				<li>Effectuer un calcul et l'affecter à une donnée</li>
			</ul>
			<p>Une règle métier a la syntaxe suivante :</p>
			<pre class="prettyprint">
&lt;règle métier&gt; : <span class="label label-default">Lorsque ...</span>&lt;condition&gt;[<span class="label label-default">alors ...</span>&lt;action&gt;...&lt;action&gt;][<span class="label label-default">sinon ...</span>&lt;action&gt; ... &lt;action&gt;]
</pre>
			<p><strong>&lt;condition&gt;</strong></p>
			<pre class="prettyprint">
&lt;condition&gt; : &lt;condition simple&gt; | &lt;condition composée&gt; &lt;condition simple&gt; : &lt;champ&gt;&lt;opérateur&gt;[(&lt;valeur&gt; | &lt;expression&gt;)] &lt;condition composée&gt; : &lt;connecteur&gt; &lt;condition&gt; ... &lt;condition&gt;
</pre>
			<p><strong>&lt;opérateur&gt;</strong></p>
			<pre class="prettyprint">
&lt;opérateur&gt; : <span class="label label-default">contient</span> | <span class="label label-default">correspond à</span> | <span class="label label-default">est antérieure à</span> | <span class="label label-default">est égal à</span> | <span class="label label-default">est faux</span> | <span class="label label-default">est inférieur à</span> | <span class="label label-default">est inférieur ou égal à</span> | <span class="label label-default">est postérieure à</span> | <span class="label label-default">est renseigné</span> | <span class="label label-default">est supérieur à</span> | <span class="label label-default">est supérieur ou égal à</span> | <span class="label label-default">est vrai</span> | <span class="label label-default">ne contient pas</span> | <span class="label label-default">ne correspond pas à</span> | <span class="label label-default">n'est pas antérieure à</span> | <span class="label label-default">n'est pas égal à</span> | <span class="label label-default">n'est pas postérieure à</span> | <span class="label label-default">n'est pas renseigné</span>
</pre>
			<p><strong>&lt;connecteur&gt;</strong></p>
			<pre class="prettyprint">
&lt;connecteur&gt; : <span class="label label-default">toutes</span> | <span class="label label-default">au moins une</span> | <span class="label label-default">aucune</span>
</pre>
			<p><strong>&lt;action&gt;</strong></p>
			<pre class="prettyprint">
&lt;action&gt; : (<span class="label label-default">afficher l'erreur</span> | <span class="label label-default">afficher l'avertissement</span>)&lt;message&gt;<span class="label label-default">portant sur</span><span class="label label-default">la donnée</span>&lt;donnée&gt;
ou
&lt;action&gt; : (<span class="label label-default">afficher l'erreur</span> | <span class="label label-default">afficher l'avertissement</span>)&lt;message&gt;<span class="label label-default">portant sur</span><span class="label label-default">l'ensemble des données</span>
ou
&lt;action&gt; : (<span class="label label-default">afficher l'erreur</span> | <span class="label label-default">afficher l'avertissement</span>)&lt;message&gt;<span class="label label-default">portant sur</span><span class="label label-default">le groupe de données</span>&lt;groupe de données&gt;
ou
&lt;action&gt; : (<span class="label label-default">Cacher</span> | <span class="label label-default">Montrer</span>) <span class="label label-default">l'étape</span>&lt;étape&gt;
ou
&lt;action&gt; : (<span class="label label-default">Cacher</span> | <span class="label label-default">Montrer</span>) <span class="label label-default">le panneau</span> <span class="label label-default">de l'étape</span>&lt;étape&gt;<span class="label label-default">dont le libellé est</span>&lt;panneau&gt;
ou
&lt;action&gt; : (<span class="label label-default">Cacher</span> | <span class="label label-default">Montrer</span>) <span class="label label-default">le groupe de champs</span> <span class="label label-default">de l'étape</span>&lt;étape&gt;<span class="label label-default">du panneau</span>&lt;panneau&gt;<span class="label label-default">dont le libellé est</span>&lt;groupe de champs&gt;
ou
&lt;action&gt; : (<span class="label label-default">Cacher</span> | <span class="label label-default">Montrer</span>) <span class="label label-default">le champ</span> <span class="label label-default">de l'étape</span>&lt;étape&gt;<span class="label label-default">du panneau</span>&lt;panneau&gt;<span class="label label-default">du groupe de champs</span>&lt;groupe de champs&gt;<span class="label label-default">dont le libellé est</span>&lt;champ&gt;
ou
&lt;action&gt; : (<span class="label label-default">Cacher</span> | <span class="label label-default">Montrer</span>) <span class="label label-default">la colonne</span> <span class="label label-default">de l'étape</span>&lt;étape&gt;<span class="label label-default">du panneau</span>&lt;panneau&gt;<span class="label label-default">du groupe de champs</span>&lt;groupe de champs&gt;<span class="label label-default">dont le libellé est</span>&lt;colonne&gt;
ou
&lt;action&gt; : (<span class="label label-default">Cacher</span> | <span class="label label-default">Montrer</span>) <span class="label label-default">la rangée</span> <span class="label label-default">de l'étape</span>&lt;étape&gt;<span class="label label-default">du panneau</span>&lt;panneau&gt;<span class="label label-default">du groupe de champs</span>&lt;groupe de champs&gt;<span class="label label-default">dont le libellé est</span>&lt;rangée&gt;
ou
&lt;action&gt; : (<span class="label label-default">Cacher</span> | <span class="label label-default">Montrer</span>) <span class="label label-default">le bloc d'infos</span> <span class="label label-default">de l'étape</span>&lt;étape&gt;<span class="label label-default">du panneau</span>&lt;panneau&gt;<span class="label label-default">dont le libellé est</span>&lt;bloc d'infos&gt;
ou
&lt;action&gt; : (<span class="label label-default">Cacher</span> | <span class="label label-default">Montrer</span>) <span class="label label-default">le chapître</span> <span class="label label-default">de l'étape</span>&lt;étape&gt;<span class="label label-default">du panneau</span>&lt;panneau&gt;<span class="label label-default">du bloc d'infos</span>&lt;bloc d'infos&gt;<span class="label label-default">dont le libellé est</span>&lt;chapître&gt;
ou
&lt;action&gt; : (<span class="label label-default">Cacher</span> | <span class="label label-default">Montrer</span>) <span class="label label-default">la section</span> <span class="label label-default">de l'étape</span>&lt;étape&gt;<span class="label label-default">du panneau</span>&lt;panneau&gt;<span class="label label-default">du bloc d'infos</span>&lt;bloc d'infos&gt;<span class="label label-default">du chapître</span>&lt;chapître&gt;<span class="label label-default">dont le libellé est</span>&lt;section&gt;
ou
&lt;action&gt; : (<span class="label label-default">Cacher</span> | <span class="label label-default">Montrer</span>) <span class="label label-default">le bouton d'action</span> <span class="label label-default">de l'étape</span>&lt;étape&gt;<span class="label label-default">dont le libellé est</span>&lt;bouton d'action&gt;
ou
&lt;action&gt; : (<span class="label label-default">Cacher</span> | <span class="label label-default">Montrer</span>) <span class="label label-default">la note de bas de page</span> <span class="label label-default">de l'étape</span>&lt;étape&gt;<span class="label label-default">dont le libellé est</span>&lt;note de bas de page&gt;
ou
&lt;action&gt; : (<span class="label label-default">Cacher</span> | <span class="label label-default">Montrer</span>) <span class="label label-default">le choix</span> <span class="label label-default">de la donnée</span>&lt;donnée&gt;<span class="label label-default">dont le libellé est</span>&lt;choix&gt;
</pre>
			<p>L'interface de G6K permettant de saisir ou modifier une régle est la suivante :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/simulators-management-rule-add.png') }}" alt="" />
			</p>
			<p>Pour y accéder, cliquez sur le bouton « Simulateurs » de la barre de menu :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/simulators-management-simulators-buttonbar.png') }}" alt="" />
			</p>
			<p>Puis sélectionnez le simulateur dans le menu latéral gauche.</p>
			<p>Pour saisir une nouvelle règle, cliquez sur le bouton « Ajouter » du panneau « Règles métier » :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/simulators-management-rule-add-button.png') }}" alt="" />
			</p>
			<p>Pour modifier une régle, dépliez le panneau « Règles métier » puis cliquez sur le bouton « Modifier » de la barre de titre de la règle que vous souhaitez modifier :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/simulators-management-rule-edit-button.png') }}" alt="" />
			</p>
			<h1 id="saisie-d-une-regle">
				Saisie d'une règle
			</h1>
			<h2 id="connecteurs">
				Connecteurs
			</h2>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/business-rules-connectors-list.png') }}" alt="" />
			</p>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>toutes</td>
						<td>Toutes les conditions des lignes du niveau immédiatement inférieur doivent être vraies (c'est l'équivalent du ET)</td>
					</tr>
					<tr>
						<td>au moins une</td>
						<td>Au moins une des conditions des lignes du niveau immédiatement inférieur doit être vraie (c'est l'équivalent du OU)</td>
					</tr>
					<tr>
						<td>aucune</td>
						<td>Aucune des conditions des lignes du niveau immédiatement inférieur doit être vraie</td>
					</tr>
				</tbody>
			</table>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/business-rules-conditions-operands.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/business-rules-conditions-operators.png') }}" alt="" />
			</p>
			<h2 id="operateurs">
				Opérateurs
			</h2>
			<h3 id="operateurs-de-chaines">
				Opérateurs de chaînes
			</h3>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>est renseigné</td>
						<td></td>
					</tr>
					<tr>
						<td>n'est pas renseigné</td>
						<td></td>
					</tr>
					<tr>
						<td>est égal à</td>
						<td></td>
					</tr>
					<tr>
						<td>n'est pas égal à</td>
						<td></td>
					</tr>
					<tr>
						<td>contient</td>
						<td></td>
					</tr>
					<tr>
						<td>ne contient pas</td>
						<td></td>
					</tr>
					<tr>
						<td>correspondances</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<h3 id="operateurs-numeriques">
				Opérateurs numériques
			</h3>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>est renseigné</td>
						<td></td>
					</tr>
					<tr>
						<td>n'est pas renseigné</td>
						<td></td>
					</tr>
					<tr>
						<td>est égal à</td>
						<td></td>
					</tr>
					<tr>
						<td>n'est pas égal à</td>
						<td></td>
					</tr>
					<tr>
						<td>est supérieur à</td>
						<td></td>
					</tr>
					<tr>
						<td>est supérieur ou égal à</td>
						<td></td>
					</tr>
					<tr>
						<td>est inférieur à</td>
						<td></td>
					</tr>
					<tr>
						<td>est inférieur ou égal à</td>
						<td></td>
					</tr>
					<tr>
						<td>contient</td>
						<td></td>
					</tr>
					<tr>
						<td>ne contient pas</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<h3 id="operateurs-de-date">
				Opérateurs de date
			</h3>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>est renseigné</td>
						<td></td>
					</tr>
					<tr>
						<td>n'est pas renseigné</td>
						<td></td>
					</tr>
					<tr>
						<td>correspond à</td>
						<td></td>
					</tr>
					<tr>
						<td>ne correspond pas à</td>
						<td></td>
					</tr>
					<tr>
						<td>est postérieure à</td>
						<td></td>
					</tr>
					<tr>
						<td>n'est pas antérieure à</td>
						<td></td>
					</tr>
					<tr>
						<td>est antérieure à</td>
						<td></td>
					</tr>
					<tr>
						<td>n'est pas postérieure à</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<h3 id="operateurs-de-choix">
				Opérateurs de choix
			</h3>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>est renseigné</td>
						<td></td>
					</tr>
					<tr>
						<td>n'est pas renseigné</td>
						<td></td>
					</tr>
					<tr>
						<td>est égal à</td>
						<td></td>
					</tr>
					<tr>
						<td>n'est pas égal à</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<h3 id="operateurs-booleens">
				Opérateurs booléens
			</h3>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>est renseigné</td>
						<td></td>
					</tr>
					<tr>
						<td>n'est pas renseigné</td>
						<td></td>
					</tr>
					<tr>
						<td>est vrai</td>
						<td></td>
					</tr>
					<tr>
						<td>est faux</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/business-rules-condition-add-button.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/business-rules-subcondition-add-button.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/business-rules-condition-delete-button.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/business-rules-conditions-expression.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/business-rules-conditions-subcondition.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/business-rules-action-add-button.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/business-rules-action-add.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/business-rules-actions-list.png') }}" alt="" />
			</p>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>afficher l'erreur</td>
						<td></td>
					</tr>
					<tr>
						<td>afficher l'avertissement</td>
						<td></td>
					</tr>
					<tr>
						<td>Cacher</td>
						<td></td>
					</tr>
					<tr>
						<td>Montrer</td>
						<td></td>
					</tr>
					<tr>
						<td>Mettre</td>
						<td></td>
					</tr>
					<tr>
						<td>Effacer</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/business-rules-action-notifyerror.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/business-rules-action-notifyerror-message.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/business-rules-action-notifyerror-target.png') }}" alt="" />
			</p>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>la donnée</td>
						<td></td>
					</tr>
					<tr>
						<td>l'ensemble des données</td>
						<td></td>
					</tr>
					<tr>
						<td>le groupe de données</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/business-rules-action-notifyerror-target-datas-list.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/business-rules-action-showobject-targets-list.png') }}" alt="" />
			</p>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>l'étape</td>
						<td></td>
					</tr>
					<tr>
						<td>le panneau</td>
						<td></td>
					</tr>
					<tr>
						<td>le bloc d'infos</td>
						<td></td>
					</tr>
					<tr>
						<td>le chapître</td>
						<td></td>
					</tr>
					<tr>
						<td>la section</td>
						<td></td>
					</tr>
					<tr>
						<td>le groupe de champs</td>
						<td></td>
					</tr>
					<tr>
						<td>la colonne</td>
						<td></td>
					</tr>
					<tr>
						<td>la rangée</td>
						<td></td>
					</tr>
					<tr>
						<td>le champ</td>
						<td></td>
					</tr>
					<tr>
						<td>le bouton d'action</td>
						<td></td>
					</tr>
					<tr>
						<td>la note de bas de page</td>
						<td></td>
					</tr>
					<tr>
						<td>le choix</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/business-rules-action-showobject-examples.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/business-rules-action-setattribute-targets-list.png') }}" alt="" />
			</p>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>la valeur</td>
						<td></td>
					</tr>
					<tr>
						<td>la valeur par défaut</td>
						<td></td>
					</tr>
					<tr>
						<td>la valeur minimale</td>
						<td></td>
					</tr>
					<tr>
						<td>le valeur maximal</td>
						<td></td>
					</tr>
					<tr>
						<td>l'index de résultat</td>
						<td></td>
					</tr>
					<tr>
						<td>l'explication</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/business-rules-action-setattribute-example.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/business-rules-action-delete-button.png') }}" alt="" />
			</p>
			<h1 id="modification-d-une-regle">
				Modification d'une règle
			</h1>
			<h1 id="suppression-d-une-regle">
				Suppression d'une règle
			</h1>
			<p>Pour supprimer une régle, dépliez le panneau « Règles métier » puis cliquez sur le bouton « Supprimer » de la barre de titre de la règle que vous souhaitez supprimer :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/simulators-management-rule-delete-button.png') }}" alt="" />
			</p>
			<p>Puis confirmez la suppression :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-rule-delete-confirm.png') }}" alt="" />
			</p>
			<h1 id="tri-des-regles">
				Tri des règles
			</h1>
		</div>
	</div>
</div>
