<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>
			G6K: Guide d'administration
		</h1>
		<p class="lead">Gestion des sources de données de référence</p>
	</div>
</header>
<div class="container">
	<div class="row">
		<div class="span3 bs-docs-sidebar">
			<ul class="nav nav-list bs-docs-sidenav" data-spy="affix">
				<li data-level="1"><a href="#source-de-donnees">Source de données</a></li>
				<li data-level="1"><a href="#source-de-donnees-interne.">Source de données interne.</a></li>
				<li data-level="2"><a href="#creation-de-la-source-de-donnees">Création de la source de données</a></li>
				<li data-level="3"><a href="#creation-des-tables">Création des tables</a></li>
				<li data-level="3"><a href="#alimentation-des-tables">Alimentation des tables</a></li>
				<li data-level="3"><a href="#import-de-donnees-dans-les-tables">Import de données dans les tables</a></li>
				<li data-level="3"><a href="#modifier-la-structure-d-une-table">Modifier la structure d'une table</a></li>
				<li data-level="3"><a href="#supprimer-une-table">Supprimer une table</a></li>
				<li data-level="2"><a href="#exporter-une-source-de-donnees">Exporter une source de données</a></li>
				<li data-level="2"><a href="#modifier-une-source-de-donnees">Modifier une source de données</a></li>
				<li data-level="2"><a href="#supprimer-une-source-de-donnees">Supprimer une source de données</a></li>
				<li data-level="2"><a href="#import-de-la-source-de-donnees">Import de la source de données</a></li>
				<li data-level="1"><a href="#source-de-donnees-externe.">Source de données externe.</a></li>
				<li data-level="2"><a href="#base-de-donnees-distante">Base de données distante</a></li>
				<li data-level="3"><a href="#declaration-de-la-source-de-donnees">Déclaration de la source de données</a></li>
				<li data-level="4"><a href="#declaration-des-tables">Déclaration des tables</a></li>
				<li data-level="2"><a href="#web-service">Web service</a></li>
				<li data-level="3"><a href="#declaration-de-la-source-de-donnees-1">Déclaration de la source de données</a></li>
			</ul>
		</div>
		<div class="span9">
			<h1 id="source-de-donnees">
				Source de données
			</h1>
			<p>Une source de données permet à un simulateur d'interroger les valeurs de référence du domaine de la simulation pour réaliser la simulation.</p>
			<p>La source de données peut être interne, c'est-à-dire que les valeurs sont stockées dans une base de données gérée par G6K, ou externe, c'est-à-dire que les valeurs sont fournies soit via des requêtes sur une bases de données distante, soit via un web service (API).</p>
			<p>Dans tous les cas, vous devez déclarer la source afin qu'elle puisse être utilisée par le moteur de simulation.</p>
			<p>S'il s'agit d'une base de données (interne ou distante), vous devez également décrire les tables et leurs colonnes afin que le moteur de simulation puisse construire les requêtes permettant de retrouver les valeurs recherchées.</p>
			<p>S'il s'agit d'un web service, vous devez indiquer l'url de l'API ainsi que la méthode HTTP à mettre en oeuvre (GET ou POST). Les paramètres de l'API seront définis par le simulateur qui l'utilise au moment de la création de ce dernier.</p>
			<h1 id="source-de-donnees-interne.">
				Source de données interne.
			</h1>
			<h2 id="creation-de-la-source-de-donnees">
				Création de la source de données
			</h2>
			<p>Cliquez sur « Sources de données » de la barre de menu</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-datasources-buttonbar.png') }}" alt="" />
			</p>
			<p>
				puis sur 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-create-button.png') }}" alt="" />
				du menu latéral gauche.
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-create-internal.png') }}" alt="" />
			</p>
			<p><strong>Attributs :</strong></p>
			<ol>
				<li>« Nom » : Nom de la source de données sans espaces ni caractères spéciaux ou accentués.</li>
				<li>« Type » : Type de la source de données « Interne », « Base de données externe » ou « Web service externe (API Rest) ». Choisir « Interne ».</li>
				<li>« Base de données » / « Type » : Type de la base de données à choisir en fonction des SGBDR à votre disposition.</li>
				<li>« Nom de la base de données » : Nom de la base de données sans espaces ni caractères spéciaux ou accentués.</li>
				<li>« Libellé de la base de données » : A votre convenance.</li>
			</ol>
			<p>Pour les bases de données de type MySQL ou PostgreSQL, il faut renseigner également :</p>
			<ul>
				<li>Le « Serveur de base de données »,</li>
				<li>Le « Port de la base de données »,</li>
				<li>L’ « identifiant de connexion à la base de données »,</li>
				<li>Le « Mot de passe de la base de données ».</li>
			</ul>
			<p>L'identifiant de connexion et le mot de passe doivent vous être fournis par votre administrateur de bases de données. L'identifiant doit disposer du privilège de création de bases de données.</p>
			<p>Vous pouvez décrire la source de données dans l’espace « Description » prévu à cet effet.</p>
			<p>Cliquez sur « Enregistrer » pour sauvegarder la source.</p>
			<div class="alert alert-info" role="alert">
A NOTER : Le formulaire ne contient pas de bouton « Annuler ». Si vous souhaitez abandonner vos modifications, il suffit de passer à une autre page. Le cas échéant, le navigateur vous demandera de confirmer la sortie de la page du formulaire. C'est le cas pour tous les formulaires de saisie présentés dans ce document.
</div>
			<h3 id="creation-des-tables">
				Création des tables
			</h3>
			<p>
				Une fois la source de données enregistrée, la base de données est présente mais ne contient aucune table. Pour en créer une, cliquez sur le bouton 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-table-create-button.png') }}" alt="" />
				du menu latéral gauche.
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-table-create.png') }}" alt="" />
			</p>
			<p><strong>Attributs :</strong></p>
			<ol>
				<li>« Nom » : Nom de la table sans espaces ni caractères spéciaux ou accentués.</li>
				<li>« Libellé » : Titre de la table.</li>
			</ol>
			<p>Vous pouvez décrire la table dans l’espace « Description » prévu à cet effet.</p>
			<p>Le bouton « Ajouter un champ » vous permet d'ajouter des champs (colonnes) dans la base de données :</p>
			<p><strong>Attributs :</strong></p>
			<ol>
				<li>« Champ » : Nom du champ sans espaces ni caractères spéciaux ou accentués.</li>
				<li>« Type » : Type du champ.</li>
				<li>« Non nul » : Si la donnée contenue dans ce champ est obligatoire, sélectionnez « Oui » sinon sélectionnez « Non ».</li>
				<li>« Libellé » : Titre du champ.</li>
			</ol>
			<p>Assurez-vous d’ajouter tous les champs nécessaires avant d’enregistrer.</p>
			<p>Si vous ajoutez un champ après avoir enregistré, vous ne pourrez plus sélectionner « Oui » pour l'attribut « Non nul ». C'est une contrainte liée au SGBDR.</p>
			<p>La procédure est la même pour créer une autre table.</p>
			<h3 id="alimentation-des-tables">
				Alimentation des tables
			</h3>
			<p>
				Pour enregistrer des données dans la table, cliquez sur le bouton « Ajouter un enregistrement ».
				<br />
				Une ligne vierge s'affiche en début de table pour vous permettre de saisir les valeurs de l'enregistrement.
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-table-row-add.png') }}" alt="" />
			</p>
			<p>
				Une fois saisi les valeurs, cliquez sur le bouton « Enregistrer » pour les sauvegarder.
				<br />
				Si vous voulez modifier les valeurs, cliquez sur l'icône : 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/datasources-management-table-row-edit-button.png') }}" alt="" />
				, effectuer les modifications puis cliquez sur le bouton « Enregistrer » pour les sauvegarder.
				<br />
				Enfin, si vous voulez supprimer un enregistrement cliquez sur l'icône : 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/datasources-management-table-row-delete-button.png') }}" alt="" />
				, un bouton « Confirmer » apparaîtra, cliquez le pour supprimer définitivement l'enregistrement.
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-table-row-delete.png') }}" alt="" />
			</p>
			<p>Une fois confirmé, l'enregistrement sera supprimé de la base de données, mais la ligne restera affichée avec un bouton « Restaurer » si toutefois vous vous étiez trompé ou que vous changez d'avis.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-table-row-restore.png') }}" alt="" />
			</p>
			<p>Si vous cliquez sur « Restaurer », la ligne sera réenregistrée dans la base de données.</p>
			<p>Si vous ne cliquez pas sur « Restaurer », au prochain réaffichage de la page l'enregistrement n'apparaîtra plus dans la liste.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-table-row-deleted.png') }}" alt="" />
			</p>
			<h3 id="import-de-donnees-dans-les-tables">
				Import de données dans les tables
			</h3>
			<p>Un autre moyen d’alimenter votre table est d'importer des données au format .csv ou .txt provenant d'un fichier Excel. Si vous choisissez d'importer des données, cliquez sur le bouton « Importer données » de la barre de titre.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-table-import-button.png') }}" alt="" />
			</p>
			<p>
				Le message « Êtes-vous sûr de vouloir importer des données dans la table ‘Libellé de la table sélectionnée’ ? » s’affiche, appuyez sur « OK » pour confirmer.
				<br />
				L'écran suivant s’affiche :
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-table-import.png') }}" alt="" />
			</p>
			<p>Dans ce formulaire, une fois que vous aurez sélectionné le « Fichier texte » depuis le disque dur de votre ordinateur, il vous sera proposé le « Séparateur » et le « Délimiteur » les plus appropriés au format du fichier (selon son extension : .csv ou .txt).</p>
			<p>Si dans votre fichier vous avez une ligne titre avec les noms de colonnes, assurez-vous d'avoir nommé chaque colonne avec le nom du champ correspondant et non le libellé. Vous devez aussi vérifier que les valeurs affectées aux champs sont conformes à leurs types (par exemple que le champ « donnee&#95;1 » contient une valeur de type date).</p>
			<p>Si vous avez choisi de ne pas mettre de ligne de titre dans votre fichier, décochez la case « Nom des colonnes en première ligne ? ». Dans ce cas, les colonnes doivent être présentées dans l'ordre de déclaration des champs de la table.</p>
			<p>Exemple .csv (DOS ou point-virgule lors de l’enregistrement) :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-table-import-csv.png') }}" alt="" />
			</p>
			<p>Exemple .txt (Texte séparateur Tabulation lors de l’enregistrement) :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-table-import-txt.png') }}" alt="" />
			</p>
			<h3 id="modifier-la-structure-d-une-table">
				Modifier la structure d'une table
			</h3>
			<p>La structure de la table (son nom, son libellé, les caractéristiques de ses champs) peut être modifiée dans la limite des contraintes imposées par le SGBDR sous-jacent.
Des champs peuvent être rajoutés ou supprimés.</p>
			<p>Dans la barre latérale gauche, sélectionnez la source à laquelle appartient la table puis cliquez sur le libellé de la table dans le bloc du haut.</p>
			<p>Les informations de la table s'affichent, cliquez sur « Modifier la structure de la table » de la barre de titre :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-table-update-button.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-table-update-confirm.png') }}" alt="" />
			</p>
			<p>Confirmez l'action pour afficher le formulaire de modification.</p>
			<p>
				Le formulaire de modification prérempli est le même que celui présenté dans la section « Création des tables » au début de ce document.
				<br />
				Reportez-vous à cette section pour suivre la procédure.
			</p>
			<h3 id="supprimer-une-table">
				Supprimer une table
			</h3>
			<p>Dans la barre latérale gauche, sélectionnez la source à laquelle appartient la table puis cliquez sur le libellé de la table dans le bloc du haut.</p>
			<p>Les informations de la table s'affichent, cliquez sur « Supprimer » de la barre de titre :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-table-delete-button.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-table-delete-confirm.png') }}" alt="" />
			</p>
			<p>Confirmez l'action pour supprimer définitivement la table. Cette opération est irréversible.</p>
			<h2 id="exporter-une-source-de-donnees">
				Exporter une source de données
			</h2>
			<p>Vous pouvez exporter une source de données en vue de l'archiver, de la diffuser ou tout simplement l'importer dans une autre instance de G6K (Cf. supra).</p>
			<p>Cliquez sur « Sources de données » de la barre de menu.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-datasources-buttonbar.png') }}" alt="" />
			</p>
			<p>Puis cliquez sur la source de données à exporter dans la barre latérale gauche.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-export-button.png') }}" alt="" />
			</p>
			<p>Puis cliquez sur le bouton « Exporter » de la barre de titre.</p>
			<p>G6K génère deux fichiers au format JSON dont les caractéristiques sont les suivantes :</p>
			<p>
				Le premier fichier, dont le nom est formé avec le nom de la source suivi de l'extension .schema.json, décrit des données contenues dans la source.
				<br />
				La description des données est conforme à la spécification <a href="http://json-schema.org/">JSON schema</a> qui est à la fois une norme de description et une norme de validation de données JSON.
			</p>
			<p>Le deuxième fichier, dont le nom est formé avec le nom de la source suivi de l'extension .json., comporte les données contenues dans la source.</p>
			<p>
				Ces deux fichiers sont compressés dans un fichier qui porte également le nom de la source avec l'extension .zip.
				<br />
				Il vous est proposé en téléchargement pour archivage.
			</p>
			<h2 id="modifier-une-source-de-donnees">
				Modifier une source de données
			</h2>
			<p>Cliquez sur « Sources de données » de la barre de menu.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-datasources-buttonbar.png') }}" alt="" />
			</p>
			<p>Puis cliquez sur la source de données à modifier dans la barre latérale gauche.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-update-button.png') }}" alt="" />
			</p>
			<p>Puis cliquez sur le bouton « Modifier » de la barre de titre.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-update-confirm.png') }}" alt="" />
			</p>
			<p>Confirmez l'action pour afficher le formulaire de modification.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-update.png') }}" alt="" />
			</p>
			<p>
				Le formulaire prérempli est le même que celui présenté dans la section « Création de la source de données » au début de ce document.
				<br />
				Reportez-vous à cette section pour suivre la procédure.
			</p>
			<h2 id="supprimer-une-source-de-donnees">
				Supprimer une source de données
			</h2>
			<p>Cliquez sur « Sources de données » de la barre de menu</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-datasources-buttonbar.png') }}" alt="" />
			</p>
			<p>Puis cliquez sur la source de données à supprimer dans la barre latérale gauche.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-delete-button.png') }}" alt="" />
			</p>
			<p>Puis cliquez sur le bouton « Supprimer » de la barre de titre.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-delete-confirm.png') }}" alt="" />
			</p>
			<p>Confirmez l'action pour supprimer définitivement la source.</p>
			<p>Cette opération est irréversible. Si toutefois vous avez exporté la source de données (Cf. « Exporter une source de données » plus haut dans ce document), vous pouvez réimporter la source en suivant la procédure ci-dessous.</p>
			<h2 id="import-de-la-source-de-donnees">
				Import de la source de données
			</h2>
			<p>Vous avez la possibilité d’importer une source de données qui aurait été exportée d'une autre instance de G6K.</p>
			<p>Extraire les 2 fichiers de l'archive sur votre ordinateur.</p>
			<p>Cliquez sur le bouton « Importer source de données » de la barre latérale gauche.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-import-button.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-import.png') }}" alt="" />
			</p>
			<p><strong>Attributs :</strong></p>
			<ol>
				<li>« Fichier du schéma JSON » : Cliquez sur « Choisissez un fichier » et sélectionnez le fichier .schema.json.</li>
				<li>« Fichier des données JSON » : Cliquez sur « Choisissez un fichier » et sélectionnez le fichier .json.</li>
			</ol>
			<h1 id="source-de-donnees-externe.">
				Source de données externe.
			</h1>
			<h2 id="base-de-donnees-distante">
				Base de données distante
			</h2>
			<h3 id="declaration-de-la-source-de-donnees">
				Déclaration de la source de données
			</h3>
			<p>Cliquez sur « Sources de données » de la barre de menu</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-datasources-buttonbar.png') }}" alt="" />
			</p>
			<p>
				puis sur 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-create-button.png') }}" alt="" />
				du menu latéral gauche.
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-create-external.png') }}" alt="" />
			</p>
			<p><strong>Attributs :</strong></p>
			<ol>
				<li>« Nom » : Nom de la source de données sans espaces ni caractères spéciaux ou accentués.</li>
				<li>« Type » : Type de la source de données « Interne », « Base de données externe » ou « Web service externe (API Rest) ». Choisir « Base de données externe ».</li>
				<li>« Base de données » / « Type » : Type de la base de données (MySQL ou PostgreSQL).</li>
				<li>« Nom de la base de données » : Nom de la base de données sans espaces ni caractères spéciaux ou accentués.</li>
				<li>« Libellé de la base de données » : A votre convenance.</li>
				<li>« Serveur de base de données » : Nom du serveur ou son adresse IP.</li>
				<li>« Port de la base de données » : numéro du port, en général sur 4 chiffres.</li>
				<li>« Identifiant de connexion à la base de données » : Identifiant d'un utilisateur disposant du privilège SELECT.</li>
				<li>« Mot de passe de la base de données » : Mot de passe associé à l'identifiant.</li>
			</ol>
			<p>Vous pouvez décrire la source de données dans l’espace « Description » prévu à cet effet.</p>
			<h4 id="declaration-des-tables">
				Déclaration des tables
			</h4>
			<p>La déclaration des tables est identique à la création des tables d'une source de données interne.</p>
			<h2 id="web-service">
				Web service
			</h2>
			<h3 id="declaration-de-la-source-de-donnees-1">
				Déclaration de la source de données
			</h3>
			<p>Cliquez sur « Sources de données » de la barre de menu</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-datasources-buttonbar.png') }}" alt="" />
			</p>
			<p>
				puis sur 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-create-button.png') }}" alt="" />
				du menu latéral gauche.
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/datasources-management-create-webservice.png') }}" alt="" />
			</p>
			<p><strong>Attributs :</strong></p>
			<ol>
				<li>« Nom » : Nom de la source de données sans espaces ni caractères spéciaux ou accentués.</li>
				<li>« Type » : Type de la source de données « Interne », « Base de données externe » ou « Web service externe (API Rest) ». Choisir « Web service externe (API Rest) ».</li>
				<li>« URI » : URI du webservice sans paramètres.</li>
				<li>« Méthode » : GET (les paramètres sont ajoutés à l'URI) ou POST (les paramètres sont transmis dans le corps du message HTTP).</li>
			</ol>
			<p>Vous pouvez décrire la source de données dans l’espace « Description » prévu à cet effet.</p>
			<p>Les paramètres transmis à l'API sont définis par chacun des simulateurs utilisant l'API.</p>
			<p>Si l'URI du webservice comporte un chemin fixe indépendant des requêtes, le faire figurer dans l'URI.</p>
			<p>S'il existe un chemin variable en fonction des requêtes soumises au web service, ne pas le mettre dans l'URI, il appartiendra au simulateur de compléter l'URI avec le chemin approprié.</p>
		</div>
	</div>
</div>
