<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>
			G6K: Guide d'administration
		</h1>
		<p class="lead">Composant visuel de fabrication de requêtes simples</p>
	</div>
</header>
<div class="container">
	<div class="row">
		<div class="span3 bs-docs-sidebar">
			<ul class="nav nav-list bs-docs-sidenav" data-spy="affix">
				<li data-level="1"><a href="#vue-d-ensemble">Vue d'ensemble</a></li>
				<li data-level="1"><a href="#usage">Usage</a></li>
				<li data-level="2"><a href="#selection-de-la-table">Sélection de la table</a></li>
				<li data-level="2"><a href="#selection-des-colonnes">Sélection des colonnes</a></li>
				<li data-level="2"><a href="#composition-du-filtre">Composition du filtre</a></li>
				<li data-level="2"><a href="#tri-des-lignes-de-resultat">Tri des lignes de résultat</a></li>
				<li data-level="2"><a href="#limiter-le-nombre-de-lignes-de-resultat">Limiter le nombre de lignes de résultat</a></li>
				<li data-level="2"><a href="#definition-des-parametres">Définition des paramètres</a></li>
				<li data-level="1"><a href="#fonctions">Fonctions</a></li>
				<li data-level="2"><a href="#sqlite">SQLite</a></li>
				<li data-level="2"><a href="#mysql">MySQL</a></li>
				<li data-level="2"><a href="#postgresql">PostgreSQL</a></li>
			</ul>
		</div>
		<div class="span9">
			<h1 id="vue-d-ensemble">
				Vue d'ensemble
			</h1>
			<p>Ce composant UI est un assistant visuel permettant de composer des requêtes simples d'accès aux bases de données des sources de données de référence.</p>
			<p>Une requête simple est une requête qui ne porte que sur une seule table et qui ne comporte pas de requêtes imbriquées.</p>
			<p>Le résultat de l'exécution de la requête est un ensemble de lignes de résultats que l'on peut filtrer de deux manières :</p>
			<ul>
				<li>soit en ne gardant que les lignes qui respecte une certaine condition</li>
				<li>soit en ne gardant que p lignes à partir de la ligne numéro q (les lignes sont numérotés de 0 à n)</li>
			</ul>
			<p>Les conditions sont des expressions que l'on compose avec le nom des colonnes</p>
			<p>Les lignes de résultats ne comportent que les colonnes que l'on a sélectionnées et peuvent être triées dans un ordre déterminé.</p>
			<h1 id="usage">
				Usage
			</h1>
			<p>Ce composant est utilisé dans le volet « Simulateurs » du module d'administration. Cf. la section <a href="{{ path('eureka_g6k_admin_documentation', {'document': 'simulators-management' }) }}#sources-de-donnees-utilisees">Sources de données utilisées</a> du guide de gestion des simulateurs.</p>
			<p>Dans le formulaire de définition de la source de données que vous aurez ouvert, seule la partie concernant les requêtes simples ci-dessous est traitée dans ce document :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/query-builder-form-empty.png') }}" alt="" />
			</p>
			<h2 id="selection-de-la-table">
				Sélection de la table
			</h2>
			<p>Dans la boite à liste du champ « Table », seules les tables de la source de données choisies dans le volet « Simulateurs » vous sont proposées. Sélectionnez la table sur laquelle porte la requête.</p>
			<h2 id="selection-des-colonnes">
				Sélection des colonnes
			</h2>
			<p>Les colonnes sont les valeurs des champs de la table que vous souhaitez récupérer après l'exécution de la requête.</p>
			<p>
				G6K permet de définir des pseudo-colonnes à l'aide d'expressions.
				<br />
				Ces expressions contiennent le plus souvent des noms réels de colonnes de la table mais ce n'est pas obligatoire.
				<br />
				Les pseudo-colonnes doivent posséder un nom d'alias permettant de les référencer en tant qu'indice de résultat dans le simulateur.
			</p>
			<p>Pour définir une colonne ou une pseudo-colonne, cliquez dans le champ « Colonnes sélectionnées » ou sur le signe « + » à droite du champ :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/query-builder-column-add.png') }}" alt="" />
			</p>
			<p>Devant la boite à liste qui s'est affichée, le « X » permet de supprimer la colonne.</p>
			<p>Cliquez sur la boite à liste :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/query-builder-expression-listbox.png') }}" alt="" />
			</p>
			<p>puis sélectionner le champ de la table ou reportez-vous à la page <a href="{{ path('eureka_g6k_admin_documentation', {'document': 'expression-builder' }) }}">Composition des expressions</a> pour composer une pseudo-colonne.</p>
			<p>Les fonctions sont spécifiques à la base de données de la source, elles sont définies <a href="#fonctions">ci-après</a>.</p>
			<p>Si vous avez simplement sélectionné un champ sans composer d'expression, la saisie de la colonne est terminée sinon vous devez entrer un alias :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/query-builder-column-alias-ask.png') }}" alt="" />
			</p>
			<p>Cliquez sur « Cliquez pour entrer l'alias de la colonne », saisissez l'alias (sans espaces ni caractères spéciaux ou accentués) dans la boite de saisie puis appuyez sur la touche « Entrée ».</p>
			<p>Pour définir une nouvelle colonne ou une pseudo-colonne, cliquez dans l'espace vide du champ ou sur le signe « + ».</p>
			<p>Le nombre de colonnes n'est pas limité.</p>
			<h2 id="composition-du-filtre">
				Composition du filtre
			</h2>
			<p>
				Sans filtre, la requête retournerait toutes les lignes de la table, ce qui n'est pas souhaitable sauf si on souhaite constituer une liste de choix à partir de l'intégralité de la table.
				<br />
				Le filtre permet de ne retenir que les lignes qui répondent à une certaine condition. Ce peut être une condition simple ou une condition combinée.
			</p>
			<p>Une condition à la syntaxe suivante :</p>
			<pre class="prettyprint">
&lt;condition&gt; : &lt;condition simple&gt; | &lt;condition combinée&gt;
&lt;condition simple&gt; : &lt;expression&gt;&lt;operateur de comparaison&gt;&lt;expression&gt;
&lt;condition combinée&gt; : &lt;conjonction&gt; | &lt;disjonction&gt;
&lt;conjonction&gt; : &lt;condition&gt; <span class="label label-default">et</span> &lt;condition&gt; | <span class="label label-default">(</span> &lt;condition&gt; <span class="label label-default">et</span> &lt;condition&gt; <span class="label label-default">)</span>
&lt;disjonction&gt; : &lt;condition&gt; <span class="label label-default">ou</span> &lt;condition&gt; | <span class="label label-default">(</span> &lt;condition&gt; <span class="label label-default">ou</span> &lt;condition&gt; <span class="label label-default">)</span>
&lt;expression&gt; : &lt;opérande&gt;[&lt;opérateur arithmétique&gt;&lt;opérande&gt;]
&lt;opérande&gt; : &lt;expression&gt;|&lt;opérande&gt;
</pre>
			<p>Se reporter <a href="{{ path('eureka_g6k_admin_documentation', {'document': 'business-rules' }) }}#operateurs">ici</a> pour la liste des opérateurs de comparaison et <a href="{{ path('eureka_g6k_admin_documentation', {'document': 'expression-builder' }) }}#operateurs">ici</a> pour la liste des opérateurs numériques.</p>
			<p>Pour composer le filtre, cliquez dans le champ « Filtre » ou sur le signe « + » à droite du champ :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/query-builder-filter-add.png') }}" alt="" />
			</p>
			<p>Cliquez sur la boite à liste :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/query-builder-expression-listbox.png') }}" alt="" />
			</p>
			<p>
				Dans cet exemple, il y a deux paramètres : « droitVH » et « nbEnfants ». Les paramètres contiennent des constantes, des valeurs des données saisies par l'utilisateurs, des données calculées ou des données provenant d'autres sources.
				<br />
				Si vous avez besoin de paramètres pour constituer votre requête, validez le formulaire sans saisir de filtre puis cliquez sur « Modifier ».
				<br />
				Un panneau « Paramètres » s'affiche en dessous du formulaire pour vous permettre d'en définir. Se reporter à la section <a href="#definition-des-parametres">Définition des paramètres</a> de cette page.
			</p>
			<p>Pour composer une expression depuis cette liste, reportez-vous à la page <a href="{{ path('eureka_g6k_admin_documentation', {'document': 'expression-builder' }) }}">Composition des expressions</a>.</p>
			<p>Après saisie de l'expression, « Cliquez pour sélectionner l'opérateur » s'affiche :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/query-builder-filter-operator-ask.png') }}" alt="" />
			</p>
			<p>Cliquez pour choisir l'opérateur de comparaison :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/query-builder-filter-operators-list.png') }}" alt="" />
			</p>
			<p>Une fois choisi l'opérateur, vous pouvez composer la deuxième expression :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/query-builder-filter-right-expression.png') }}" alt="" />
			</p>
			<p>Vous avez terminé la saisie d'une première condition, vous pouvez en saisir d'autres en cliquant dans l'espace vide du champ ou sur le signe « + »</p>
			<p>A partir de la deuxième condition, les conditions sont numérotées et un bouton s'affiche au-dessus du champ pour vous permettre de combiner les conditions :</p>
			<p>En cliquant sur ce bouton, vous obtenez trois possibilités de combinaison :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/query-builder-filter-combined-all.png') }}" alt="" />
			</p>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Combinaison</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Toutes les conditions suivantes :</td>
						<td>Combine toutes les conditions avec le connecteur 'et'</td>
					</tr>
					<tr>
						<td>L'une des conditions suivantes :</td>
						<td>Combine toutes les conditions avec le connecteur 'ou'</td>
					</tr>
					<tr>
						<td>Avancée</td>
						<td>Permet de combiner les conditions avec des 'et', des 'ou' et des parenthèses</td>
					</tr>
				</tbody>
			</table>
			<p>Le mode « Avancée » affiche une barre en dessous des conditions permettant de combiner les conditions par leurs numéros :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/query-builder-filter-combined-advanced.png') }}" alt="" />
			</p>
			<p>
				Cliquer sur un connecteur 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/query-builder-filter-combined-and.png') }}" alt="" />
				le change en 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/query-builder-filter-combined-or.png') }}" alt="" />
				, cliquer sur un connecteur 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/query-builder-filter-combined-or.png') }}" alt="" />
				le change en 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/query-builder-filter-combined-and.png') }}" alt="" />
				.
			</p>
			<p>
				Cliquez sur le bouton 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/query-builder-filter-combined-brackets-button.png') }}" alt="" />
				pour ajouter une paire de parenthèses ouvrante et fermante.
			</p>
			<p>La parenthèse ouvrante se place en début de condition, la fermante en fin de condition.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/query-builder-filter-combined-brackets.png') }}" alt="" />
			</p>
			<p>Vous pouvez supprimer une paire de parenthèse en cliquant sur la croix rouge au-dessus d'une des deux parenthèses.</p>
			<p>Vous pouvez déplacer chacun des éléments (chiffre, connecteur ou parenthèse) de la condition en les faisant glisser d'une position à l'autre.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/query-builder-filter-combined-condition.png') }}" alt="" />
			</p>
			<h2 id="tri-des-lignes-de-resultat">
				Tri des lignes de résultat
			</h2>
			<p>Vous pouvez trier les lignes de résultats selon plusieurs critères (clés de tri), en ordre croissant ou décroissant.</p>
			<p>Les critères peuvent être de noms de colonnes ou des expressions.</p>
			<p>Pour ajouter un critère, cliquez dans le champ « Trié par » ou sur le signe « + » à droite du champ :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/query-builder-orderby-add.png') }}" alt="" />
			</p>
			<p>Cliquez sur la boite à liste pour choisir un champ ou composer une expression.</p>
			<p>Pour changer l'ordre de tri sur ce critère, cliquez sur « en ordre croissant ».</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/query-builder-orderby-asc-desc.png') }}" alt="" />
			</p>
			<p>Vous avez terminé la saisie d'un critère, vous pouvez en saisir d'autres en cliquant dans l'espace vide du champ ou sur le signe « + »</p>
			<p>Pour supprimer un critère, cliquez sur le « X » à gauche du critère.</p>
			<h2 id="limiter-le-nombre-de-lignes-de-resultat">
				Limiter le nombre de lignes de résultat
			</h2>
			<p>
				Une autre façon de filtrer les résultats de la requête est de limiter le nombre de lignes retournées de façon inconditionnelle.
				<br />
				Les champs « Nombre de résultats » et « à partir de » du formulaire permettent de définir une "fenêtre" de lignes sur l'ensemble des lignes de résultats.
			</p>
			<p>
				« Nombre de résultats » : Nombre lignes de résultats que vous souhaitez récupérer. « 0 » signifie : toutes les lignes.
				<br />
				« à partir de » : Numéro de la première ligne que vous souhaitez récupérer. Les lignes sont numérotées de 0 à n.
			</p>
			<h2 id="definition-des-parametres">
				Définition des paramètres
			</h2>
			<p>Les paramètres permettent d'introduire des données variables dans des requêtes. Ces requêtes sont dites "paramétrées".</p>
			<p>Les contenus des paramètres sont soit des constantes, soit des données saisies par l'utilisateur, des données calculées ou des données provenant d'autres sources</p>
			<p>Pour accéder au panneau des paramètres d'une source, cliquez sur le bouton « Modifier » de la barre de titre du panneau de la source.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/query-builder-parameter-empty.png') }}" alt="" />
			</p>
			<p>Pour ajouter un paramètre, cliquez sur le bouton « Ajouter un paramètre » :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/query-builder-parameter-data.png') }}" alt="" />
			</p>
			<p>Le champ « Provenance » est positionné par défaut sur « Donnée » et le champ « Donnée » est affiché en dessous pour vous permettre de choisir la donnée.</p>
			<p>Si vous sélectionnez « Constante » dans le champ « Provenance », le champ du dessous est remplacé par « Constante » avec un champ de saisie de texte :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/query-builder-parameter-contant.png') }}" alt="" />
			</p>
			<p><strong>Attributs :</strong></p>
			<ul>
				<li>« Nom » : Nom du paramètre sans espace ni caractères spéciaux ou accentués</li>
				<li>« Provenance » : Provenance de la donnée : « Constante » ou « Donnée »</li>
				<li>« Donnée » : Donnée variable alimentant le paramètre</li>
				<li>« Constante » : Valeur fixe affectée au paramètre</li>
				<li>« Optionnel » : Si la case est cochée, le paramètre ne sera pas transmis à la requête s'il ne contient aucune valeur.</li>
			</ul>
			<h1 id="fonctions">
				Fonctions
			</h1>
			<h2 id="sqlite">
				SQLite
			</h2>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Fonction</th>
						<th>Description</th>
						<th align="center">Nombre d'arguments</th>
						<th>Type retourné</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>abs</td>
						<td>renvoie la valeur absolue de l'argument numérique</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>ifnull</td>
						<td>renvoie une copie de son premier argument non-NULL, ou NULL si les deux arguments sont NULL</td>
						<td align="center">2</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>instr</td>
						<td>Trouve la sous-chaîne (argument 1) dans la chaîne (argument 2) et renvoie un entier indiquant la position de la première occurrence de la sous-chaîne.</td>
						<td align="center">2</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>length</td>
						<td>renvoie la longueur de la chaîne passée en argument</td>
						<td align="center">1</td>
						<td>entier</td>
					</tr>
					<tr>
						<td>like</td>
						<td>renvoie true si l'argument 2 correspond au motif fournit dans l'argument 1, false sinon</td>
						<td align="center">2</td>
						<td>booléen</td>
					</tr>
					<tr>
						<td>lower</td>
						<td>convertit la chaîne en lettres minuscules</td>
						<td align="center">1</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>ltrim</td>
						<td>renvoie une chaîne dont les caractères blancs au début de la chaîne fournie en argument sont supprimés</td>
						<td align="center">1</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>max</td>
						<td>renvoie la plus grande des valeurs fournies en arguments</td>
						<td align="center">-1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>min</td>
						<td>renvoie la plus petite des valeurs fournies en arguments</td>
						<td align="center">-1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>nullif</td>
						<td>renvoie NULL si le premier argument est égal au second argument.</td>
						<td align="center">2</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>quote</td>
						<td>renvoie une chaîne qui est la valeur de son argument sous une forme appropriée pour l'inclusion dans une instruction SQL. Les chaînes sont entourées de guillemets simples avec des échappements sur des guillemets intérieurs au besoin.</td>
						<td align="center">1</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>random</td>
						<td>renvoie un entier pseudo-aléatoire entre -9223372036854775808 et 9223372036854775807</td>
						<td align="center">0</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>replace</td>
						<td>renvoie une copie de la chaîne en argument 1 avec chaque instance de la sous-chaîne en argument 2 remplacée par la sous-chaîne en argument 3</td>
						<td align="center">3</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>round</td>
						<td>arrondi une valeur numérique à la précision spécifiée</td>
						<td align="center">2</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>rtrim</td>
						<td>renvoie une chaîne dont les caractères blancs de la fin de la chaîne fournie en argument sont supprimés</td>
						<td align="center">1</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>soundex</td>
						<td>renvoie une chaîne qui est le codage soundex de la chaîne passée en argument</td>
						<td align="center">1</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>trim</td>
						<td>renvoie une chaîne dont les caractères blancs au début et à la fin de la chaîne fournie en argument sont supprimés</td>
						<td align="center">1</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>upper</td>
						<td>convertit la chaîne en lettres majuscules</td>
						<td align="center">1</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>strftime</td>
						<td>Formate la date en fonction de la chaîne de format spécifiée.</td>
						<td align="center">2</td>
						<td>texte</td>
					</tr>
				</tbody>
			</table>
			<h2 id="mysql">
				MySQL
			</h2>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Fonction</th>
						<th>Description</th>
						<th align="center">Nombre d'arguments</th>
						<th>Type retourné</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>ascii</td>
						<td>retourne le code ASCII du premier caractère de l'argument</td>
						<td align="center">1</td>
						<td>entier</td>
					</tr>
					<tr>
						<td>char</td>
						<td>retourne le caractère correspondant au code ascii fourni dans l'argument 1</td>
						<td align="center">1</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>char_length</td>
						<td>renvoie la longueur de la chaîne passée en argument</td>
						<td align="center">1</td>
						<td>entier</td>
					</tr>
					<tr>
						<td>character_length</td>
						<td>renvoie la longueur de la chaîne passée en argument</td>
						<td align="center">1</td>
						<td>entier</td>
					</tr>
					<tr>
						<td>format</td>
						<td>formate l'argument 1 avec le format #,###,###.## et l'arrondi avec le nombre de décimales spécifié dans l'argument 2</td>
						<td align="center">2</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>insert</td>
						<td>retourne une chaîne de caractères, après avoir remplacé la portion de chaîne de l'argument 1, commençant à la position spécifiée par l'argument 2 et de longueur en caractères spécifiée par l'argument 3, par la chaîne de l'argument 4</td>
						<td align="center">4</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>instr</td>
						<td>retourne la position de la première occurrence de la chaîne de l'argument 2 dans la chaîne de caractères de l'argument 1</td>
						<td align="center">2</td>
						<td>entier</td>
					</tr>
					<tr>
						<td>left</td>
						<td>retourne les caractères les plus à gauche de la chaîne de caractères de l'argument 1, de la longueur spécifiée par l'argument 2</td>
						<td align="center">2</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>length</td>
						<td>renvoie la longueur de la chaîne passée en argument</td>
						<td align="center">1</td>
						<td>entier</td>
					</tr>
					<tr>
						<td>locate</td>
						<td>retourne la position de la première occurrence de la chaîne de l'argument 1 dans la chaîne de caractères de l'argument 2 , à partir de la position spécifiée par l'argument 3</td>
						<td align="center">3</td>
						<td>entier</td>
					</tr>
					<tr>
						<td>lower</td>
						<td>convertit la chaîne en lettres minuscules</td>
						<td align="center">1</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>lpad</td>
						<td>complète l'argument 1 à sa gauche avec la chaîne en argument 3 répétée plusieurs fois jusqu'à ce que la chaîne atteigne la longueur spécifiée en argument 2</td>
						<td align="center">3</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>ltrim</td>
						<td>renvoie une chaîne dont les caractères blancs au début de la chaîne fournie en argument sont supprimés</td>
						<td align="center">1</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>mid</td>
						<td>renvoie la sous-chaîne extraite de la chaîne passée en argument 1 à partir de la position en argument 2, d'une longueur spécifiée par l'argument 3</td>
						<td align="center">3</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>position</td>
						<td>retourne la position de la première occurrence de la chaîne de l'argument 1 dans la chaîne de caractères de l'argument 2 , à partir de la position spécifiée par l'argument 3</td>
						<td align="center">3</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>quote</td>
						<td>renvoie une chaîne qui est la valeur de son argument sous une forme appropriée pour l'inclusion dans une instruction SQL. Les chaînes sont entourées de guillemets simples avec des échappements sur des guillemets intérieurs au besoin.</td>
						<td align="center">1</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>repeat</td>
						<td>retourne une chaîne de caractères constituée de la répétition de la chaîne de l'argument 1, d'un nombre de fois spécifié par l'argument 2. Si nombre de fois &lt;= 0, retourne une chaîne vide. Retourne NULL su un des deux arguments est NULL</td>
						<td align="center">2</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>replace</td>
						<td>renvoie une copie de la chaîne en arguement 1 avec chaque instance de la sous-chaîne en argument 2 remplacée par la sous-chaîne en argument 3</td>
						<td align="center">3</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>reverse</td>
						<td>retourne une chaîne dont l'ordre des caractères est l'inverse de la chaîne fournie en l'argument</td>
						<td align="center">1</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>right</td>
						<td>retourne les caractères les plus à droite de la chaîne de caractères de l'argument 1, de la longueur spécifiée par l'argument 2</td>
						<td align="center">2</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>rpad</td>
						<td>complète l'argument 1 à sa droite avec la chaîne en argument 3 répétée plusieurs fois jusqu'à ce que la chaîne atteigne la longueur spécifiée en argument 2</td>
						<td align="center">3</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>rtrim</td>
						<td>renvoie une chaîne dont les caractères blancs de la fin de la chaîne fournie en argument sont supprimés</td>
						<td align="center">1</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>soundex</td>
						<td>renvoie une chaîne qui est le codage soundex de la chaîne passée en argument</td>
						<td align="center">1</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>space</td>
						<td>retourne une chaîne constituée du nombre d'espaces fourni en argument</td>
						<td align="center">1</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>substring</td>
						<td>renvoie la sous-chaîne extraite de la chaîne passée en argument 1 à partir de la position en argument 2, d'une longueur spécifiée par l'argument 3</td>
						<td align="center">3</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>substring_index</td>
						<td>retourne une portion de la chaîne de caractères de l'argument 1, située avant le nombre d'occurences spécifié par l'argument 3, du délimiteur spécifié par l'argument 2. Si l'argument 3 est positif, tout ce qui précède le délimiteur sera retourné. Si l'argument 3 est négatif, tout ce qui suit le délimiteur sera retourné</td>
						<td align="center">3</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>trim</td>
						<td>renvoie une chaîne dont les caractères blancs au début et à la fin de la chaîne fournie en argument sont supprimés</td>
						<td align="center">1</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>upper</td>
						<td>convertit la chaîne en lettres majuscules</td>
						<td align="center">1</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>abs</td>
						<td>renvoie la valeur absolue de l'argument numérique</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>acos</td>
						<td>renvoie l'arc cosinus de la valeur passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>asin</td>
						<td>renvoie l'arc sinus de la valeur passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>atan</td>
						<td>renvoie l'arc tangente de la valeur passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>atan2</td>
						<td>renvoie l'arc tangente 2 de la valeur passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>ceil</td>
						<td>renvoie la plus petite valeur entière supérieure ou égale à la valeur passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>ceiling</td>
						<td>renvoie la plus petite valeur entière supérieure ou égale à la valeur passée en argument. Alias de la fonction ceil</td>
						<td align="center">1</td>
						<td>entier</td>
					</tr>
					<tr>
						<td>cos</td>
						<td>renvoie le cosinus de la valeur passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>cot</td>
						<td>renvoie la cotangente de la valeur passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>degrees</td>
						<td>convertit en degrés la valeur en radians passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>exp</td>
						<td>renvoie l'exponentiel de la valeur passée en argument, c-à-d la la valeur de e portée à la puissance de l'argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>floor</td>
						<td>renvoie la plus grande valeur entière inférieure ou égale à la valeur passée en argument</td>
						<td align="center">1</td>
						<td>entier</td>
					</tr>
					<tr>
						<td>ln</td>
						<td>renvoie le logarithme naturel (népérien) de la valeur passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>log</td>
						<td>renvoie le logarithme de la valeur passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>log10</td>
						<td>renvoie le logarithme base 10 de la valeur passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>log2</td>
						<td>renvoie le logarithme base 2 de la valeur passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>power</td>
						<td>renvoie la valeur de l'argument 1 élevé à la puissance de la valeur de l'argument 2</td>
						<td align="center">2</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>radians</td>
						<td>convertit en radians la valeur en degrés passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>rand</td>
						<td>retourne une valeur aléatoire comprise entre 0 et 1 inclus avec l'argument comme valeur de départ</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>round</td>
						<td>arrondi la valeur de l'argument 1 à la valeur la plus proche avec le nombre de décimal passé en argument 2</td>
						<td align="center">2</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>sin</td>
						<td>renvoie le sinus de la valeur passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>sqrt</td>
						<td>renvoie la racine carrée de la valeur passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>tan</td>
						<td>renvoie la tangente de la valeur passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>truncate</td>
						<td>tronque l'argument 1 du nombre de décimales fournie en argument 2 et retourne le résultat</td>
						<td align="center">2</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>adddate</td>
						<td>Ajoute à la date figurant dans l'argument 1, le nombre de jours spécifié dans l'argument 2</td>
						<td align="center">2</td>
						<td>date</td>
					</tr>
					<tr>
						<td>date_format</td>
						<td>retourne la date fournie en argument 1, formaté avec le format spécifié en argument 2. Cf. la liste des spécificateurs de format supra.</td>
						<td align="center">2</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>datediff</td>
						<td>retourne le nombre de jours entre les 2 dates fournies en arguments</td>
						<td align="center">2</td>
						<td>entier</td>
					</tr>
					<tr>
						<td>dayname</td>
						<td>renvoie le nom du jour de semaine de la date fournie en argument</td>
						<td align="center">1</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>dayofmonth</td>
						<td>retourne le jour du mois (1 à 31) de la date fournie en argument</td>
						<td align="center"></td>
						<td>1|entier</td>
					</tr>
					<tr>
						<td>dayofweek</td>
						<td>retourne l'index du jour de la semaine pour date ( 1 = dimanche, 2 = lundi, ..., 7 = samedi)</td>
						<td align="center">1</td>
						<td>entier</td>
					</tr>
					<tr>
						<td>dayofyear</td>
						<td>retourne le jour de l'année (1 à 366) de la date fournie en argument</td>
						<td align="center">1</td>
						<td>entier</td>
					</tr>
					<tr>
						<td>from_days</td>
						<td>retourne la date calculée à partir du nombre de jours écoulé depuis l'année 0 fourni en argument</td>
						<td align="center">1</td>
						<td>date</td>
					</tr>
					<tr>
						<td>last_day</td>
						<td>retourne la date du dernier jour du mois pour la date fournie en argument</td>
						<td align="center">1</td>
						<td>date</td>
					</tr>
					<tr>
						<td>makedate</td>
						<td>retourne la date calculée à partir de l'année fournie en argument 1 et du jour dans l'année fournie en argument 2.</td>
						<td align="center">3</td>
						<td>date</td>
					</tr>
					<tr>
						<td>month</td>
						<td>retourne le mois de la date fournie en argument, dans la fourchette de 1 à 12</td>
						<td align="center">1</td>
						<td>entier</td>
					</tr>
					<tr>
						<td>monthname</td>
						<td>retourne le nom complet du mois de la date fournie en argument</td>
						<td align="center">1</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>now</td>
						<td>retourne la date courante</td>
						<td align="center">0</td>
						<td>date</td>
					</tr>
					<tr>
						<td>quarter</td>
						<td>retourne le trimestre de la date fournie en argument, dans la fourchette de 1 à 4</td>
						<td align="center">1</td>
						<td>entier</td>
					</tr>
					<tr>
						<td>str_to_date</td>
						<td>retourne la date correspondant à la chaîne fournie en argument1, dont le format est spécifié en argument 2. Cf. la liste des spécificateurs de format supra.</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>subdate</td>
						<td>soustrait le nombre de jours fourni en argument 2 à la date fournie en argument 1.</td>
						<td align="center">2</td>
						<td>date</td>
					</tr>
					<tr>
						<td>to_days</td>
						<td>retourne le nombre de jours écoulé depuis l'année 0 jusqu'à la date fournie en argument</td>
						<td align="center">1</td>
						<td>entier</td>
					</tr>
					<tr>
						<td>week</td>
						<td>retourne le numéro de la semaine de la date fournie en argument 1 selon le premier jour de la semaine fourni en argument 2 (nombre pair de 0 à 6 = dimanche, numéro impair de 1 à 7 = lundi)</td>
						<td align="center">2</td>
						<td>entier</td>
					</tr>
					<tr>
						<td>weekday</td>
						<td>retourne l'index du jour de semaine de la date fournie en argument ( 0 = lundi, 1 = mardi, ..., 6 = dimanche).</td>
						<td align="center">1</td>
						<td>entier</td>
					</tr>
					<tr>
						<td>weekofyear</td>
						<td>retourne le numéro de la semaine dans l'année de la date fournie en argument</td>
						<td align="center">1</td>
						<td>entier</td>
					</tr>
					<tr>
						<td>year</td>
						<td>retourne l'année de la date fournie en argument</td>
						<td align="center">1</td>
						<td>entier</td>
					</tr>
					<tr>
						<td>yearweek</td>
						<td>retourne l'année suivie du numéro de la semaine de la date fournie en argument 1 selon le premier jour de la semaine fourni en argument 2 (nombre pair de 0 à 6 = dimanche, numéro impair de 1 à 7 = lundi)</td>
						<td align="center">2</td>
						<td>entier</td>
					</tr>
				</tbody>
			</table>
			<p><strong>Spécificateurs de format de date MySQL</strong></p>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Spécificateur</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>%a</td>
						<td>Nom abrégé du jour de la semaine ( Lun...Dim )</td>
					</tr>
					<tr>
						<td>%b</td>
						<td>Nom abrégé du mois ( Jan...Déc )</td>
					</tr>
					<tr>
						<td>%c</td>
						<td>Mois, numérique ( 0... 12 )</td>
					</tr>
					<tr>
						<td>%D</td>
						<td>Jour du mois avec le suffixe anglais ( 0th, 1st, 2nd, 3rd, ... )</td>
					</tr>
					<tr>
						<td>%d</td>
						<td>Jour du mois, numérique ( 00...31 )</td>
					</tr>
					<tr>
						<td>%e</td>
						<td>Jour du mois, numérique ( 0...31 )</td>
					</tr>
					<tr>
						<td>%f</td>
						<td>Microsecondes ( 000000...999999 )</td>
					</tr>
					<tr>
						<td>%H</td>
						<td>Heure ( 00...23 )</td>
					</tr>
					<tr>
						<td>%h</td>
						<td>Heure ( 01...12 )</td>
					</tr>
					<tr>
						<td>%I</td>
						<td>Heure ( 01...12 )</td>
					</tr>
					<tr>
						<td>%i</td>
						<td>Minutes, numérique ( 00...59 )</td>
					</tr>
					<tr>
						<td>%j</td>
						<td>Jour de l'année ( 001...366 )</td>
					</tr>
					<tr>
						<td>%k</td>
						<td>Heure ( 0...23 )</td>
					</tr>
					<tr>
						<td>%l</td>
						<td>Heure ( 1...12 )</td>
					</tr>
					<tr>
						<td>%M</td>
						<td>Nom du mois ( Janvier...Décembre )</td>
					</tr>
					<tr>
						<td>%m</td>
						<td>Mois, numérique ( 00...12 )</td>
					</tr>
					<tr>
						<td>%p</td>
						<td>AM ou PM</td>
					</tr>
					<tr>
						<td>%r</td>
						<td>Temps, 12 heures ( hh:mm:ss suivi de AM ou PM)</td>
					</tr>
					<tr>
						<td>%S</td>
						<td>Secondes ( 00...59 )</td>
					</tr>
					<tr>
						<td>%s</td>
						<td>Secondes ( 00...59 )</td>
					</tr>
					<tr>
						<td>%T</td>
						<td>Temps, 24 heures ( hh:mm:ss )</td>
					</tr>
					<tr>
						<td>%U</td>
						<td>Semaine ( 00... 53), où le dimanche est le premier jour de la semaine; WEEK() Mode 0</td>
					</tr>
					<tr>
						<td>%u</td>
						<td>Semaine ( 00... 53), où lundi est le premier jour de la semaine; WEEK() Mode 1</td>
					</tr>
					<tr>
						<td>%V</td>
						<td>Semaine ( 01... 53), où le dimanche est le premier jour de la semaine; WEEK() Mode 2; utilisé avec %X</td>
					</tr>
					<tr>
						<td>%v</td>
						<td>Semaine ( 01... 53), où lundi est le premier jour de la semaine; WEEK() Mode 3; utilisé avec %x</td>
					</tr>
					<tr>
						<td>%W</td>
						<td>Nom du jour de la semaine ( Lundi... Dimanche)</td>
					</tr>
					<tr>
						<td>%w</td>
						<td>Jour de la semaine ( 0 = dimanche .. 6 = samedi)</td>
					</tr>
					<tr>
						<td>%X</td>
						<td>Année de la semaine où le dimanche est le premier jour de la semaine, numérique, quatre chiffres; utilisé avec %V</td>
					</tr>
					<tr>
						<td>%x</td>
						<td>Année de la semaine, où le lundi est le premier jour de la semaine, numérique, quatre chiffres; utilisé avec %v</td>
					</tr>
					<tr>
						<td>%Y</td>
						<td>Année, numérique, quatre chiffres</td>
					</tr>
					<tr>
						<td>%y</td>
						<td>Année, numérique (deux chiffres)</td>
					</tr>
					<tr>
						<td>%%</td>
						<td>Un caractère % littéral</td>
					</tr>
					<tr>
						<td>%x</td>
						<td>x, Pour tout " x" non mentionné ci-dessus</td>
					</tr>
				</tbody>
			</table>
			<h2 id="postgresql">
				PostgreSQL
			</h2>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Fonction</th>
						<th>Description</th>
						<th align="center">Nombre d'arguments</th>
						<th>Type retourné</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>ascii</td>
						<td>retourne le code ASCII du premier caractère de l'argument</td>
						<td align="center">1</td>
						<td>entier</td>
					</tr>
					<tr>
						<td>char</td>
						<td>retourne le caractère correspondant au code ascii fourni dans l'argument 1</td>
						<td align="center">1</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>char_length</td>
						<td>renvoie la longueur de la chaîne passée en argument</td>
						<td align="center">1</td>
						<td>entier</td>
					</tr>
					<tr>
						<td>character_length</td>
						<td>renvoie la longueur de la chaîne passée en argument</td>
						<td align="center">1</td>
						<td>entier</td>
					</tr>
					<tr>
						<td>initcap</td>
						<td>convertit la première lettre de chaque mot de la chaîne en majuscule et toutes les autres lettres sont converties en minuscules</td>
						<td align="center">1</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>length</td>
						<td>renvoie la longueur de la chaîne passée en argument</td>
						<td align="center">1</td>
						<td>entier</td>
					</tr>
					<tr>
						<td>lower</td>
						<td>convertit la chaîne en lettres minuscules</td>
						<td align="center">1</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>lpad</td>
						<td>complète l'argument 1 à sa gauche avec la chaîne en argument 3 répétée plusieurs fois jusqu'à ce que la chaîne atteigne la longueur spécifiée en argument 2</td>
						<td align="center">3</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>ltrim</td>
						<td>supprime tous les caractères spécifiés (argument 2) du côté gauche de la chaîne passée en argument 1</td>
						<td align="center">2</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>repeat</td>
						<td>répète la chaîne en argument 1, le nombre de fois spécifié en argument 2</td>
						<td align="center">2</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>replace</td>
						<td>renvoie une copie de la chaîne en argument 1 avec chaque instance de la sous-chaîne en argument 2 remplacée par la sous-chaîne en argument 3</td>
						<td align="center">3</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>rpad</td>
						<td>complète l'argument 1 à sa droite avec la chaîne en argument 3 répétée plusieurs fois jusqu'à ce que la chaîne atteigne la longueur spécifiée en argument 2</td>
						<td align="center">3</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>rtrim</td>
						<td>supprime tous les caractères spécifiés (argument 2) du côté droit de la chaîne passée en argument 1</td>
						<td align="center">2</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>split_part</td>
						<td>découpe la chaine passée en argument 1 avec le délimiteur passé en argument2 et retourne la partie dont la position est spécifiée en argument 3</td>
						<td align="center">3</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>strpos</td>
						<td>renvoie la position de la sous-chaîne en argument 2 dans la chaîne en argument 1</td>
						<td align="center">2</td>
						<td>entier</td>
					</tr>
					<tr>
						<td>substr</td>
						<td>renvoie la sous-chaîne extraite de la chaîne passée en argument 1 à partir de la position en argument 2, d'une longueur spécifiée par l'argument 3</td>
						<td align="center">3</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>translate</td>
						<td>remplace dans la chaîne en argument 1, chacun des caractères de la séquence en argument 2 par le caractère de même position de la séquence en argument 3</td>
						<td align="center">3</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>upper</td>
						<td>convertit la chaîne en lettres majuscules</td>
						<td align="center">1</td>
						<td>texte</td>
					</tr>
					<tr>
						<td>abs</td>
						<td>renvoie la valeur absolue de l'argument numérique</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>acos</td>
						<td>renvoie l'arc cosinus de la valeur passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>asin</td>
						<td>renvoie l'arc sinus de la valeur passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>atan</td>
						<td>renvoie l'arc tangente de la valeur passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>atan2</td>
						<td>renvoie l'arc tangente 2 de la valeur passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>cbrt</td>
						<td>renvoie la racine cubique de la valeur passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>ceil</td>
						<td>renvoie la plus petite valeur entière supérieure ou égale à la valeur passée en argument</td>
						<td align="center">1</td>
						<td>entier</td>
					</tr>
					<tr>
						<td>ceiling</td>
						<td>renvoie la plus petite valeur entière supérieure ou égale à la valeur passée en argument. Alias de la fonction ceil</td>
						<td align="center">1</td>
						<td>entier</td>
					</tr>
					<tr>
						<td>cos</td>
						<td>renvoie le cosinus de la valeur passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>cot</td>
						<td>renvoie la cotangente de la valeur passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>degrees</td>
						<td>convertit en degrés la valeur en radians passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>exp</td>
						<td>renvoie l'exponentiel de la valeur passée en argument, c-à-d la valeur de e portée à la puissance de l'argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>floor</td>
						<td>renvoie la plus grande valeur entière inférieure ou égale à la valeur passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>ln</td>
						<td>renvoie le logarithme naturel (népérien) de la valeur passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>log</td>
						<td>renvoie le logarithme de la valeur passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>mod</td>
						<td>renvoie le reste de la division de l'argument 1 par l'argument 2</td>
						<td align="center">2</td>
						<td>entier</td>
					</tr>
					<tr>
						<td>power</td>
						<td>renvoie la valeur de l'argument 1 élevé à la puissance de la valeur de l'argument 2</td>
						<td align="center">2</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>radians</td>
						<td>convertit en radians la valeur en degrés passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>random</td>
						<td>retourne une valeur aléatoire comprise entre 0 et 1 inclus</td>
						<td align="center">0</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>round</td>
						<td>arrondi la valeur de l'argument 1 à la valeur la plus proche avec le nombre de décimal passé en argument 2</td>
						<td align="center">2</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>sin</td>
						<td>renvoie le sinus de la valeur passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>sqrt</td>
						<td>renvoie la racine carrée de la valeur passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>tan</td>
						<td>renvoie la tangente de la valeur passée en argument</td>
						<td align="center">1</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>trunc</td>
						<td>Tronque la valeur de l'argument 1 au nombre de décimales spécifié par l'argument 2</td>
						<td align="center">2</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>date_part</td>
						<td>extrait une partie de la date passée en argument 2 selon le mot-clé passée en argument 1. ex: date_part('day', '207-08-25') retourne 25. Les mots-clés sont: microseconds, milliseconds, second, minute, hour, day, week, month, quarter, year, decade, century, millennium</td>
						<td align="center">2</td>
						<td>nombre</td>
					</tr>
					<tr>
						<td>date_trunc</td>
						<td>Tronque la date en argument 2 à partir de sa partie spécifiée par le mot-clé figurant en argument 1: Les mot-clés sont :microseconds, milliseconds, second, minute, hour, day, week, month, quarter, year, decade, century, millennium</td>
						<td align="center">2</td>
						<td>date</td>
					</tr>
					<tr>
						<td>now</td>
						<td>retourne la date courante</td>
						<td align="center">0</td>
						<td>date</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
