{#
The MIT License (MIT)

Copyright (c) 2015 Jacques Archimède

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is furnished
to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
#}

{% extends 'EUREKAG6KBundle:base/layout:pagelayout.html.twig' %}

{% block title %}{{ 'G6K Admin'|trans }}{% endblock %}

{% block metas %}
{{ parent() }}<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block bodyclass %}{% endblock %}

{% block styles %}
{% include 'EUREKAG6KBundle:admin/sections:styles.html.twig' %}
{% endblock %}

{% block body %}
	<div id="wrapper">
		{% include 'EUREKAG6KBundle:admin/sections:header.html.twig' %}
		<div id="page" class="container-fluid">
		{% block content %}{% endblock %}
		</div>
		{% include 'EUREKAG6KBundle:admin/sections:footer.html.twig' %}
	</div>
{% block scripts %}
{% if simulator is not empty %}
<script type="text/javascript">
var dataset = {{ dataset|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_UNICODE') b-or constant('JSON_UNESCAPED_SLASHES'))|raw }}
var steps = {{ steps|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_UNICODE') b-or constant('JSON_UNESCAPED_SLASHES'))|raw }}
var actions = {{ actions|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_UNICODE') b-or constant('JSON_UNESCAPED_SLASHES'))|raw }}
var rules = {{ rules|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_UNICODE') b-or constant('JSON_UNESCAPED_SLASHES'))|raw }}
var views = {{ views|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_UNICODE') b-or constant('JSON_UNESCAPED_SLASHES'))|raw }}
var datasources = {{ datasources|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_UNICODE') b-or constant('JSON_UNESCAPED_SLASHES'))|raw }}
</script>
{% endif %}				
<script type="text/javascript" src="{{ asset('bundles/eurekag6k/base/js/jquery-1.11.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/eurekag6k/base/js/jquery-migrate-1.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/translations/config.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/translations/messages/' ~ app.request.locale ~ '.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/eurekag6k/base/js/g6k.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/eurekag6k/admin/js/g6k.admin.js') }}"></script>
<script type="text/javascript">
Admin.lang = '{{ app.request.locale }}';
Admin.locale = '{{ app.request.locale }}-{{ app.request.locale|upper }}';
</script>
{% include 'EUREKAG6KBundle:admin/sections:scripts.html.twig' %}
  {% endblock %}
{% endblock %}

