<div id="navbar" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" role="banner">
	<a class="navbar-brand" href="{{ path('eureka_g6k_admin') }}">{{ 'G6K Admin'|trans }}</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="{{ 'Toggle navigation'|trans }}">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="navbarCollapse" role="navigation">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item{%- if nav == 'home' %} active{%- endif -%}"><a class="nav-link" href="{{ path('eureka_g6k_admin') }}">{{ 'Dashboard'|trans }}</a></li>
			{% if is_granted('ROLE_CONTRIBUTOR') %}
			<li class="nav-item{%- if nav == 'datasources' %} active{%- endif -%}"><a class="nav-link" href="{{ path('eureka_g6k_admin_datasources') }}">{{ 'Data sources'|trans }}<span class="sr-only">(current)</span></a></li>
			{% endif %}
			{% if is_granted('ROLE_MANAGER') %}
			<li class="nav-item{%- if nav == 'views' %} active{%- endif -%}"><a class="nav-link" href="{{ path('eureka_g6k_admin_views') }}">{{ 'Views'|trans }}</a></li>
			{% endif %}
			{% if is_granted('ROLE_ADMIN') %}
			<li class="nav-item{%- if nav == 'pdfforms' %} active{%- endif -%}"><a class="nav-link" href="{{ path('eureka_g6k_admin_pdfforms') }}">{{ 'PDF Forms'|trans }}</a></li>
			{% endif %}
			{% if is_granted('ROLE_MANAGER') %}
			<li class="nav-item{%- if nav == 'simulators' %} active{%- endif -%}"><a class="nav-link" href="{{ path('eureka_g6k_admin_simulators') }}">{{ 'Simulators'|trans }}</a></li>
			{% endif %}
			{% if is_granted('ROLE_SUPER_ADMIN') %}
			<li class="nav-item{%- if nav == 'users' %} active{%- endif -%}"><a class="nav-link" href="{{ path('eureka_g6k_admin_users') }}">{{ 'Users'|trans }}</a></li>
			{% endif %}
			{% if is_granted('ROLE_ADMIN') %}
			<li class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle{%- if nav == 'caches' %} active{%- endif -%}" data-toggle="dropdown" role="button" aria-expanded="false">{{ 'Caches'|trans }}<span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a class="dropdown-item" href="{{ path('eureka_g6k_admin_warmup_cache') }}">{{ 'Warm up current %environment% cache'|trans({'%environment%': app.environment}) }}</a></li>
					<li class="dropdown-divider"></li>
					<li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">{{ 'Clear'|trans }}</a>
						<ul class="dropdown-menu">
							{% if app.environment == 'dev' %}
							<li><a class="dropdown-item" href="{{ path('eureka_g6k_admin_clear_cache_env', { 'env' : 'admin'}) }}">{{ 'admin cache'|trans }}</a></li>
							<li><a class="dropdown-item" href="{{ path('eureka_g6k_admin_clear_cache') }}">{{ 'production cache'|trans }}</a></li>
							<li><a class="dropdown-item" href="{{ path('eureka_g6k_admin_clear_cache_env', { 'env' : 'test'}) }}">{{ 'test cache'|trans }}</a></li>
							{% elseif app.environment == 'prod' %}
							<li><a class="dropdown-item" href="{{ path('eureka_g6k_admin_clear_cache_env', { 'env' : 'admin'}) }}">{{ 'admin cache'|trans }}</a></li>
							<li><a class="dropdown-item" href="{{ path('eureka_g6k_admin_clear_cache_env', { 'env' : 'dev'}) }}">{{ 'development cache'|trans }}</a></li>
							<li><a class="dropdown-item" href="{{ path('eureka_g6k_admin_clear_cache_env', { 'env' : 'test'}) }}">{{ 'test cache'|trans }}</a></li>
							{% elseif app.environment == 'test' %}
							<li><a class="dropdown-item" href="{{ path('eureka_g6k_admin_clear_cache_env', { 'env' : 'admin'}) }}">{{ 'admin cache'|trans }}</a></li>
							<li><a class="dropdown-item" href="{{ path('eureka_g6k_admin_clear_cache_env', { 'env' : 'dev'}) }}">{{ 'development cache'|trans }}</a></li>
							<li><a class="dropdown-item" href="{{ path('eureka_g6k_admin_clear_cache_env', { 'env' : 'test'}) }}">{{ 'test cache'|trans }}</a></li>
							{% else %}
							<li><a class="dropdown-item" href="{{ path('eureka_g6k_admin_clear_cache') }}">{{ 'production cache'|trans }}</a></li>
							<li><a class="dropdown-item" href="{{ path('eureka_g6k_admin_clear_cache_env', { 'env' : 'test'}) }}">{{ 'development cache'|trans }}</a></li>
							<li><a class="dropdown-item" href="{{ path('eureka_g6k_admin_clear_cache_env', { 'env' : 'test'}) }}">{{ 'test cache'|trans }}</a></li>
							{% endif %}
						</ul>
					</li>
				</ul>
			</li>
			{% endif %}
		</ul>
		<ul class="navbar-nav navbar-right">
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<li id="authentification" class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
				{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'security') }} <span class="caret"></span>&nbsp;
				 </a>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> {{ 'layout.logout'|trans({}, 'security') }}</a></li>
					<li class="dropdown-divider"></li>
					<li><a class="dropdown-item" href="{{ path('app_change_password') }}"><i class="fas fa-lock" aria-hidden="true"></i> {{ 'layout.change_password'|trans({}, 'security') }}</a></li>
				</ul>
			</li>
			{% else %}
			<li id="authentification" class="nav-item">
				<a class="nav-link" href="{{ path('app_login') }}">{{ 'layout.login'|trans({}, 'security') }}</a>
			</li>
			{% endif %}
		</ul>
	</div><!-- /.navbar-collapse -->
</div>
