<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>
			G6K: Administration guide
		</h1>
		<p class="lead">Composition of business rules</p>
	</div>
</header>
<div class="container">
	<div class="row">
		<div class="span3 bs-docs-sidebar">
			<ul class="nav nav-list bs-docs-sidenav" data-spy="affix">
				<li data-level="1"><a href="#business-rules">Business rules</a></li>
				<li data-level="1"><a href="#rules-composition-interface">Rules composition interface</a></li>
				<li data-level="1"><a href="#entering-a-rule">Entering a rule</a></li>
				<li data-level="2"><a href="#entering-a-condition">Entering a condition</a></li>
				<li data-level="3"><a href="#connectors">Connectors</a></li>
				<li data-level="3"><a href="#operators">Operators</a></li>
				<li data-level="4"><a href="#string-operators">String operators</a></li>
				<li data-level="4"><a href="#numeric-operators">Numeric operators</a></li>
				<li data-level="4"><a href="#date-operators">Date operators</a></li>
				<li data-level="4"><a href="#choice-operators">Choice operators</a></li>
				<li data-level="4"><a href="#boolean-operators">Boolean operators</a></li>
				<li data-level="4"><a href="#enter-the-value-/-expression">Enter the value / expression</a></li>
				<li data-level="3"><a href="#deleting-a-condition">Deleting a condition</a></li>
				<li data-level="2"><a href="#entering-an-action">Entering an action</a></li>
				<li data-level="3"><a href="#display-an-error-or-a-warning">Display an error or a warning</a></li>
				<li data-level="3"><a href="#hide-or-show-an-element-of-the-simulation-form">Hide or show an element of the simulation form</a></li>
				<li data-level="3"><a href="#assigning-a-value-to-a-data-attribute">Assigning a value to a data attribute</a></li>
				<li data-level="2"><a href="#deleting-an-action">Deleting an action</a></li>
				<li data-level="1"><a href="#editing-a-rule">Editing a rule</a></li>
				<li data-level="1"><a href="#deleting-a-rule">Deleting a rule</a></li>
				<li data-level="1"><a href="#sorting-rules">Sorting rules</a></li>
			</ul>
		</div>
		<div class="span9">
			<div class="alert alert-danger" role="alert">
Document under development.
</div>
			<h1 id="business-rules">
				Business rules
			</h1>
			<p>It is the « business rules » that determine the behavior of the simulator. They are triggered when the context changes.</p>
			<p>A change of context always results in the acquisition or modification of data.</p>
			<p>G6k inquiries about the context change by reverting the conditions associated with the rules when the value of a data changes.</p>
			<p>Thus, when the user enters a value, g6K accesses a reference data or a value is calculated, the impacted rules are evaluated and the associated actions are executed if necessary.</p>
			<p>The actions that can be carried out are:</p>
			<ul>
				<li>Show or hide part of the page (a field, a fields set, a panel, a button, ...)</li>
				<li>Display an error or warning message</li>
				<li>Perform a calculation and assign it to a data</li>
			</ul>
			<p>A business rule has the following syntax:</p>
			<pre class="prettyprint">
&lt;business rule&gt;: <span class="label label-default">When ...</span>&lt;condition&gt;[<span class="label label-default">then do ...</span>&lt;action&gt;...&lt;action&gt;][<span class="label label-default">else do ...</span>&lt;action&gt; ... &lt;action&gt;]
</pre>
			<p><strong>&lt;condition&gt;</strong></p>
			<pre class="prettyprint">
&lt;condition&gt;: &lt;simple condition&gt; | &lt;composite condition&gt; &lt;simple condition&gt;: &lt;operand&gt;&lt;operator&gt;[(&lt;value&gt; | &lt;expression&gt;)] &lt;composite condition&gt;: &lt;connector&gt; &lt;condition&gt; ... &lt;condition&gt;
</pre>
			<p><strong>&lt;operator&gt;</strong></p>
			<pre class="prettyprint">
&lt;operator&gt;:<span class="label label-default">contains</span> | <span class="label label-default">corresponds to</span> | <span class="label label-default">does not corresponds to</span> | <span class="label label-default">is after</span> | <span class="label label-default">is before</span> | <span class="label label-default">is equal to</span> | <span class="label label-default">is greater than</span> | <span class="label label-default">is greater than or equal to</span> | <span class="label label-default">is less than</span> | <span class="label label-default">is less than or equal to</span> | <span class="label label-default">is not after</span> | <span class="label label-default">is not before</span> | <span class="label label-default">is not equal to</span> | <span class="label label-default">is not present</span> | <span class="label label-default">is present</span> | <span class="label label-default">is true</span> | <span class="label label-default">matches</span> | <span class="label label-default">not contains</span>
</pre>
			<p><strong>&lt;connector&gt;</strong></p>
			<pre class="prettyprint">
&lt;connector&gt;: <span class="label label-default">All</span> | <span class="label label-default">Any</span> | <span class="label label-default">None</span>
</pre>
			<p><strong>&lt;action&gt;</strong></p>
			<pre class="prettyprint">
&lt;action&gt; : (<span class="label label-default">notify Error</span> | <span class="label label-default">notify Warning</span>)&lt;message&gt;<span class="label label-default">on</span><span class="label label-default">the data</span>&lt;data&gt;
ou
&lt;action&gt; : (<span class="label label-default">notify Error</span> | <span class="label label-default">notify Warning</span>)&lt;message&gt;<span class="label label-default">on</span><span class="label label-default">the dataset</span>
ou
&lt;action&gt; : (<span class="label label-default">notify Error</span> | <span class="label label-default">notify Warning</span>)&lt;message&gt;<span class="label label-default">on</span><span class="label label-default">the datagroup</span>&lt;datagroup&gt;
ou
&lt;action&gt; : (<span class="label label-default">Hide</span> | <span class="label label-default">Show</span>) <span class="label label-default">the step</span>&lt;step&gt;
ou
&lt;action&gt; : (<span class="label label-default">Hide</span> | <span class="label label-default">Show</span>) <span class="label label-default">the panel</span> <span class="label label-default">of step</span>&lt;step&gt;<span class="label label-default">whose label is</span>&lt;panel&gt;
ou
&lt;action&gt; : (<span class="label label-default">Hide</span> | <span class="label label-default">Show</span>) <span class="label label-default">the fieldset</span> <span class="label label-default">of step</span>&lt;step&gt;<span class="label label-default">of panel</span>&lt;panel&gt;<span class="label label-default">whose label is</span>&lt;fieldset&gt;
ou
&lt;action&gt; : (<span class="label label-default">Hide</span> | <span class="label label-default">Show</span>) <span class="label label-default">the field</span> <span class="label label-default">of step</span>&lt;step&gt;<span class="label label-default">of panel</span>&lt;panel&gt;<span class="label label-default">of fieldset</span>&lt;fieldset&gt;<span class="label label-default">whose label is</span>&lt;field&gt;
ou
&lt;action&gt; : (<span class="label label-default">Hide</span> | <span class="label label-default">Show</span>) <span class="label label-default">the column</span> <span class="label label-default">of step</span>&lt;step&gt;<span class="label label-default">of panel</span>&lt;panel&gt;<span class="label label-default">of fieldset</span>&lt;fieldset&gt;<span class="label label-default">whose label is</span>&lt;column&gt;
ou
&lt;action&gt; : (<span class="label label-default">Hide</span> | <span class="label label-default">Show</span>) <span class="label label-default">the fieldrow</span> <span class="label label-default">of step</span>&lt;step&gt;<span class="label label-default">of panel</span>&lt;panel&gt;<span class="label label-default">of fieldset</span>&lt;fieldset&gt;<span class="label label-default">whose label is</span>&lt;fieldrow&gt;
ou
&lt;action&gt; : (<span class="label label-default">Hide</span> | <span class="label label-default">Show</span>) <span class="label label-default">the blockinfo</span> <span class="label label-default">of step</span>&lt;step&gt;<span class="label label-default">of panel</span>&lt;panel&gt;<span class="label label-default">whose label is</span>&lt;blockinfo&gt;
ou
&lt;action&gt; : (<span class="label label-default">Hide</span> | <span class="label label-default">Show</span>) <span class="label label-default">the chapter</span> <span class="label label-default">of step</span>&lt;step&gt;<span class="label label-default">of panel</span>&lt;panel&gt;<span class="label label-default">of blockinfo</span>&lt;blockinfo&gt;<span class="label label-default">whose label is</span>&lt;chapter&gt;
ou
&lt;action&gt; : (<span class="label label-default">Hide</span> | <span class="label label-default">Show</span>) <span class="label label-default">the section</span> <span class="label label-default">of step</span>&lt;step&gt;<span class="label label-default">of panel</span>&lt;panel&gt;<span class="label label-default">of blockinfo</span>&lt;blockinfo&gt;<span class="label label-default">of chapter</span>&lt;chapter&gt;<span class="label label-default">whose label is</span>&lt;section&gt;
ou
&lt;action&gt; : (<span class="label label-default">Hide</span> | <span class="label label-default">Show</span>) <span class="label label-default">the actionbutton</span> <span class="label label-default">of step</span>&lt;step&gt;<span class="label label-default">whose label is</span>&lt;actionbutton&gt;
ou
&lt;action&gt; : (<span class="label label-default">Hide</span> | <span class="label label-default">Show</span>) <span class="label label-default">the footnote</span> <span class="label label-default">of step</span>&lt;step&gt;<span class="label label-default">whose label is</span>&lt;footnote&gt;
ou
&lt;action&gt; : (<span class="label label-default">Hide</span> | <span class="label label-default">Show</span>) <span class="label label-default">the choice</span> <span class="label label-default">of data</span>&lt;data&gt;<span class="label label-default">whose label is</span>&lt;choice&gt;
</pre>
			<p>Evaluating a rule consists to evaluate the condition of the rule. The result of the evaluation has three states: « true », « false » or « indeterminate ».</p>
			<p>
				If the state is « true » then the <span class="label label-default">then do ...</span> actions are executed.
				<br />
				If the state is « false » then the <span class="label label-default">else do ... </span> actions are executed.
				<br />
				If the state is « indeterminate » then no action is executed.
			</p>
			<p>The evaluation returns « undetermined » if at least one of the operands contains no value.</p>
			<h1 id="rules-composition-interface">
				Rules composition interface
			</h1>
			<p>The G6K interface for entering or modifying a rule is as follows:</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-rule-add.png') }}" alt="" />
			</p>
			<p>To access it, click on the « Simulators » button on the menu bar:</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-simulators-buttonbar.png') }}" alt="" />
			</p>
			<p>Then select the simulator from the left side menu.</p>
			<p>To enter a new rule, click the « Add » button in the « Business rules » panel:</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-rule-add-button.png') }}" alt="" />
			</p>
			<p>To edit a rule, unfold the « Business rules » panel and click the « Edit » button in the title bar of the rule you want to modify:</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-rule-edit-button.png') }}" alt="" />
			</p>
			<h1 id="entering-a-rule">
				Entering a rule
			</h1>
			<p>The form for entering a rule consists of 4 blocks:</p>
			<ol>
				<li>the block for inputting the attributes of the rule.</li>
				<li>the input block of the trigger condition of the actions of the rule.</li>
				<li>the action input block when the condition is true.</li>
				<li>the action input block when the condition is false.</li>
			</ol>
			<p><strong>Attributes:</strong></p>
			<ol>
				<li>« Name »: Name of the rule.</li>
				<li>« Label »: Label of the rule.</li>
			</ol>
			<p>The name and label appear in the title bar of the rule panel to allow you to locate it when the panel is folded. Give an explicit label to the rule.</p>
			<h2 id="entering-a-condition">
				Entering a condition
			</h2>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-conditions-connector.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/business-rules-condition-add-button.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/business-rules-subcondition-add-button.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-conditions-subcondition.png') }}" alt="" />
			</p>
			<h3 id="connectors">
				Connectors
			</h3>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-connectors-list.png') }}" alt="" />
			</p>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Connector</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>All</td>
						<td>All line conditions of the next lower level must be true (this is the equivalent of AND)</td>
					</tr>
					<tr>
						<td>Any</td>
						<td>At least one of the conditions of the lines of the next lower level must be true (this is the equivalent of OR)</td>
					</tr>
					<tr>
						<td>None</td>
						<td>None of the conditions of the lines of the next lower level must be true</td>
					</tr>
				</tbody>
			</table>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-conditions-operands.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-conditions-operators.png') }}" alt="" />
			</p>
			<h3 id="operators">
				Operators
			</h3>
			<h4 id="string-operators">
				String operators
			</h4>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>is present</td>
						<td></td>
					</tr>
					<tr>
						<td>is not present</td>
						<td></td>
					</tr>
					<tr>
						<td>is equal to</td>
						<td></td>
					</tr>
					<tr>
						<td>is not equal to</td>
						<td></td>
					</tr>
					<tr>
						<td>contains</td>
						<td></td>
					</tr>
					<tr>
						<td>not contains</td>
						<td></td>
					</tr>
					<tr>
						<td>matches</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<h4 id="numeric-operators">
				Numeric operators
			</h4>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>is present</td>
						<td></td>
					</tr>
					<tr>
						<td>is not present</td>
						<td></td>
					</tr>
					<tr>
						<td>is equal to</td>
						<td></td>
					</tr>
					<tr>
						<td>is not equal to</td>
						<td></td>
					</tr>
					<tr>
						<td>is greater than</td>
						<td></td>
					</tr>
					<tr>
						<td>is greater than or equal to</td>
						<td></td>
					</tr>
					<tr>
						<td>is less than</td>
						<td></td>
					</tr>
					<tr>
						<td>is less than or equal to</td>
						<td></td>
					</tr>
					<tr>
						<td>contains</td>
						<td></td>
					</tr>
					<tr>
						<td>not contains</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<h4 id="date-operators">
				Date operators
			</h4>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>is present</td>
						<td></td>
					</tr>
					<tr>
						<td>is not present</td>
						<td></td>
					</tr>
					<tr>
						<td>corresponds to</td>
						<td></td>
					</tr>
					<tr>
						<td>does not corresponds to</td>
						<td></td>
					</tr>
					<tr>
						<td>is after</td>
						<td></td>
					</tr>
					<tr>
						<td>is not before</td>
						<td></td>
					</tr>
					<tr>
						<td>is before</td>
						<td></td>
					</tr>
					<tr>
						<td>is not after</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<h4 id="choice-operators">
				Choice operators
			</h4>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>is present</td>
						<td></td>
					</tr>
					<tr>
						<td>is not present</td>
						<td></td>
					</tr>
					<tr>
						<td>is equal to</td>
						<td></td>
					</tr>
					<tr>
						<td>is not equal to</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<h4 id="boolean-operators">
				Boolean operators
			</h4>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>is present</td>
						<td></td>
					</tr>
					<tr>
						<td>is not present</td>
						<td></td>
					</tr>
					<tr>
						<td>is true</td>
						<td></td>
					</tr>
					<tr>
						<td>is false</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<p>
				The operators « is present », « is not present », « is true » and « is false » are unary operators, that is, they operate only on the operand. There is no expression on their right.
				<br />
				The other operators are binary operators.
			</p>
			<h4 id="enter-the-value-/-expression">
				Enter the value / expression
			</h4>
			<p>
				If the selected operator is a binary operator, a list box appears after the operator.
				<br />
				If the operand is of the "choice" type, the list box displayed is a list of possible values of the operand.
				<br />
				Otherwise the list box allows you to compose an expression:
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-conditions-expression.png') }}" alt="" />
			</p>
			<p>See <a href="{{ path('eureka_g6k_admin_documentation', {'document': 'expression-builder' }) }}">Composition of expressions</a> for how to enter an expression.</p>
			<h3 id="deleting-a-condition">
				Deleting a condition
			</h3>
			<p>
				To remove a single or compound condition, click the 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/business-rules-condition-delete-button.png') }}" alt="" />
				button to the right of the condition.
			</p>
			<h2 id="entering-an-action">
				Entering an action
			</h2>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-action-add-button.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-action-add.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-actions-list.png') }}" alt="" />
			</p>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Action</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>notify Error</td>
						<td></td>
					</tr>
					<tr>
						<td>notify Warning</td>
						<td></td>
					</tr>
					<tr>
						<td>Hide</td>
						<td></td>
					</tr>
					<tr>
						<td>Show</td>
						<td></td>
					</tr>
					<tr>
						<td>Set</td>
						<td></td>
					</tr>
					<tr>
						<td>Unset</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<h3 id="display-an-error-or-a-warning">
				Display an error or a warning
			</h3>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-action-notifyerror.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-action-notifyerror-message.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-action-notifyerror-target.png') }}" alt="" />
			</p>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>the data</td>
						<td></td>
					</tr>
					<tr>
						<td>the dataset</td>
						<td></td>
					</tr>
					<tr>
						<td>the datagroup</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-action-notifyerror-target-datas-list.png') }}" alt="" />
			</p>
			<h3 id="hide-or-show-an-element-of-the-simulation-form">
				Hide or show an element of the simulation form
			</h3>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-action-showobject-targets-list.png') }}" alt="" />
			</p>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>the step</td>
						<td></td>
					</tr>
					<tr>
						<td>the panel</td>
						<td></td>
					</tr>
					<tr>
						<td>the blockinfo</td>
						<td></td>
					</tr>
					<tr>
						<td>the chapter</td>
						<td></td>
					</tr>
					<tr>
						<td>the section</td>
						<td></td>
					</tr>
					<tr>
						<td>the fieldset</td>
						<td></td>
					</tr>
					<tr>
						<td>the column</td>
						<td></td>
					</tr>
					<tr>
						<td>the fieldrow</td>
						<td></td>
					</tr>
					<tr>
						<td>the field</td>
						<td></td>
					</tr>
					<tr>
						<td>the actionbutton</td>
						<td></td>
					</tr>
					<tr>
						<td>the footnote</td>
						<td></td>
					</tr>
					<tr>
						<td>the choice</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<p><strong>Examples of actions to show form elements</strong></p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-action-showobject-examples.png') }}" alt="" />
			</p>
			<h3 id="assigning-a-value-to-a-data-attribute">
				Assigning a value to a data attribute
			</h3>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-action-setattribute-targets-list.png') }}" alt="" />
			</p>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>the content</td>
						<td></td>
					</tr>
					<tr>
						<td>the default</td>
						<td></td>
					</tr>
					<tr>
						<td>the minimum</td>
						<td></td>
					</tr>
					<tr>
						<td>the maximum</td>
						<td></td>
					</tr>
					<tr>
						<td>the result index</td>
						<td></td>
					</tr>
					<tr>
						<td>the explanation</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<p><strong>Example of action assigning the result of a calculation to a data</strong></p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-action-setattribute-example.png') }}" alt="" />
			</p>
			<h2 id="deleting-an-action">
				Deleting an action
			</h2>
			<p>
				To delete an action, click the 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/business-rules-action-delete-button.png') }}" alt="" />
				button to the left of the action.
			</p>
			<h1 id="editing-a-rule">
				Editing a rule
			</h1>
			<p>To modify a rule, click on the « Edit » button of the title bar of the rule to be modified:</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-rule-edit-button.png') }}" alt="" />
			</p>
			<p>The editing form for a rule is the same as the rule entry form, so refer to <a href="#entering-a-rule">Entering a rule</a> in this document.</p>
			<h1 id="deleting-a-rule">
				Deleting a rule
			</h1>
			<p>To delete a rule, expand the « Business rules » panel and click the « Delete » button on the title bar of the rule you want to delete:</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-rule-delete-button.png') }}" alt="" />
			</p>
			<p>Then confirm the deletion:</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-rule-delete-confirm.png') }}" alt="" />
			</p>
			<h1 id="sorting-rules">
				Sorting rules
			</h1>
			<p>
				To reorder the rules, unfold the "Business Rules" panel, click the title bar of the rule you want to move and hold down the left mouse button (the cursor 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/drag-cursor.png') }}" alt="" />
				appears), drag the rule to the desired location.
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-rule-drag.png') }}" alt="" />
			</p>
		</div>
	</div>
</div>
