<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>
			G6K: Administration Guide
		</h1>
		<p class="lead">Data sources management</p>
	</div>
</header>
<div class="container">
	<div class="row">
		<div class="span3 bs-docs-sidebar">
			<ul class="nav nav-list bs-docs-sidenav" data-spy="affix">
				<li data-level="1"><a href="#data-source">Data source</a></li>
				<li data-level="1"><a href="#internal-data-source.">Internal data source.</a></li>
				<li data-level="2"><a href="#creating-the-data-source">Creating the data source</a></li>
				<li data-level="3"><a href="#creating-tables">Creating tables</a></li>
				<li data-level="3"><a href="#table-feeding">Table feeding</a></li>
				<li data-level="3"><a href="#importing-data-into-tables">Importing data into tables</a></li>
				<li data-level="3"><a href="#modify-the-structure-of-a-table">Modify the structure of a table</a></li>
				<li data-level="3"><a href="#delete-a-table">Delete a table</a></li>
				<li data-level="2"><a href="#export-a-data-source">Export a data source</a></li>
				<li data-level="2"><a href="#edit-a-data-source">Edit a data source</a></li>
				<li data-level="2"><a href="#delete-a-data-source">Delete a data source</a></li>
				<li data-level="2"><a href="#importing-the-data-source">Importing the data source</a></li>
				<li data-level="1"><a href="#external-data-source.">External data source.</a></li>
				<li data-level="2"><a href="#remote-database">Remote database</a></li>
				<li data-level="3"><a href="#declaration-of-the-data-source">Declaration of the data source</a></li>
				<li data-level="4"><a href="#declaration-of-tables">Declaration of tables</a></li>
				<li data-level="2"><a href="#web-service">Web service</a></li>
				<li data-level="3"><a href="#declaration-of-the-data-source-1">Declaration of the data source</a></li>
			</ul>
		</div>
		<div class="span9">
			<h1 id="data-source">
				Data source
			</h1>
			<p>A data source allows a simulator to query the simulation field reference values ​​to perform the simulation.</p>
			<p>
				The data source can be internal, i.e. the values ​​are stored in a database managed by G6K,
				<br />
				or external, i.e. the values ​​are supplied either via queries on a remote database or via a web service (API).
			</p>
			<p>In all cases, you must declare the source so that it can be used by the simulation engine.</p>
			<p>If it is a database (internal or remote), you must also describe the tables and their columns so that the simulation engine can build the queries to find the desired values.</p>
			<p>
				If it is a web service, you must specify the API url and the HTTP method to be implemented (GET or POST).
				<br />
				The parameters of the API will be defined by the simulator which uses it at the time of creation of the latter.
			</p>
			<h1 id="internal-data-source.">
				Internal data source.
			</h1>
			<h2 id="creating-the-data-source">
				Creating the data source
			</h2>
			<p>Click on « Data sources » of the menu bar</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-datasources-buttonbar.png') }}" alt="" />
			</p>
			<p>
				then on 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-create-button.png') }}" alt="" />
				of the left side menu.
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-create-internal.png') }}" alt="" />
			</p>
			<p><strong>Attributes:</strong></p>
			<ol>
				<li>« Name »: Name of the data source without spaces or special or accented characters.</li>
				<li>« Type »: Type of data source « Internal », « External database » or « External web service (API Rest) ». Choose « Internal ».</li>
				<li>« Database » / « Type »: The type of database to be chosen according to the RDBMS at your disposal.</li>
				<li>« Database Name »: Name of the database without spaces or special characters or accented characters.</li>
				<li>« Database label »: At your convenience.</li>
			</ol>
			<p>For databases such as MySQL or PostgreSQL, you must also provide:</p>
			<ul>
				<li>The « Database host »</li>
				<li>The « Database port»</li>
				<li>The « Database user »</li>
				<li>The « Database password ».</li>
			</ul>
			<p>
				The login and password must be provided to you by your database administrator.
				<br />
				The identifier must have the privilege of creating databases.
			</p>
			<p>You can describe the data source in the « Description » space provided for this purpose.</p>
			<p>Click « Save » to save the source.</p>
			<div class="alert alert-info" role="alert">
NOTE: The form does not contain a « Cancel » button. If you want to leave your changes, just go to another page. If necessary, the browser will ask you to confirm the exit of the form page. This is the case for all the input forms presented in this document.
</div>
			<h3 id="creating-tables">
				Creating tables
			</h3>
			<p>After the data source is saved, the database is present but does not contain any table. To create one, click the <a href="../images/en/datasources-management-table-create-button.png"></a> button in the left side menu.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-table-create.png') }}" alt="" />
			</p>
			<p><strong>Attributes:</strong></p>
			<ol>
				<li>« Name »: Name of the table without spaces or special or accented characters.</li>
				<li>« Label »: Title of the table.</li>
			</ol>
			<p>You can describe the table in the « Description » space provided for this purpose.</p>
			<p>The « Add Field » button allows you to add fields (columns) to the database:</p>
			<p><strong>Attributes:</strong></p>
			<ol>
				<li>« Field »: Name of the field without spaces or special characters or accented.</li>
				<li>« Type »: Type of field.</li>
				<li>« Not null »: If the data contained in this field is mandatory, select « Yes » otherwise select « No ».</li>
				<li>« Label »: Label of the field.</li>
			</ol>
			<p>Be sure to add all the required fields before saving.</p>
			<p>If you add a field after saving, you will no longer be able to select « Yes » for the « Not Null » attribute. It is a constraint linked to the RDBMS.</p>
			<p>The procedure is the same to create another table.</p>
			<h3 id="table-feeding">
				Table feeding
			</h3>
			<p>
				To save data to the table, click the « Add Record » button.
				<br />
				A blank line is displayed at the beginning of the table to allow you to enter the values of the record.
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-table-row-add.png') }}" alt="" />
			</p>
			<p>
				Once you have entered the values, click on the « Save » button to save them.
				<br />
				If you want to change the values, click on the icon: 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/datasources-management-table-row-edit-button.png') }}" alt="" />
				, make the changes and click the « Save » button to save them.
				<br />
				Finally, if you want to delete a record click on the icon: 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/datasources-management-table-row-delete-button.png') }}" alt="" />
				, a « Confirm » button will appear, click to delete the record permanently.
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-table-row-delete.png') }}" alt="" />
			</p>
			<p>Once confirmed, the record will be deleted from the database, but the line will remain displayed with a « Restore » button if you have made a mistake or changed your mind.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-table-row-restore.png') }}" alt="" />
			</p>
			<p>If you click « Restore », the line will be re-registered in the database.</p>
			<p>If you do not click « Restore », the next time the page is redisplayed, the record will no longer appear in the list.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-table-row-deleted.png') }}" alt="" />
			</p>
			<h3 id="importing-data-into-tables">
				Importing data into tables
			</h3>
			<p>
				Another way to fill your table is to import data in .csv or .txt format from an Excel file.
				<br />
				If you choose to import data, click the « Import Data » button in the title bar.
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-table-import-button.png') }}" alt="" />
			</p>
			<p>
				The message « Are you sure you want to import data into the table 'Label of the selected table'? appears, press « OK » to confirm.
				<br />
				The following screen appears:
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-table-import.png') }}" alt="" />
			</p>
			<p>In this form, once you have selected the « Text file » from the hard drive of your computer, the « Separator » and the « Delimiter » most appropriate to the format of the file (according to its extension: .csv or .txt) will be proposed to you.</p>
			<p>If in your file you have a title line with the column names, make sure that you have named each column with the name of the corresponding field, not the label. You should also verify that the values assigned to the fields match their types (for example, the field « data_1 » contains a date value).</p>
			<p>If you chose not to put a title line in your file, uncheck the box next to « Column names in first line? ». In this case, the columns must be presented in the order in which the fields in the table are declared.</p>
			<p>Example .csv (DOS or semicolon when recording):</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-table-import-csv.png') }}" alt="" />
			</p>
			<p>Example .txt (Text Tab separator when recording):</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-table-import-txt.png') }}" alt="" />
			</p>
			<h3 id="modify-the-structure-of-a-table">
				Modify the structure of a table
			</h3>
			<p>The structure of the table (its name, its label, the characteristics of its fields) can be modified within the constraints imposed by the underlying RDBMS.
Fields can be added or deleted.</p>
			<p>In the left sidebar, select the source to which the table belongs and click the table label in the top block.</p>
			<p>The table information appears, click « Edit table structure » in the title bar:</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-table-update-button.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-table-update-confirm.png') }}" alt="" />
			</p>
			<p>Confirm the action to display the change form.</p>
			<p>
				The pre-filled change form is the same as the one presented in the « Creating Tables » section at the beginning of this document.
				<br />
				Refer to this section to follow the procedure.
			</p>
			<h3 id="delete-a-table">
				Delete a table
			</h3>
			<p>In the left sidebar, select the source to which the table belongs and click the table label in the top block.</p>
			<p>The information in the table appears, click « Delete » in the title bar:</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-table-delete-button.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-table-delete-confirm.png') }}" alt="" />
			</p>
			<p>Confirm the action to permanently delete the table. This operation is irreversible.</p>
			<h2 id="export-a-data-source">
				Export a data source
			</h2>
			<p>You can export a data source for archiving, broadcasting, or simply importing it into another instance of G6K (see above).</p>
			<p>Click « Data sources » from the menu bar.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-datasources-buttonbar.png') }}" alt="" />
			</p>
			<p>Then click the data source you want to export in the left sidebar.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-export-button.png') }}" alt="" />
			</p>
			<p>Then click the « Export datasource » button in the title bar.</p>
			<p>G6K generates two JSON files with the following characteristics:</p>
			<p>
				The first file, whose name is formed with the name of the source followed by the .schema.json extension, describes data contained in the source.
				<br />
				The description of the data is consistent with the <a href="http://json-schema.org/">JSON schema</a> specification which is both a description standard and a JSON data validation standard.
			</p>
			<p>The second file, whose name is formed with the name of the source followed by the .json extension, contains the data of the source.</p>
			<p>
				These two files are compressed into a file that also has the name of the source with the .zip extension.
				<br />
				It is available for download and archiving.
			</p>
			<h2 id="edit-a-data-source">
				Edit a data source
			</h2>
			<p>Click « Data sources » from the menu bar.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-datasources-buttonbar.png') }}" alt="" />
			</p>
			<p>Then click the data source you want to edit in the left sidebar.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-update-button.png') }}" alt="" />
			</p>
			<p>Then click the « Edit datasource » button in the title bar.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-update-confirm.png') }}" alt="" />
			</p>
			<p>Confirm the action to display the change form.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-update.png') }}" alt="" />
			</p>
			<p>
				The pre-filled form is the same as the one presented in the « Creating the data Source » section at the beginning of this document.
				<br />
				Refer to this section to follow the procedure.
			</p>
			<h2 id="delete-a-data-source">
				Delete a data source
			</h2>
			<p>Click « Data sources » from the menu bar.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-datasources-buttonbar.png') }}" alt="" />
			</p>
			<p>Then click the data source you want to delete in the left sidebar.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-delete-button.png') }}" alt="" />
			</p>
			<p>Then click the « Drop datasource » button on the title bar.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-delete-confirm.png') }}" alt="" />
			</p>
			<p>Confirm the action to permanently delete the source.</p>
			<p>This operation is irreversible. If you have exported the data source (see « Export a data Source » earlier in this document), you can re-import the source by following the procedure below.</p>
			<h2 id="importing-the-data-source">
				Importing the data source
			</h2>
			<p>You can import a data source that would have been exported from another instance of G6K.</p>
			<p>Extract the 2 files from the archive on your computer.</p>
			<p>Click the « Import Datasource » button in the left sidebar.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-import-button.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-import.png') }}" alt="" />
			</p>
			<p><strong>Attributes:</strong></p>
			<ol>
				<li>« JSON Schema »: Click « Browse... » (or « Choose File ») and select the .schema.json file.</li>
				<li>« JSON Data »: Click « Browse... » (or « Choose File ») and select the .json file.</li>
			</ol>
			<h1 id="external-data-source.">
				External data source.
			</h1>
			<h2 id="remote-database">
				Remote database
			</h2>
			<h3 id="declaration-of-the-data-source">
				Declaration of the data source
			</h3>
			<p>Click « Data sources » from the menu bar.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-datasources-buttonbar.png') }}" alt="" />
			</p>
			<p>
				then on 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-create-button.png') }}" alt="" />
				from the left side menu.
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-create-external.png') }}" alt="" />
			</p>
			<p><strong>Attributes:</strong></p>
			<ol>
				<li>« Name »: Name of the data source without spaces or special or accented characters.</li>
				<li>« Type »: Type of data source « Internal », « External database » or « External web service (API Rest) ». Choose « External database ».</li>
				<li>« Database » / « Type »: Type of the database (MySQL or PostgreSQL).</li>
				<li>« Database name »: Name of the database without spaces or special characters or accented characters.</li>
				<li>« Database label »: At your convenience.</li>
				<li>« Database host »: The name of the server or its IP address.</li>
				<li>« Database port »: port number, usually 4 digits.</li>
				<li>« Database user »: The identifier of a user with the SELECT privilege.</li>
				<li>« Database password »: The password associated with the identifier.</li>
			</ol>
			<p>You can describe the data source in the « Description » space provided for this purpose.</p>
			<h4 id="declaration-of-tables">
				Declaration of tables
			</h4>
			<p>The declaration of the tables is identical to the creation of the tables of an internal data source.</p>
			<h2 id="web-service">
				Web service
			</h2>
			<h3 id="declaration-of-the-data-source-1">
				Declaration of the data source
			</h3>
			<p>Click on « Data sources » in the menu bar</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-datasources-buttonbar.png') }}" alt="" />
			</p>
			<p>
				then on 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-create-button.png') }}" alt="" />
				from the left side menu.
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/datasources-management-create-webservice.png') }}" alt="" />
			</p>
			<p><strong>Attributes:</strong></p>
			<ol>
				<li>« Name »: Name of the data source without spaces or special or accented characters.</li>
				<li>« Type »: Type of data source « Internal », « External database » or « External web service (API Rest) ». Choose « External web service (API Rest) ».</li>
				<li>« URI »: URI of the webservice without parameters.</li>
				<li>« Method »: GET (the parameters are added to the URI) or POST (the parameters are transmitted in the body of the HTTP message).</li>
			</ol>
			<p>You can describe the data source in the « Description » space provided for this purpose.</p>
			<p>The parameters transmitted to the API are defined by each of the simulators using the API.</p>
			<p>If the URI of the webservice has a fixed path independent of the requests, make it appear in the URI.</p>
			<p>If there is a variable path based on queries submitted to the web service, do not put it in the URI, it will be up to the simulator to complete the URI with the appropriate path.</p>
		</div>
	</div>
</div>
