<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>
			G6K: Administration guide
		</h1>
		<p class="lead">Simulators management</p>
	</div>
</header>
<div class="container">
	<div class="row">
		<div class="span3 bs-docs-sidebar">
			<ul class="nav nav-list bs-docs-sidenav" data-spy="affix">
				<li data-level="1"><a href="#simulators">Simulators</a></li>
				<li data-level="1"><a href="#before-you-begin">Before you begin</a></li>
				<li data-level="1"><a href="#creating-a-data-source">Creating a data source</a></li>
				<li data-level="1"><a href="#creating-a-simulator">Creating a simulator</a></li>
				<li data-level="2"><a href="#used-data-sources">Used data sources</a></li>
				<li data-level="3"><a href="#simple-query">Simple query</a></li>
				<li data-level="3"><a href="#complex-query">Complex query</a></li>
				<li data-level="2"><a href="#data">Data</a></li>
				<li data-level="2"><a href="#steps">Steps</a></li>
				<li data-level="3"><a href="#panels">Panels</a></li>
				<li data-level="4"><a href="#fieldset">Fieldset</a></li>
				<li data-level="5"><a href="#fields">Fields</a></li>
				<li data-level="4"><a href="#block-of-information">Block of information</a></li>
				<li data-level="5"><a href="#chapter">Chapter</a></li>
				<li data-level="6"><a href="#section">Section</a></li>
				<li data-level="3"><a href="#footnotes">Footnotes</a></li>
				<li data-level="3"><a href="#action-buttons">Action Buttons</a></li>
				<li data-level="2"><a href="#business-rules">Business rules</a></li>
				<li data-level="2"><a href="#profiles">Profiles</a></li>
				<li data-level="2"><a href="#simulator-registration">Simulator registration</a></li>
				<li data-level="2"><a href="#deploying-on-front-end-servers">Deploying on front-end servers</a></li>
			</ul>
		</div>
		<div class="span9">
			<h1 id="simulators">
				Simulators
			</h1>
			<p>A calculation simulator is an online service made available to a user to enable them to calculate the results (taxes, social benefits, etc.) corresponding to their particular situation.</p>
			<p>The results are calculated on the basis of data supplied by the user, reference data (e.g. amount of a tax) and business rules reflecting the current legislation in the field of simulation.</p>
			<p>Creating simulators is reserved for users with the « Manager », « Administrator » or « Super Administrator » role.</p>
			<h1 id="before-you-begin">
				Before you begin
			</h1>
			<p>Before starting to enter the simulator, think carefully about the simulation scenario, that is, its step-by-step division and their sequence. A simulation step corresponds to a page and vice versa.</p>
			<p>In each page, it is necessary to define the information that will be requested from the user (via a form) and those that are restituted to him. A page may also contain blocks of information.</p>
			<p>The information returned is either reference data or data from the result of a calculation according to calculation rules (legislation).</p>
			<p>It is therefore necessary to make an inventory of all these data:</p>
			<ul>
				<li>Data entered by the user</li>
				<li>Reference data (e.g. amount of SMIC, RSA, ceiling safety, various scales, ...)</li>
				<li>Data from a calculation</li>
				<li>Data resulting from an intermediate calculation.</li>
			</ul>
			<p>For the reference data, the question of the data source must be asked. Is there an internal or external web service API or a database to retrieve these data?</p>
			<p>If so, it will be possible to set this API or this database in G6K to be able to access it.</p>
			<p>Otherwise, it will be necessary to create an internal data source (database) in G6K. Note that simple values ​​(such as the amount of the RSA) can be set constantly in the simulator, thus avoiding the creation of a data source. On the other hand, complex data structures (such as a scale) require the creation of an internal data source.</p>
			<p>Then, it is advisable to identify all the elements of a page, name them, label them:</p>
			<ol>
				<li>Give a name to the simulator, the one that will appear in the url</li>
				<li>Give a title to the simulator. This title will appear on each page underneath the breadcrumb navigation.</li>
				<li>Define a hat description that will appear on each page of the simulation below the title</li>
				<li>
					For each step: 
					<ul>
						<li>Give a short name to the step and a label (not too long). The short name will appear in the breadcrumb sequence.</li>
						<li>Define the information (fields) that will be requested or restored to the user</li>
						<li>
							For each field: 
							<ul>
								<li>Give it a name and label (label)</li>
								<li>Assign a type (date, integer, amount, percentage, choice list, ...)</li>
								<li>Describe the field (this description can be used as a tooltip)</li>
								<li>Describe the conditions ^1^ to display the field</li>
								<li>Define its use (user input or restitution)</li>
								<li>
									If this is an input field: 
									<ul>
										<li>Define input controls and associated error messages.</li>
										<li>Possibly define a statement that may appear above or below the input field.</li>
									</ul>
								</li>
								<li>
									If it is a field of restitution: 
									<ul>
										<li>Define the rules for establishing the value of the field (calculation, data source, ...)</li>
									</ul>
								</li>
								<li>Possibly define footnotes and conditions ^1^ of their display.</li>
								<li>Define navigation buttons between the steps (next step, previous, new simulation, jump to step N) and their display condition.</li>
							</ul>
						</li>
					</ul>
				</li>
			</ol>
			<h1 id="creating-a-data-source">
				Creating a data source
			</h1>
			<p>If you need a reference data source and it does not yet exist, you must create it before creating the simulator.</p>
			<p>Refer to <a href="{{ path('eureka_g6k_admin_documentation', {'document': 'datasources-management' }) }}">« Data Sources management »</a> in the documentation.</p>
			<h1 id="creating-a-simulator">
				Creating a simulator
			</h1>
			<p>Click on « Simulators » from the menu bar:</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-simulators-buttonbar.png') }}" alt="" />
			</p>
			<p>
				then click the 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-create-button.png') }}" alt="" />
				button on the left side menu.
			</p>
			<p>A form for entering the general parameters of the simulator is proposed to you:</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-options.png') }}" alt="" />
			</p>
			<p><strong>Attributes:</strong></p>
			<ol>
				<li>
					« Name »: This is the name that will be displayed in the URL (* .../calcul/simulator-name *) and the .XML file created when the simulator was registered.
The simulator will be saved as 
					<simulator-name>
						.xml in the G6K simulator directory.
					</li>
					<li>« Label »: Title that will be displayed on the page of your simulator.</li>
					<li>« Default view »: View with which your simulator will be displayed.
The view is a set of templates and styles used to display the simulator.
For more information on views, see the <a href="{{ path('eureka_g6k_admin_documentation', {'document': 'views-management' }) }}">Views management</a> page of the documentation.</li>
					<li>« Date format »: To be selected according to the format of display and the most commonly used dates in the country.</li>
					<li>« Decimal point »: To be selected according to the display format of the numerical values ​​(amount, percentages, ...) desired.</li>
					<li>« Currency symbol »: To be chosen according to the country.</li>
					<li>« Symbol position »: To be chosen according to the country.</li>
				</ol>
				<p><strong>Optional attributes:</strong></p>
				<ol>
					<li>« Main Referer »: URL of the site page that calls the simulator.
G6K constructs a navigation line where the penultimate element is constructed with this URL and the label of the simulator.</li>
					<li>« Interactive UI »: If this option is checked, the simulation engine will use Javascript to give interactivity to the simulation (recommended)</li>
					<li>« Data Memo »: If this option is checked, the simulation engine will be allowed to save the value of certain fields in the browser cookies for later use. Useful for a value like date of birth.</li>
				</ol>
				<p>Describe what your simulator does in the « Description » field.
This description will be displayed below the simulator label/title of all pages/simulation steps.</p>
				<p>Optionally, you can enter additional information in the « Related Informations » field that the view template will display or not.</p>
				<p>
					When you have finished entering the parameters and clicking on the button 
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-validate-button.png') }}" alt="Validate" />
					, the 
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-save.png') }}" alt="Save" />
					button appears at the top right of the page.
This button allows you to send the entered or modified information to the server at any time, because the « Validate » button only keeps the information in the memory of your computer.
				</p>
				<h2 id="used-data-sources">
					Used data sources
				</h2>
				<p>In the « Used data sources » fold-out panel you will be able to define the specific requests for access to the datasources reference data.
Some of these queries may require parameters that must be defined in the « Data » panel beforehand.</p>
				<p>In the title bar of the « Used data sources » panel, click the « Add » button to display the screen for selecting the source and defining a query:</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-datasource-add-button.png') }}" alt="" />
				</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-datasource-add.png') }}" alt="" />
				</p>
				<p><strong>Attributes:</strong></p>
				<ol>
					<li>« Datasource »: Corresponds to the data source to which the request relates.</li>
				</ol>
				<p><strong>Optional attribute:</strong></p>
				<ol>
					<li>« Source label »: Title to be given to the source for this request.</li>
				</ol>
				<p>Once the source is selected, the form completes the definition fields of the query.</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-datasource-add-selected.png') }}" alt="" />
				</p>
				<h3 id="simple-query">
					Simple query
				</h3>
				<p>
					A query is simple if it relates to only one table and does not have a nested subquery.
					<br />
					The form allows you to build simple queries without having to know the SQL language.
				</p>
				<p><strong>Attributes:</strong></p>
				<ol>
					<li>« Request type »: The queries are either « Simple », that is, you are guided by the menu, or of type « Complex » in this case you will be free to type your queries with the SQL language. If the query is for a single table and does not have a nested query, choose the « Simple » type, otherwise choose the « Complex » type.</li>
					<li>« Table »: Name of the table to which the request relates.</li>
					<li>« Selected Columns »: Fields/columns of the table that contain the data you want to retrieve.
To enter a column, click the '+' to the right of the field and select the column from the drop-down list.
You can also compose an expression in which case you will need to define an alias as the column name.
To delete a column, click the 'x' to the left of the column name.</li>
					<li>« Filter »: Requirements for fields/columns to keep only the rows of the result of the query complying with these conditions.</li>
					<li>« Order by »: Sort in ascending or descending order on the selected fields/columns.
To enter a column, do as in &amp; nbsp; 3., And then select the sort order (ascending or descending).</li>
					<li>« Number of Results »: Include the number of rows that should be retained among all « rows » of results returned by the query. Set 0 if all lines are to be retained.</li>
					<li>« From »: From all « rows » of results returned by the query, indicate the number of the first line that must be taken into account for processing the query. The number of the first line is 0, 1 the second and so on.</li>
					<li>
						« Return type »: 
						<ul>
							<li>« JSON »: format for the exchange of data in readable text.</li>
							<li>« XML »: format of description of the data.</li>
							<li>« Single value »: N/A.</li>
							<li>« Key / value pairs »: Table of key / value pairs.</li>
							<li>« HTML »: data format designed to represent web pages.</li>
							<li>« CSV »: open computer format representing data in comma-separated values.</li>
						</ul>
					</li>
					<li>
						« Return path »: The path depends on the format of the data being returned: 
						<ul>
							<li>« JSON »: Path to <a href="http://goessner.net/articles/JsonPath/">JsonPath</a> or <a href="http://xmlfr.org/w3c/TR/xpath/">Xpath</a></li>
							<li>« XML »: Path in the format <a href="http://xmlfr.org/w3c/TR/xpath/">Xpath</a></li>
							<li>« Single Value »: N/A</li>
							<li>« Key/value pair (table) »: path in the form « Line number/column name » (example: 0/rate: rate column of line 1)</li>
						</ul>
					</li>
				</ol>
				<p>To construct the query, refer to the <a href="{{ path('eureka_g6k_admin_documentation', {'document': 'source-query-builder' }) }}">Visual Component Manufacturing Simple Queries</a> documentation</p>
				<p>If the query contains a variable parameter, you must first declare a data (see « Data » section below) which will contain the value of the parameter.</p>
				<p>
					Then, validate the entry without entering the filter at first. Click on the « Edit » button. The 
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-datasource-parameter-add-button.png') }}" alt="" />
					button appears at the bottom right of the form to allow you to declare the parameter.
					<br />
					After you declare the parameter, you can enter the filter and select the parameter of the expression.
				</p>
				<p><strong>Parameter attributes:</strong></p>
				<ol>
					<li>« Name »: Parameter name without spaces or special or accented characters.</li>
					<li>« Provenance »: Origin of the parameter either « Data » or « Constant ».</li>
					<li>« Data »: The name of the data you are going to work with.</li>
				</ol>
				<p><strong>Optional attribute of parameters:</strong></p>
				<ol>
					<li>« Optional »: Optional parameter or not. A parameter can only be optional if it is used by a request to a « Web service » data source</li>
				</ol>
				<p class="figure-legend">Figure 1: Data source with a simple query and parameter</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-datasource-add-simple.png') }}" alt="" />
				</p>
				<p>Once the input is validated, the following screen is displayed:</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-datasource-display-simple.png') }}" alt="" />
				</p>
				<p>This query will return an array of « 'rate'/rate value » pairs. The specified return path (0/rate) will select the first row of the array and the value corresponding to 'rate'. We will see later how to declare a data to store the value of the rate.</p>
				<h3 id="complex-query">
					Complex query
				</h3>
				<p>In this case, the fields « Table », « Selected Columns », « Filter », « Order by », « Number of Results » and « From » are replaced by the « Request » field since those elements are contained in the request.</p>
				<p>
					As with simple queries, parameters can be used.
					<br />
					The forms $X$d where X is the number of the parameter, refer to integer values, $X$f to decimal values and $X$s to alphanumeric values.
				</p>
				<p><strong>Attributes:</strong></p>
				<ol>
					<li>« Request type »: Choose the « Complex » type.</li>
					<li>« Request »: The SQL request.</li>
					<li>
						« Return type »: 
						<ul>
							<li>« JSON »: format for the exchange of data in readable text.</li>
							<li>« XML »: format of description of the data.</li>
							<li>« Single value »: N/A.</li>
							<li>« Key / value pairs »: Table of key / value pairs.</li>
							<li>« HTML »: data format designed to represent web pages.</li>
							<li>« CSV »: open computer format representing data in comma-separated values.</li>
						</ul>
					</li>
					<li>
						« Return path »: The path depends on the format of the data being returned: 
						<ul>
							<li>« JSON »: Path to <a href="http://goessner.net/articles/JsonPath/">JsonPath</a> or <a href="http://xmlfr.org/w3c/TR/xpath/">Xpath</a></li>
							<li>« XML »: Path in the format <a href="http://xmlfr.org/w3c/TR/xpath/">Xpath</a></li>
							<li>« Single Value »: N/A</li>
							<li>« Key/value pair (table) »: path in the form « Line number/column name » (example: 0/rate: rate column of line 1)</li>
						</ul>
					</li>
				</ol>
				<p class="figure-legend">Figure 2: Data source with complex query</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-datasource-add-complex.png') }}" alt="" />
				</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-datasource-display-complex.png') }}" alt="" />
				</p>
				<h2 id="data">
					Data
				</h2>
				<p>The data allow to store values whatever their origin (user input, data source, element or result of calculations).
They can be grouped into groups of data, allowing them to be arranged in the rows of a table (see « Grid layout » for a group of fields later in this document).</p>
				<p>To add a data or a data group, click « Add » in the title bar « Datas »:</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-data-add-button.png') }}" alt="" />
				</p>
				<p>then click « Add data » or « Add datagroup » depending on the case:</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-data-add-menu.png') }}" alt="" />
				</p>
				<p class="figure-legend">Figure 3 : Form for adding a data group</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-datagroup-add.png') }}" alt="" />
				</p>
				<p><strong>Attributes:</strong></p>
				<ol>
					<li>« Group Name »: Name of the data group without spaces or special or accented characters.</li>
					<li>« Group Label »: Title of the data group that can be selected when defining fields groups of the step, business rules, or profiles.</li>
				</ol>
				<p>Give a description of the data group in the "Description" field.</p>
				<p class="figure-legend">Figure 4 : Form for adding a data</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-data-add.png') }}" alt="" />
				</p>
				<p><strong>Attributes:</strong></p>
				<ol>
					<li>« Name »: Name of the data without spaces or special or accented characters.</li>
					<li>« Label »: Label of the data that can be selected in the step fields, in the profiles.</li>
					<li>« Type »: Type of data. See Data type below.</li>
				</ol>
				<p><strong>Data type</strong></p>
				<table class="table table-condensed table-striped table-bordered">
					<thead>
						<tr>
							<th>Type</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>date</td>
							<td>Date in the format defined in the simulator options. See supra. If the data is associated with an input field, a date picker will be proposed to the user.</td>
						</tr>
						<tr>
							<td>day</td>
							<td>Day number from 1 to 31.</td>
						</tr>
						<tr>
							<td>month</td>
							<td>Number of months from 1 to 12.</td>
						</tr>
						<tr>
							<td>year</td>
							<td>Year in 4 digits.</td>
						</tr>
						<tr>
							<td>boolean</td>
							<td>Boolean value (0/1). If the data is associated with an input field, a check cache will be offered to the user.</td>
						</tr>
						<tr>
							<td>integer</td>
							<td>Integer value.</td>
						</tr>
						<tr>
							<td>number</td>
							<td>Decimal value with decimal point.</td>
						</tr>
						<tr>
							<td>text</td>
							<td>Alphanumeric value.</td>
						</tr>
						<tr>
							<td>textarea</td>
							<td>Alphanumeric value with enrichment (bold, italic, underline, ...).</td>
						</tr>
						<tr>
							<td>money</td>
							<td>Monetary value to 2 decimals.</td>
						</tr>
						<tr>
							<td>choice</td>
							<td>Value that can be selected from a drop-down list or with radio buttons.</td>
						</tr>
						<tr>
							<td>multichoice</td>
							<td>Values ​​selected using check boxes.</td>
						</tr>
						<tr>
							<td>percent</td>
							<td>Percentage from 0 to 100, possibly with decimal values.​​</td>
						</tr>
						<tr>
							<td>array</td>
							<td>List of values. Can not be used for input.</td>
						</tr>
						<tr>
							<td>table</td>
							<td>Table of values. Can not be used for input.</td>
						</tr>
						<tr>
							<td>department</td>
							<td>Department code. If the data is associated with an input field, the user chooses from a drop-down list.</td>
						</tr>
						<tr>
							<td>region</td>
							<td>Region code. If the data is associated with an input field, the user chooses from a drop-down list.</td>
						</tr>
						<tr>
							<td>country</td>
							<td>Country name.</td>
						</tr>
					</tbody>
				</table>
				<p><strong>Optional attributes:</strong></p>
				<ol>
					<li>« Default »: Default value of the data.</li>
					<li>« Min »: The minimum value of the data for numeric data.</li>
					<li>« Max »: The maximum value of the data for numeric data.</li>
					<li>« Content »: Unconditional expression to be assigned to the data. For the composition of the expression, refer to <a href="{{ path('eureka_g6k_admin_documentation', {'document': 'expression-builder' }) }}">Composition of expressions</a>.</li>
					<li>« Round »: Can be used with « Decimal Number » data. Allows you to set the decimal place after the decimal point. The last decimal place is rounded.</li>
					<li>« Unit »: Characterizes a numerical value such as "miles", "liters", "ampere", etc. The unit is displayed after the field.</li>
					<li>« Source »: If the data is to be supplied by a data source defined in the "Used datasources" panel.</li>
					<li>« Index »: Corresponds to the field returned by the request to supply the data.</li>
					<li>« Memorize »: Keep in memory (user's cookie) the value so that the user does not have to re-enter it (see attribute « Memo » of the simulator)</li>
				</ol>
				<p>Give a description of the data in the "Description" field. This description can be displayed in a tooltip at the request of the user.</p>
				<p>In the case of "choice" data, you have to indicate how to feed the list of choices, for this a « Choices » panel is displayed at the bottom of the entry form:</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-data-choices.png') }}" alt="" />
				</p>
				<p>The list is either static, ie its elements appear in extenso in the definition file of the simulator, or dynamic, ie it is filled by a data source</p>
				<p>To create a static list, click on the "Add choice" button in the "Choices" panel:</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-data-choice-add.png') }}" alt="" />
				</p>
				<p><strong>Attributes:</strong></p>
				<ol>
					<li>« Value »: The value assigned to the data if this list item is selected.</li>
					<li>« Label »: The text of the item that appears in the list.</li>
				</ol>
				<p>Add choices as many times as necessary to constitute the list.</p>
				<p>To create a dynamic list, click the "Add source" button:</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-data-source-add.png') }}" alt="" />
				</p>
				<p><strong>Attributes:</strong></p>
				<ol>
					<li>« Source »: Source of the data to feed the list.</li>
					<li>« Source column value »: The field containing the value assigned to the data item if this list item is selected.</li>
					<li>« Source column label »: Field containing the text of the element appearing in the list.</li>
				</ol>
				<p><strong>Optional attribute:</strong></p>
				<ol>
					<li>"Source column ID": The field containing the element ID.</li>
				</ol>
				<h2 id="steps">
					Steps
				</h2>
				<p>Once you have defined your data sources and data you will be able to start setting up the step(s) of your simulator.</p>
				<p>A step consists of one or more panels in which are arranged information blocks and groups of fields in the order in which they are declared.</p>
				<p>The information blocks are composed of chapters, themselves composed of sections.</p>
				<p>Field groups are composed of fields that can be arranged in three different ways:</p>
				<ul>
					<li>« Classic »: The fields and their labels are displayed in a classical way, that is to say one below the other.</li>
					<li>« Grid »: The fields are arranged in rows in the form of tables. The data associated with the fields in a row must be grouped into « data groups » (see below). Field labels are ignored.</li>
					<li>« Online »: The fields and their labels are arranged one after the other in order to form a sentence.</li>
				</ul>
				<p>These elements are arranged as follows in the page of a step:</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-step-page.png') }}" alt="" />
				</p>
				<p>To add a step, click the « Add » button in the title bar of the « Steps » panel:</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-step-add-button.png') }}" alt="" />
				</p>
				<p>The entry form for a step is displayed:</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-step-add.png') }}" alt="" />
				</p>
				<p><strong>Attributes:</strong></p>
				<ol>
					<li>« Step Name »: Name of the step without spaces or special or accented characters.</li>
					<li>« Step Label »: Title of the step that will be displayed in the breadcrumb trail.</li>
					<li>« Step Template »: Name of the template used by G6K to display the page of the step. For more information, see: <a href="{{ path('eureka_g6k_admin_documentation', {'document': 'views-management' }) }}">View Management</a></li>
				</ol>
				<p><strong>Optional attributes:</strong></p>
				<ol>
					<li>« Output »: « Normal », « Inline PDF », « Downloadable PDF » or « html ». See the description of these values below.</li>
					<li>« Interactive UI »: If this option is checked, the simulation engine will use Javascript to give interactivity to the simulation for this step (recommended).</li>
				</ol>
				<table class="table table-condensed table-striped table-bordered">
					<thead>
						<tr>
							<th>Output</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>« Normal »</td>
							<td>The step is displayed normally.</td>
						</tr>
						<tr>
							<td>« Inline PDF »</td>
							<td>G6K displays a PDF rendering of the generated page.</td>
						</tr>
						<tr>
							<td>« Downloadable PDF »</td>
							<td>G6K generates a PDF file of the rendering of the page to be downloaded.</td>
						</tr>
						<tr>
							<td>« html »</td>
							<td>Reserve. Not implemented</td>
						</tr>
					</tbody>
				</table>
				<p>Describe the step in the « Description » field. This description is displayed in the area <span class="bs-docs-number-circle">1</span> of the page.</p>
				<h3 id="panels">
					Panels
				</h3>
				<p>The panels compose the steps and are themselves made up of groups of fields.
If there are several panels, they will be presented in the form of tabs:</p>
				<p>To add a panel, click the « Add » button in the title bar of the « Steps » panel:</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/simulators-management-step-add-menu.png') }}" alt="" />
				</p>
				<p>then click « Add Panel » in the menu:</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-panel-add.png') }}" alt="" />
				</p>
				<p><strong>Attributes:</strong></p>
				<ol>
					<li>« Name »: Name of the panel without spaces or special or accented characters.</li>
				</ol>
				<p>
					<strong><em>Optional attribute:</em></strong>
				</p>
				<ol>
					<li>« Label »: Panel label. It appears in the area <span class="bs-docs-number-circle">2</span> of the page.</li>
				</ol>
				<h4 id="fieldset">
					Fieldset
				</h4>
				<p>Fieldset makes it possible to group together fields of the same nature (logical or thematic) thus highlighting the structuring of the information requested.</p>
				<p>To add a fieldset, click the « Add » button in the title bar of the "Panel" panel:</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-panel-add-menu.png') }}" alt="" />
				</p>
				<p>then click « Add fieldset » in the menu:</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-fieldset-add.png') }}" alt="" />
				</p>
				<p><strong>Attributes:</strong></p>
				<ol>
					<li>« Disposition »: « Classic », « Grid » or « Inline ».</li>
					<li>« Display »: « Inline » or « Pop-in ».</li>
				</ol>
				<table class="table table-condensed table-striped table-bordered">
					<thead>
						<tr>
							<th>Disposition</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Classic</td>
							<td>The elements of the form belonging to the group of fields are arranged in a conventional way, that is, a field preceded by its field label is placed on the line following that of the preceding field</td>
						</tr>
						<tr>
							<td>Grid</td>
							<td>Form elements belonging to the field group are placed in a table</td>
						</tr>
						<tr>
							<td>Inline</td>
							<td>The elements of the form belonging to the group of fields are arranged on line to form a sentence</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-condensed table-striped table-bordered">
					<thead>
						<tr>
							<th>Display</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Inline</td>
							<td>The fields of the field group are displayed "online" in the page</td>
						</tr>
						<tr>
							<td>Pop-in</td>
							<td>Fields in the field group are displayed in a pop-in-modal window. A link whose label is in the "Pop-in activation link" attribute displays the</td>
						</tr>
					</tbody>
				</table>
				<p><strong>Optional attribute:</strong></p>
				<ol>
					<li>« Pop-in activation link »: This attribute is to be filled in only if the « Display » attribute of the field group is « Pop-in ». It's the text of the link that displays the pop-in.</li>
				</ol>
				<p>Describe the fieldset in the « Legend » field. This legend appears in the area <span class="bs-docs-number-circle">3</span> of the page.</p>
				<h5 id="fields">
					Fields
				</h5>
				<p>
					The field is the element of the form that allows the input or the restitution of a data. It takes the form of an entry box, a list box, a checkbox or radio buttons.
					<br />
					It is preceded by a field label unless it is placed in the cell of an array.
					<br />
					It may be mandatory or optional.
				</p>
				<p>To add a field, click the « Add field » button in the title bar of the fieldset panel to which you want to add it:</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-fieldset-add-field-button.png') }}" alt="" />
				</p>
				<p>The form for entering a field is displayed:</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-field-add.png') }}" alt="" />
				</p>
				<p><strong>Attributes:</strong></p>
				<ol>
					<li>« Data »: Data associated with the field. If it is an input field, it is in this data that the value entered by the user will be stored. If it is a field of restitution, it is the content of this data that will be displayed in the field.</li>
					<li>« Usage »: User input or restitution to the user.</li>
				</ol>
				<p><strong>Optional attributes:</strong></p>
				<ol>
					<li>« Label »: Label of the field. See <span class="bs-docs-number-circle">4</span>.</li>
					<li>« Required »: Required field (An error message will be displayed if the field is not filled in).</li>
					<li>« Show after the field label? »: If this box is checked, the ':' will be displayed after the label.</li>
					<li>« Use data description as help? »: If this box is checked, a question mark will be displayed after the field (see <span class="bs-docs-number-circle">6</span>). If the user clicks on this question mark, the description of the data is displayed below the field as help text (see <span class="bs-docs-number-circle">8</span>).</li>
					<li>« Prompt »: Text to be displayed in the input field to indicate the input format or what to enter or select.</li>
					<li>« Line jump before field? »: If this box is checked, the field will be displayed on a new line.</li>
					<li>« Required if visible »:If this box is checked, the field will be made mandatory if and only if it is not hidden.</li>
					<li>« Place the field under the field label? »: If this box is checked, the field will be displayed below its label and not to its right.</li>
					<li>« Highlight the field label? »: If this box is checked, the field label will be displayed in bold.</li>
					<li>« Show choices with radio buttons? » Do not use for long lists of choices.</li>
					<li>« Explanation »: Text explaining how the field is calculated.</li>
					<li>
						« Widget »: To be chosen according to your needs: 
						<ul>
							<li>« List box conforming to RGAA »: List box according to the General Repository of Accessibility for the Administration.</li>
							<li>« List box with auto-completion »: When entering the auto-completion is done automatically, this allows the user to find the item he is looking for.</li>
							<li>« Postal code obtained by self-completion on the name of the municipality or its postal code »: Allows the user to take advantage of the self-completion concerning the name of the commune or its postal code.</li>
							<li>« INSEE code obtained by self-completion on the name of the commune or its postal code »: Allows the user to benefit from the self-completion concerning the name of the commune or its postal code.</li>
							<li>« Insee code derived from a card of France»: A map appears and leaves the choice to the user to geolocate or not.</li>
							<li>« RGAA-compliant date selector »: Allows the user to select a date.</li>
							<li>« Form Field Editor »: Allows you to place an input field in the middle of a text.</li>
						</ul>
					</li>
				</ol>
				<h4 id="block-of-information">
					Block of information
				</h4>
				<p>
					The blockinfo is an element of the simulation page of the same level as the field group but does not contain any input or output fields.
					<br />
					It contains textual information that can be useful to the user in the simulation process. It can be contextualized by showing / hiding it totally or partially using the actions of business rules depending on certain conditions.
				</p>
				<p>The blockinfos are composed of one or many chapters themselves composed of one or many sections.</p>
				<p>To add a blockinfo, click the "Add" button in the title bar of the "Panel" panel:</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-panel-add-menu.png') }}" alt="" />
				</p>
				<p>then "Add blockinfo" from the menu:</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-blockinfo-add.png') }}" alt="" />
				</p>
				<p><strong>Optional attributes:</strong></p>
				<ol>
					<li>« Name »: Blockinfo name without spaces or special or accented characters.</li>
					<li>« Label »: Blockinfo label. It appears in the area <span class="bs-docs-number-circle">9</span> of the page.</li>
				</ol>
				<h5 id="chapter">
					Chapter
				</h5>
				<p>
					The chapter is a subdivision of the Blockinfo. It is composed of sections.
					<br />
					It can be made foldable / unfoldable in the case of a block of information containing many chapters to facilitate the reading of the page.
					<br />
					It can also be associated with an icon to make it visually distinguishable from the other chapters.
				</p>
				<p>To add a chapter, click the "Add chapter" button in the title bar of the « Blockinfo » panel:</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-blockinfo-add-chapter-button.png') }}" alt="" />
				</p>
				<p>The form for entering a chapter is displayed:</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-chapter-add.png') }}" alt="" />
				</p>
				<p><strong>Optional attributes:</strong></p>
				<ol>
					<li>« Name »: Name of the chapter without spaces or special characters or accented.</li>
					<li>« Label »: Title of the chapter. It appears in the <span class="bs-docs-number-circle">10</span> area of the page.</li>
					<li>« Icon »: Absolute or relative URL of an image.</li>
					<li>« Allow collape/expand »: If this box is checked, only the title bar of the chapter panel is displayed. By clicking on the title bar, the panel unfolds to show the contents.</li>
				</ol>
				<h6 id="section">
					Section
				</h6>
				<p>
					The section is a subdivision of a chapter. It is in the sections that the different texts of a block of information are inscribed.
					<br />
					The text of a section can be annotated.
 
To add a section, click the "Add Section" button on the title bar of the « Chapter » panel:
				</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/simulators-management-chapter-add-section-button.png') }}" alt="" />
				</p>
				<p>The form for entering a section is displayed:</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-section-add.png') }}" alt="" />
				</p>
				<p><strong>Optional attributes:</strong></p>
				<ol>
					<li>« Name »: Name of the section without spaces or special or accented characters.</li>
					<li>« Label »: The label of the section. It appears in the <span class="bs-docs-number-circle">11</span> area of the page.</li>
				</ol>
				<p>
					Enter the rich text of the section in the « Content » field of the form.
					<br />
					This content will be displayed in the <span class="bs-docs-number-circle">12</span> area of the page.
				</p>
				<p>
					Optionally, annotations of the text can be added in the « Annotations » field.
					<br />
					These annotations will appear in the <span class="bs-docs-number-circle">13</span> area of the page.
				</p>
				<h3 id="footnotes">
					Footnotes
				</h3>
				<p>A footnote is a contextualized note (which can be shown or hidden by business rules) in the lower part of the form (<span class="bs-docs-number-circle">14</span> of the page) of a simulation step.</p>
				<p>The footnotes can be placed, at your convenience, before or after the action buttons.</p>
				<p>To add footnotes, click the « Add » button in the title bar of the « Steps » panel:</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/simulators-management-step-add-menu.png') }}" alt="" />
				</p>
				<p>then click « Add footnotes » on the menu:</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-footnotes-add.png') }}" alt="" />
				</p>
				<p>Choose their locations (before or after the action buttons) and validate.</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-footnotes-display.png') }}" alt="" />
				</p>
				<p>Then click the « Add footnote » button in the title bar:</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-footnote-add.png') }}" alt="" />
				</p>
				<p>Enter the note then validate.</p>
				<p>The number of notes you can add is not limited.</p>
				<h3 id="action-buttons">
					Action Buttons
				</h3>
				<p>
					The action buttons allow you to sequence the steps, reset a form, start a new simulation, or open a page outside the simulator.
					<br />
					They will appear in the <span class="bs-docs-number-circle">15</span> area of the page.
				</p>
				<p>To add an action button, click the « Add action button » button in the title bar of the « Action Buttons » panel:</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-action-add-button.png') }}" alt="" />
				</p>
				<p>The button attributes input form is displayed:</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-action-add.png') }}" alt="" />
				</p>
				<p><strong>Attributes:</strong></p>
				<ol>
					<li>« Name »: Button name without spaces or special or accented characters.</li>
					<li>« Label »: Button label.</li>
					<li>« What »: « Submit » if you want to go to the step defined by the attribute « For », « Reset » to reset (erase the data) the form.</li>
					<li>« For »: If the action chosen is « Submit », this attribute defines the sequence (next, previous, current or specific step), a new simulation or the opening of an external page.</li>
				</ol>
				<p><strong>Optional attributes:</strong></p>
				<ol>
					<li>« URI / Step »: If the « For » attribute contains « External page », then this attribute contains the URI of the page. If the « For » attribute contains « Jump to step », then this attribute contains the number of the target step.</li>
					<li>« Class »: Level of importance of the « Main » button the button will be put forward visually and « Secondary » the button will not be put forward visually.</li>
				</ol>
				<h2 id="business-rules">
					Business rules
				</h2>
				<p>Business rules are defined in the following way: « When ... » condition, « Then ... » actions and « Else ... » actions.</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-rule-add-button.png') }}" alt="" />
				</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-rule-add.png') }}" alt="" />
				</p>
				<p>It is the « business rules » that determine the behavior of the simulator. They are triggered when the context changes.</p>
				<p>A change of context always results in the acquisition or modification of data.</p>
				<p>G6k inquiries about the context change by reverting the conditions associated with the rules when the value of a data changes.</p>
				<p>Thus, when the user enters a value, g6K accesses a reference data or a value is calculated, the impacted rules are triggered and the associated actions are performed:</p>
				<p>The actions that can be carried out are:</p>
				<ul>
					<li>Show or hide part of the page (a field, a fields set, a panel, a button, ...)</li>
					<li>Display an error or warning message</li>
					<li>Perform a calculation and assign it to a data</li>
				</ul>
				<p>Refer to the <a href="{{ path('eureka_g6k_admin_documentation', {'document': 'business-rules' }) }}">Business Rules Composition</a> page for how to compose a rule.</p>
				<h2 id="profiles">
					Profiles
				</h2>
				<p>When you define profiles, you will pre-define data related to the different profiles.</p>
				<p>Profiles can correspond to types of people e.g. predefined data for a professional differ from pre-filled data of an individual.</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-profile-add-button.png') }}" alt="" />
				</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-profiles.png') }}" alt="" />
				</p>
				<p><strong>Attributes:</strong></p>
				<ol>
					<li>« Title »: Title of your profiles.</li>
					<li>« Name »: Name of the profile.</li>
					<li>« Label »: The label of the profile.</li>
					<li>« Data »/« Add »: Add data to be filled in.</li>
					<li>« Data »: Choice of the data to be filled.</li>
					<li>« Value »: Pre-filled value.</li>
				</ol>
				<h2 id="simulator-registration">
					Simulator registration
				</h2>
				<p>
					At the end of your entry, click the 
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-save.png') }}" alt="" />
					button at the top right of the page to save your work.
				</p>
				<p>Note that G6K saves a version of « work » that it will be necessary to « Publish ».</p>
				<h2 id="deploying-on-front-end-servers">
					Deploying on front-end servers
				</h2>
				<p>If, for security reasons, the back-office is located on a different server from those on which visitors are performing simulations, you will have to deploy your simulators on these front-end servers from the back-office.</p>
				<p>To do this, G6K provides deployment functionality to copy each simulator from the back-office to the front-end.</p>
				<p>To enable this feature, the system administrator must add an « deployment » entry to the parameters.yml file of the G6K instance installed on the back-office server:</p>
				<p>
					<em><strong>Example of deployment settings:</strong></em>
				</p>
				<pre class="prettyprint">
<em># src/EUREKA/G6KBundle/Resources/config/parameters.yml</em> deployment: localhost: cp -f {local.rootdir}/{local.file} /var/www/html/simulator/{remote.dir}/ remotehost: rsync -a {local.rootdir}/{local.file} user@remoteserver/var/www/html/simulator/{remote.file}
</pre>
				<p>In this example, the system administrator declared two front-end servers of virtual names « localhost » and « remotehost ».</p>
				<p>In front of each virtual name is the command that G6K must launch to copy the simulator files via the HTTP server user. Of course, this user must have the rights to execute these commands.</p>
				<p>Each command is launched as many times as there are files in the deployed simulator. These files are:</p>
				<ul>
					<li>The XML definition file of the simulator.</li>
					<li>The database files of internal SQLite data sources used by the simulator</li>
					<li>The DataSources.xml file describing the data sources</li>
					<li>Simulator css style files in each of the views where the simulator can be used.</li>
				</ul>
				<p>So for the command of the virtual server « localhost » of the example, suppose that the back office is installed in the directory « /var/www/html/g6k », the front-end is installed in the directory « /var www/html/simulator » and that you want to deploy a simulator named « demo » that accesses an internal data source « demo.db » and that it can be viewed in the « Demo » and « Default » views. The command will be started five times by G6K:</p>
				<p><code>cp -f /var/www/html/g6k/src/EUREKA/G6KBundle/Resources/data/simulators/demo.xml /var/www/html/simulator/src/EUREKA/G6KBundle/Resources/data/simulators/</code></p>
				<p><code>cp -f /var/www/html/g6k/src/EUREKA/G6KBundle/Resources/data/databases/demo.db /var/www/html/simulator/src/EUREKA/G6KBundle/Resources/data/databases/</code></p>
				<p><code>cp -f /var/www/html/g6k/src/EUREKA/G6KBundle/Resources/data/databases/DataSources.xml /var/www/html/simulator/src/EUREKA/G6KBundle/Resources/data/databases/</code></p>
				<p><code>cp -f /var/www/html/g6k/src/EUREKA/G6KBundle/Resources/public/Demo/demo.css /var/www/html/simulator/src/EUREKA/G6KBundle/Resources/public/Demo/</code></p>
				<p><code>cp -f /var/www/html/g6k/src/EUREKA/G6KBundle/Resources/public/Default/demo.css /var/www/html/simulator/src/EUREKA/G6KBundle/Resources/public/Default/</code></p>
				<p>after replacing:</p>
				<ul>
					<li>{local.rootdir} by « /var/www/html/g6k/»,</li>
					<li>{local.file} successively by « src/EUREKA/G6KBundle/Resources/data/databases/demo.db », « src/EUREKA/G6KBundle/Resources/data/simulators/demo.xml », « src/EUREKA/G6KBundle/Resources/data/databases/DataSources.xml », « src/EUREKA/G6KBundle/Resources/public/Default/demo.css »</li>
					<li>{remote.dir} successively by « src/EUREKA/G6KBundle/Resources/data/databases », « src/EUREKA/G6KBundle/Resources/data/databases », « src/EUREKA/G6KBundle/Resources/public/Default »</li>
				</ul>
				<p>{local.rootdir}, {local.file}, {remote.dir}, and {remote.file} are parameters that the system administrator must use to configure commands:</p>
				<ul>
					<li>{local.rootdir}: G6K back-office installation directory</li>
					<li>{local.file}: File to copy relative to {local.rootdir}</li>
					<li>{remote.dir}: The directory of the file to be copied relative to the G6K installation directory on the front-end server.</li>
					<li>{remote.file}: The file to be copied relative to the G6K installation directory on the front-end server.</li>
				</ul>
				<p>To deploy a simulator, click on the « Deploy simulator » button in the title bar of the simulator panel and confirm in the dialog box that appears:</p>
				<p>
					<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-deployment-confirm.png') }}" alt="" />
				</p>
				<p>A deployment log is displayed. If a log line shows an error (in red), report it to the system administrator.</p>
				<p>You must have the « Manager » role to deploy a simulator.</p>
			</div>
		</div>
	</div>
