  </div>
  <div id="piedPageCorps">
  <div id="ctntPPCorps">
    <div id="listePPCorps">
      <div class="remark">
        <a href="http://interactif.service-public.fr/cgi-bin/posez_question/akio.cgi?sendurl=1&amp;page=posez_question/question-suggestion.html"><span>Faire une remarque sur cette page</span></a>
      </div>
      <div class="share">
        <span>Partager : </span>
        <ul>
          <li><a target="_blank" title="Partager sur Facebook" href="http://www.facebook.com/sharer.php?u={{ path|replace({'www.':''}) }}/" onclick="return xt_click(this,'C','22','outils_particuliers::partager_la_page::facebook','S')" onkeypress="return xt_click(this,'C','22','outils_particuliers::partager_la_page::facebook','S')"><img alt="Facebook" src="{{ path }}/css/images-css/commun/deco/fb-small.png" /></a></li>
          <li><a target="_blank" title="Partager sur Twitter" href="http://twitter.com/home?status=je%20lis%20%3A%20{{ path|replace({'www.':''}) }}/" onclick="return xt_click(this,'C','22','outils_particuliers::partager_la_page::twitter','S')" onkeypress="return xt_click(this,'C','22','outils_particuliers::partager_la_page::twitter','S')"><img alt="Twitter" src="{{ path }}/css/images-css/commun/deco/twitter-small.png" /></a></li>
          <li><a target="_blank" title="Partager sur Mon Vie publique" href="https://mon.vie-publique.fr/?a=se&amp;v=2&amp;f=clip&amp;tl=bk&amp;u={{ path|replace({'www.':''}) }}/&amp;t=&amp;x=&amp;tag=&amp;sw=1" onclick="return xt_click(this,'C','22','outils_particuliers::partager_la_page::mon_vie_publique','S')" onkeypress="return xt_click(this,'C','22','outils_particuliers::partager_la_page::mon_vie_publique','S')"><img alt="Partager sur Mon Vie publique" src="{{ path }}/css/images-css/commun/deco/pct1-small.png" /></a></li>
          <li><a target="_blank" title="Partager sur Delicious" href="http://del.icio.us/post?url={{ path|replace({'www.':''}) }}/" onclick="return xt_click(this,'C','22','outils_particuliers::partager_la_page::delicious','S')" onkeypress="return xt_click(this,'C','22','outils_particuliers::partager_la_page::delicious','S')"><img alt="Del.icio.us" src="{{ path }}/images/commun/barre-outils/delicious.png" /></a></li>
		  <li><a target="_blank" title="Partager sur Google+" href="https://plus.google.com/share?url={{ path|replace({'www.':''}) }}/" onclick="return xt_click(this,'C','22','outils_particuliers::partager_la_page::Google+','S')" onkeypress="return xt_click(this,'C','22','outils_particuliers::partager_la_page::Google+','S')"><img alt="Google+" src="{{ path }}/images/commun/barre-outils/google.png" /></a></li>
        </ul>
      </div>
      <div class="hpage">
        <a title="Aller au haut de la page" href="#blocEntete"><span>Retour en haut de page</span></a>
      </div>
    </div>
  </div>
</div>
</div>
  <!-- end corpsPage -->
  </div>
  <!-- end blocCorps -->
	<div id="blocPiedPage" role="navigation">
	<div id="contenuPiedPage">
		<div id="piedPage">
			<ul>
				<li id="imagesPied">
					<a href="http://www.ojd-internet.com/chiffres-internet/7111-service-public.fr" target="blank" title="OJD Internet - nouvelle fenêtre">
						<span id="ojd">
							<img alt="logo du OJD" src="{{ path }}/images/commun/logo-ojd.png" />
						</span>
					</a>
				</li>
				<li class="lienPied small">
					<p class="title">
						Assistance et contact
					</p>
					<ul>
						<li>
							<a href="plan/">
								<span>Plan du site</span>
							</a>
						</li>
						<li>
							<a href="http://interactif.service-public.fr/cgi-bin/posez_question/akio.cgi?page=posez_question/question-suggestion.html">
							<!--a href="http://interactif.service-public.fr/cgi-bin/posez_question/akio.cgi?page=posez_question/question-suggestion.html"-->
								<span>Contact</span>
							</a>
						</li>
						<li>
							<a href="aide/">
								<span>Aide</span>
							</a>
						</li>
						<li>
							<a href="apropos-du-site/communication-presse/001460.html">
								<span>Espace Presse</span>
							</a>
						</li>
						<li class="dernier">
						
							<a href="apropos-du-site/002293.html">
								<span>Quoi de neuf sur service-public.fr&nbsp;?</span>
							</a>
						
						</li>
					</ul>
				</li>
				
				<li class="lienPied">
					<p class="title">Informations légales</p>
					<ul>
						<li>
							<a href="apropos-du-site/informations-legales/001357.html">
								<span>Mentions légales</span>
							</a>
						</li>
						<li>
							<a href="apropos-du-site/informations-legales/001371.html">
								<span>Répertoire des informations publiques</span>
							</a>
						</li>
						<li>
							<a href="apropos-du-site/informations-legales/003960.html">
								<span>Les cookies </span>
							</a>
						</li>
					</ul>
				</li>
				
				<li class="lienPied">
					<p class="title">
						Qualité de service
					</p>
					<ul class="lienPied">
						<li><a href="apropos-du-site/qualite-service/accessibilite/"><span>Accessibilité</span></a></li>
						<li><a href="apropos-du-site/qualite-service/securite/"><span>Sécurité</span></a></li>
						<li><a href="apropos-du-site/qualite-service/engagement-qualite/"><span>Engagement qualité</span></a></li>
						<li><a href="apropos-du-site/qualite-service/statistiques/"><span>Statistiques</span></a></li>
						<li><a href="apropos-du-site/qualite-service/enquetes-etudes/"><span>Résultats des enquêtes</span></a></li>
					</ul>
				</li>
				<li class="lienPied">
					<p class="title">Partenariats</p>
					<ul>
						<li><a href="http://communaute.service-public.fr"><span>Ministères et organismes</span></a></li>
						<li class="dernier"><a href="http://lecomarquage.service-public.fr/index.php"><span>Collectivit&eacute;s territoriales (co-marquage…)</span></a></li>
					</ul>
				</li>
				<li class="lienPied2">
					<p class="title">Abonnements et services</p>
					<ul class="social">
					
						<li class="lettre"><a href="actualites/lettresp/"><span>Lettre de service-public.fr</span></a></li>
						<li class="rss"><a href="apropos-du-site/abonnements-services/rss/" title="RSS - Really Simple Syndication"><span>RSS</span></a></li>
						<li class="twitter"><a href="http://twitter.com/#!/servicepublicfr" target="blank" title="service-public sur twitter - nouvelle fenetre"><span>Twitter</span></a></li>
						<li class="mformat"><a href="apropos-du-site/abonnements-services/002291.html" ><span>Micro-formats</span></a></li>
						<li class="mobile"><a href="http://m.service-public.fr" target="blank" title="m.service-public.fr - nouvelle fenêtre "><span>Version mobile</span></a></li>
						<li class="geoloc"><a href="apropos-du-site/abonnements-services/001365.html"><span>Géolocalisation</span></a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div id="autrSites">
			<div class="autrSitesRgt">
				<div class="autrSitesCntr">
					<ul class="sites">
						<li>
							<a href="poser-question/allo-service-public/">
								<img class="rollover" title="Appelez allo service publique au 3939 - environ 6 centimes d'euros la minute" alt="Logo allo service public" src="{{ path }}/css/images-css/pied/sites/logo-alloservice-off.gif" />
							</a>
						</li>
						<li>
							<a href="http://www.vie-publique.fr/" target="_blank" title="Site vie-publique.fr - Nouvelle fenetre">
								<img class="rollover"  alt="vie-publique.fr - Nouvelle fenetre"
								src="{{ path }}/css/images-css/pied/sites/logo-viepublique-off.gif" />
							</a>
						</li>
						<li>
							<a href="http://www.legifrance.gouv.fr/" target="_blank">
							<img class="rollover" title="Site legifrance.gouv.fr - Nouvelle fenetre" alt="Logo legifrance.gouv.fr - Nouvelle fenetre"
								src="{{ path }}/css/images-css/pied/sites/logo-legifrance-off.gif" />
							</a>
						</li>
						<li>
							<a href="http://www.data.gouv.fr/" target="_blank">
							<img class="rollover" title="Site data.gouv.fr - Nouvelle fenetre" alt="Logo data.gouv.fr - Nouvelle fenetre"
								src="{{ path }}/css/images-css/pied/sites/logo-datagouvfr-off.gif" />
							</a>
						</li>
						<li>
							<a href="http://www.gouvernement.fr/" target="_blank">
								<img class="rollover" title="Site gouvernement.fr - Nouvelle fenetre" alt="Logo gouvernement.fr - Nouvelle fenetre"
								src="{{ path }}/css/images-css/pied/sites/logo-gouvfr-off.gif" />
							</a>
						</li>
						<li>
							<a href="http://www.france.fr/" target="_blank">
								<img class="rollover" title="Site france.fr - Nouvelle fenetre" alt="Logo de france.fr - Nouvelle fenetre"
								src="{{ path }}/css/images-css/pied/sites/logo-francefr-off.gif" />
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="finDuPied">
		<a href="http://www.dila.premier-ministre.gouv.fr" target="_blank" title="Direction de l'information l&eacute;gale et administrative - Nouvelle fenetre">
			Tous droits r&eacute;serv&eacute;s – Direction de l'information l&eacute;gale et administrative – 2014</a> |  
		 <a href="apropos-du-site/">A propos de service-public.fr</a>
	</div>
</div>   
