  {% set search = '' %} {# a enlever en prod #}
  <div id="blocEntete">
        <div id="entete">
<!--             <ul class="liensAccessibilite">
                <li><a class="accessibleHiddenLink" href="#core">Aller au contenu</a></li>
                <li><a class="accessibleHiddenLink" href="#navPrincipale">Aller au menu</a></li>
                <li><a class="accessibleHiddenLink" href="#search-wrapper">Aller &agrave; la recherche</a></li>
            </ul> -->
            <div id="hautPage">
                <div id="ctHautPage">
                    <ul class="langues">
						<li><a href="{{ path }}/langue/deutsch/"><abbr lang="de" title="Deutsch">DE</abbr></a></li>
						<li><a href="{{ path }}/langue/english/"><abbr lang="en" title="English">EN</abbr></a></li>
						<li><a href="{{ path }}/langue/espanol/"><abbr lang="es" title="Espa&ntilde;ol">ES</abbr></a></li>
          				<li><a href="{{ path }}/" class="dernier"><abbr lang="fr" title="Fran&ccedil;ais">FR</abbr></a></li>
                    </ul>
                </div>
            </div>
            <div id="ctEntete">
              <div id="banner" role="banner">
                <div class="logo">
                  <a href="{{ path }}/"><img alt="Service-Public.fr : Le site officiel de l&rsquo;administration fran&ccedil;aise" src="{{ path }}/images/commun/logo.png" /></a>
				  <h1>
					<span class="invisible">
					Accueil particuliers  
					</span>  
				</h1>
                </div>
                <h2 class="invisible">Navigation et services</h2>
  						  <div id="ctContainer">
                  <div id="ctPoserQuestion">
                    <h3>Poser une question</h3>
                    <ul>
					                      
					<li><a class="courriel" title="Ecrire à service-public.fr (réponse en 3 jours, 7 jours maxi)" href="{{ path }}/poser-question/">Courriel</a></li>
                    </ul>
                  </div>
                    <div id="ctAccederCmpt">
	                        <h3>

	                            <a title="Acc&eacute;der &agrave; mon compte - mon.service-public.fr - Nouvelle fen&ecirc;tre" target="_blank" href="https://mon.service-public.fr/"><span class="insidetxt0"><span class="insidetxta">Acc&eacute;der &agrave; mon compte</span>
											  <span class="insidetxtb">mon.service-public.fr</span></span></a>
	                        </h3>
	                  </div>
						  </div>
            </div>
            <div id="navigation-wrapper">
              <div id="navigation" role="navigation">
                        <h3 class="invisible">Rubriques</h3>
                        <ul id="listeSite">
	                         
	                        <li id="elemListSite1" class="actif"><a href="{{ path }}/"><strong>Particuliers</strong></a></li>
	                        <li id="elemListSite2"><a href="{{ path }}/professionnels-entreprises/"><span>Professionnels</span></a></li>
	                        <li id="elemListSite3"><a href="{{ path|replace({'www':'vosdroits'}) }}/associations/N20.xhtml"><span>Associations</span></a></li>
	                        
	                        
                        </ul>
                        <ul id="liensUtiles">
                               <li><a class="lienServForm" href="{{ path|replace({'www':'vosdroits'}) }}/particuliers/ressourcesEnLigne.xhtml">Services en ligne et formulaires</a></li>
                            <li><a class="lienAnnuaireAdmin" href="http://lannuaire.service-public.fr/">Annuaire de l'administration</a></li>
                        </ul>
                    </div>
                    <div id="search-wrapper" role="search">
<form method="get" action="/recherche/recherche.php">
<div class="field bold">
<h3 class="invisible">Moteur de recherche</h3>
<label for="KEYWORDS">Rechercher</label>
<input type="text" class="textbox" id="KEYWORDS" name="query" value="{{search|replace({'%':''})}}" data-toogle="select2-search" toogle-type="sp_general" />
<span>
<input class="bt-ok" type="submit" title="Lancer la recherche" value="Ok" />
</span>
<input type="hidden" name="typeSearch" id="typeSearch" value="particulier" />
</div>
</form>

                    </div>

                </div>

					 <div id="blocNavPrincipale">
                    <ul id="navPrincipale">
                        <li><a href="{{ path|replace({'www':'vosdroits'}) }}/particuliers/N19803.xhtml"><span>Argent</span></a></li>
                        <li><a href="{{ path|replace({'www':'vosdroits'}) }}/particuliers/N19804.xhtml"><span>Etranger - Europe</span></a></li>
                        <li><a href="{{ path|replace({'www':'vosdroits'}) }}/particuliers/N19805.xhtml"><span>Famille</span></a></li>
                        <li><a href="{{ path|replace({'www':'vosdroits'}) }}/particuliers/N19806.xhtml"><span>Formation - Travail</span></a></li>

                        <li><a href="{{ path|replace({'www':'vosdroits'}) }}/particuliers/N19807.xhtml"><span>Justice</span></a></li>
                        <li><a href="{{ path|replace({'www':'vosdroits'}) }}/particuliers/N19808.xhtml"><span>Logement</span></a></li>
                        <li><a href="{{ path|replace({'www':'vosdroits'}) }}/particuliers/N19809.xhtml"><span>Loisirs</span></a></li>
                        <li><a href="{{ path|replace({'www':'vosdroits'}) }}/particuliers/N19810.xhtml"><span>Papiers - Citoyennet&eacute;</span></a></li>
                        <li><a href="{{ path|replace({'www':'vosdroits'}) }}/particuliers/N19811.xhtml"><span>Social - Sant&eacute;</span></a></li>
                        <li class="dernier"><a href="{{ path|replace({'www':'vosdroits'}) }}/particuliers/N19812.xhtml"><span>Transports</span></a></li>

                    </ul>
                </div>
            </div>
            <!-- end of contenuEntete -->
        </div>
        <!-- end of entete -->
    </div>
    <!-- end of blocEntete -->
  <div id="blocCorps">
  <div id="corpsPage">
  {% block filAriane %}{{ nav.breadcrumb }}{% endblock %}
  <!-- end of filAriane -->
  <div id="hautContenu" role="contentinfo">
	  <ul id="barreOutils">
  <li>
    <a title="R&eacute;duire la taille du texte" href="#" onclick="return xt_click(this,'C','22','outils_particuliers::reduire_la_taille_du_texte','A')" onkeypress="return xt_click(this,'C','22','outils_particuliers::reduire_la_taille_du_texte','A')"><img alt="Réduire la taille du texte" class="rollover triggerDimTypo" src="{{ path }}/images/commun/barre-outils/typo-dim-off.gif" /></a>
  </li>
  <li class="sepBarOutls">
    <a title="Augmenter la taille du texte" href="#" onclick="return xt_click(this,'C','22','outils_particuliers::augmenter_la_taille_du_texte','A')" onkeypress="return xt_click(this,'C','22','outils_particuliers::augmenter_la_taille_du_texte','A')"><img alt="Augmenter la taille du texte" class="rollover triggerAugmTypo" src="{{ path }}/images/commun/barre-outils/typo-augm-off.gif" /></a>
  </li>
  <li>
    <div id="btImprimer">
      <a href="javascript:window.print();" title="Imprimer la page" onclick="return xt_click(this,'C','22','outils_particuliers::imprimer_la_page','A')" onkeypress="return xt_click(this,'C','22','outils_particuliers::imprimer_la_page','A')"><img alt="Imprimer" class="rollover triggerImprimerPage" src="{{ path }}/images/commun/barre-outils/print-off.gif" /></a>
    </div>
    <div id="blocImprimer">
      <p>CTRL+P pour imprimer</p>
    </div>
  </li>
</ul></div>

<div id="main" role="main">
{% block page_title %}{% endblock %}