				<h3 id="alimentation-des-tables">
					2.1.2. Alimentation des tables
				</h3>
				<p>
					Pour enregistrer des données dans la table, cliquez sur le bouton « Ajouter un enregistrement ».
					<br>
					Une ligne vierge s'affiche en début de table pour vous permettre de saisir les valeurs de l'enregistrement.
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/datasources-management-table-row-add.png') }}" alt="">
				</p>
				<p>
					Une fois saisi les valeurs, cliquez sur le bouton « Enregistrer » pour les sauvegarder.
					<br>
					Si vous voulez modifier les valeurs, cliquez sur l'icône : 
					<img src="{{ asset('assets/admin/images/documentation/datasources-management-table-row-edit-button.png') }}" alt="">
					, effectuer les modifications puis cliquez sur le bouton « Enregistrer » pour les sauvegarder.
					<br>
					Enfin, si vous voulez supprimer un enregistrement cliquez sur l'icône : 
					<img src="{{ asset('assets/admin/images/documentation/datasources-management-table-row-delete-button.png') }}" alt="">
					, un bouton « Confirmer » apparaîtra, cliquez le pour supprimer définitivement l'enregistrement.
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/datasources-management-table-row-delete.png') }}" alt="">
				</p>
				<p>Une fois confirmé, l'enregistrement sera supprimé de la base de données, mais la ligne restera affichée avec un bouton « Restaurer » si toutefois vous vous étiez trompé ou que vous changez d'avis.</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/datasources-management-table-row-restore.png') }}" alt="">
				</p>
				<p>Si vous cliquez sur « Restaurer », la ligne sera réenregistrée dans la base de données.</p>
				<p>Si vous ne cliquez pas sur « Restaurer », au prochain réaffichage de la page l'enregistrement n'apparaîtra plus dans la liste.</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/datasources-management-table-row-deleted.png') }}" alt="">
				</p>
				
