				<h4 id="fonctions">
					1.1.1.4. Fonctions
				</h4>
				<table class="table-responsive table-sm table-striped table-bordered">
					<thead>
						<tr>
							<th>Fonction</th>
							<th>Description</th>
							<th align="center">Nombre d'arguments</th>
							<th>Type retourné</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>abs</td>
							<td>Renvoie la valeur absolue de l'argument numérique</td>
							<td align="center">1</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>acos</td>
							<td>Renvoie l'arc cosinus de la valeur passée en argument</td>
							<td align="center">1</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>acosh</td>
							<td>Renvoie l'arc cosinus hyperbolique de la valeur passée en argument</td>
							<td align="center">1</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>addMonths</td>
							<td>Ajoute le nombre de mois en argument 1 à la date en argument 2 et retourne la date résultat</td>
							<td align="center">2</td>
							<td>date</td>
						</tr>
						<tr>
							<td>asin</td>
							<td>Renvoie l'arc sinus de la valeur passée en argument</td>
							<td align="center">1</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>asinh</td>
							<td>Renvoie l'arc sinus hyperbolique de la valeur passée en argument</td>
							<td align="center">1</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>atan</td>
							<td>Renvoie l'arc tangente de la valeur passée en argument</td>
							<td align="center">1</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>atan2</td>
							<td>Renvoie l'arc tangente 2 de la valeur passée en argument</td>
							<td align="center">1</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>atanh</td>
							<td>Renvoie l'arc tangente hyperbolique de la valeur passée en argument</td>
							<td align="center">1</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>ceil</td>
							<td>Renvoie la plus petite valeur entière supérieure ou égale à la valeur passée en argument</td>
							<td align="center">1</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>concat</td>
							<td>Renvoie le résultat de la concaténation des chaines passées en arguments</td>
							<td align="center">2</td>
							<td>texte</td>
						</tr>
						<tr>
							<td>cos</td>
							<td>Renvoie le cosinus de la valeur passée en argument</td>
							<td align="center">1</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>cosh</td>
							<td>Renvoie le cosinus hyperbolique de la valeur passée en argument</td>
							<td align="center">1</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>count</td>
							<td>Retourne le nombre d'arguments non nul</td>
							<td align="center">illimité</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>day</td>
							<td>Retourne le jour (1 à 31) extrait de la date fournie en argument</td>
							<td align="center">1</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>exp</td>
							<td>Renvoie l'exponentiel de la valeur passée en argument, c-à-d la valeur de e portée à la puissance de l'argument</td>
							<td align="center">1</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>firstDayOfMonth</td>
							<td>Renvoie la date correspondant au premier jour du mois, calculé à partir de la date fournie en argument</td>
							<td align="center">1</td>
							<td>date</td>
						</tr>
						<tr>
							<td>floor</td>
							<td>Renvoie la plus grande valeur entière inférieure ou égale à la valeur passée en argument</td>
							<td align="center">1</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>fullmonth</td>
							<td>Renvoie le libellé en clair du mois extrait de la date fournie en argument</td>
							<td align="center">1</td>
							<td></td>
						</tr>
						<tr>
							<td>get</td>
							<td>Retourne l'élément de la liste en argument 1 en position fournie en argument 2</td>
							<td align="center">2</td>
							<td>texte</td>
						</tr>
						<tr>
							<td>lastday</td>
							<td>Retourne le dernier jour du mois (1 à 31) calculé à partir du mois (1 à 12) en argument 1 et de l'année en argument 2</td>
							<td align="center">2</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>lastDayOfMonth</td>
							<td>Renvoie la date correspondant au dernier jour du mois, calculé à partir de la date fournie en argument</td>
							<td align="center">1</td>
							<td>date</td>
						</tr>
						<tr>
							<td>lcfirst</td>
							<td>Convertit la première lettre de la chaîne en minuscule</td>
							<td align="center">1</td>
							<td>texte</td>
						</tr>
						<tr>
							<td>length</td>
							<td>Renvoie la longueur de la chaîne passée en argument</td>
							<td align="center">1</td>
							<td>entier</td>
						</tr>
						<tr>
							<td>log</td>
							<td>Renvoie le logarithme de la valeur passée en argument</td>
							<td align="center">1</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>log10</td>
							<td>Renvoie le logarithme base 10 de la valeur passée en argument</td>
							<td align="center">1</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>lower</td>
							<td>Convertit la chaîne en lettres minuscules</td>
							<td align="center">1</td>
							<td>texte</td>
						</tr>
						<tr>
							<td>match</td>
							<td>Retourne vrai si le texte en argument 2 correspond à l'expression régulière en argument 1, faux sinon</td>
							<td align="center">2</td>
							<td>booléen</td>
						</tr>
						<tr>
							<td>max</td>
							<td>Renvoie la plus grande des valeurs fournies en arguments</td>
							<td align="center">illimité</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>min</td>
							<td>Renvoie la plus petite des valeurs fournies en arguments</td>
							<td align="center">illimité</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>money</td>
							<td>Convertit le montant fourni en argument en chaîne de caractères</td>
							<td align="center">1</td>
							<td>texte</td>
						</tr>
						<tr>
							<td>month</td>
							<td>Retourne le mois (1 à 12) extrait de la date fournie en argument</td>
							<td align="center">1</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>nextWorkDay</td>
							<td>Retourne le jour ouvrable (tenant compte des jours fériés) suivant la date fournie en argument</td>
							<td align="center">1</td>
							<td>date</td>
						</tr>
						<tr>
							<td>pow</td>
							<td>Renvoie la valeur de l'argument 1 élevé à la puissance de la valeur de l'argument 2</td>
							<td align="center">2</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>rand</td>
							<td>Retourne une valeur aléatoire comprise entre 0 et 1 inclus avec l'argument comme valeur de départ</td>
							<td align="center">1</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>replace</td>
							<td>Remplace toutes les occurrences de l'argument 1 dans l'argument 3 par la valeur de l'argument 2</td>
							<td align="center">3</td>
							<td>texte</td>
						</tr>
						<tr>
							<td>round</td>
							<td>Arrondit la valeur de l'argument 1 à la valeur la plus proche avec le nombre de décimal passé en argument 2</td>
							<td align="center">2</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>sin</td>
							<td>Renvoie le sinus de la valeur passée en argument</td>
							<td align="center">1</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>sinh</td>
							<td>Renvoie le sinus hyperbolique de la valeur passée en argument</td>
							<td align="center">1</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>size</td>
							<td>Retourne le nombre d'éléments de la liste fournie e argument</td>
							<td align="center">1</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>split</td>
							<td>Transforme la chaine fournie en argument 2 en une liste selon l'expression régulière en argument 1</td>
							<td align="center">2</td>
							<td>liste</td>
						</tr>
						<tr>
							<td>sqrt</td>
							<td>Renvoie la racine carrée de la valeur passée en argument</td>
							<td align="center">1</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>sum</td>
							<td>Retourne la somme des arguments</td>
							<td align="center">illimité</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>tan</td>
							<td>Renvoie la tangente de la valeur passée en argument</td>
							<td align="center">1</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>tanh</td>
							<td>Renvoie la tangente hyperbolique de la valeur passée en argument</td>
							<td align="center">1</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>trim</td>
							<td>Enlève les caractères blancs en début et en fin de chaîne</td>
							<td align="center">1</td>
							<td>texte</td>
						</tr>
						<tr>
							<td>ucfirst</td>
							<td>Convertit la première lettre de la chaîne en majuscule</td>
							<td align="center">1</td>
							<td>texte</td>
						</tr>
						<tr>
							<td>upper</td>
							<td>Convertit la chaîne en lettres majuscules</td>
							<td align="center">1</td>
							<td>texte</td>
						</tr>
						<tr>
							<td>workdays</td>
							<td>Retourne le nombre de jours ouvrables (tenant compte des jours fériés) entre les deux dates fournies en arguments.</td>
							<td align="center">2</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>workdaysofmonth</td>
							<td>Retourne le nombre de jours ouvrables (tenant compte des jours fériés) du mois calculé à partir du mois (1 à 12) en argument 2 et de l'année en argument 1</td>
							<td align="center">2</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>year</td>
							<td>Retourne l'année extraite de la date fournie en argument</td>
							<td align="center">1</td>
							<td>nombre</td>
						</tr>
					</tbody>
				</table>
				<p>Après sélection de la fonction, une boite à liste par argument s'affiche, vous permettant de saisir les arguments de la fonction. Ces arguments sont aussi des expressions.</p>
				<p>
					Une fois terminée la saisie de l'opérande, celui-ci s'affiche souligné.
					<br>
					Ainsi sont soulignés, les noms d'éléments et les parenthèses ouvrantes.
				</p>
				<p>
					Cet opérande peut suffire pour constituer une expression mais vous pouvez le combiner avec d'autres opérandes pour composer une expression plus "complexe".
					<br>
					Pour ce faire, clic-droit sur un élément souligné et le menu suivant s'affiche :
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/expression-builder-contextmenu.png') }}" alt="">
				</p>
				<table class="table-responsive table-sm table-striped table-bordered">
					<thead>
						<tr>
							<th>Elément du menu</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Changer cet opérande</td>
							<td>
								Remplace l'élément souligné par une boite à liste : 
								<img src="{{ asset('assets/admin/images/documentation/fr/expression-builder-menu-change.png') }}" alt="">
								vous permettant de remplacer l'opérande.
							</td>
						</tr>
						<tr>
							<td>Ajouter un opérande après celui-ci</td>
							<td>
								Ajoute une boite à liste d'opérateurs 
								<img src="{{ asset('assets/admin/images/documentation/fr/expression-builder-menu-insert-after.png') }}" alt="">
								après l'élément souligné vous permettant de sélectionner l'opérateur qui combinera les deux opérandes.
								<br>
								Une fois l'opérateur choisi, une boite à liste s'affiche pour le deuxième opérande. 
								<br>
								Les opérateurs sont définis dans le paragraphe suivant.
							</td>
						</tr>
						<tr>
							<td>Ajouter un opérande avant celui-ci</td>
							<td>
								Ajoute une boîte à liste d'opérandes pour le deuxième opérande ainsi qu'une boite à liste d'opérateurs pour combiner les deux opérandes 
								<img src="{{ asset('assets/admin/images/documentation/fr/expression-builder-menu-insert-before.png') }}" alt="">
								avant l'élément souligné. 
								<br>
								Les opérateurs sont définis dans le paragraphe suivant.
							</td>
						</tr>
						<tr>
							<td>Changer en une sous-expression entre parenthèses</td>
							<td>
								Remplace l'élément souligné par une boite à liste entourée de parenthèse :
								<img src="{{ asset('assets/admin/images/documentation/expression-builder-operand-subexpression-input.png') }}" alt="">
							</td>
						</tr>
						<tr>
							<td>Supprimer cet opérande</td>
							<td>Supprime l'opérande souligné.</td>
						</tr>
					</tbody>
				</table>
				
