<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>
			G6K: Guide d'administration
		</h1>
		<p class="lead">Tutoriels</p>
	</div>
</header>
<div class="container-fluid">
	<div class="row">
		<div class="col-3">
			<nav id="document-toc" class="navbar navbar-light bg-light flex-column" data-spy="affix" data-offset-top="200" data-offset-bottom="200">
				<nav class="nav nav-pills flex-column">
<a class="nav-link ml-1" href="#simulateurs">1. Simulateurs</a>
<a class="nav-link ml-1" href="#source-de-donnees">2. Source de données</a>
<a class="nav-link ml-1" href="#vues">3. Vues</a>
<a class="nav-link ml-1" href="#utilisateurs">4. Utilisateurs</a>
</nav>
			</nav>
		</div>
		<div class="col-9">
			<div class="document-content">
				<div class="documentation-index container-fluid">
					<div class="row">
						<div class="documentation-illustration float-right">
							<a href="{{ path('eureka_g6k_admin_documentation', {'document': 'simulators-management' }) }}">
								<img src="{{ asset('assets/admin/images/documentation/simulators-illustration.png') }}" alt="Simulateurs">
							</a>
						</div>
						<div class="documentation-text">
							{% include 'admin/pages/documentation/fr/index-simulateurs.html.twig' %}
				</div>
					</div>
					<div class="row">
						<div class="documentation-text float-right">
							{% include 'admin/pages/documentation/fr/index-source-de-donnees.html.twig' %}
				</div>
						<div class="documentation-illustration">
							<a href="{{ path('eureka_g6k_admin_documentation', {'document': 'datasources-management' }) }}">
								<img class="img-fluid" src="{{ asset('assets/admin/images/documentation/datasources-illustration.png') }}" alt="Source de données">
							</a>
						</div>
					</div>
					<div class="row">
						<div class="documentation-illustration float-right">
							<a href="{{ path('eureka_g6k_admin_documentation', {'document': 'views-management' }) }}">
								<img class="img-fluid" src="{{ asset('assets/admin/images/documentation/views-illustration.png') }}" alt="Vues">
							</a>
						</div>
						<div class="documentation-text">
							{% include 'admin/pages/documentation/fr/index-vues.html.twig' %}
				</div>
					</div>
					<div class="row">
						<div class="documentation-text float-right">
							{% include 'admin/pages/documentation/fr/index-utilisateurs.html.twig' %}
				</div>
						<div class="documentation-illustration">
							<a href="{{ path('eureka_g6k_admin_documentation', {'document': 'users-management' }) }}">
								<img class="img-fluid" src="{{ asset('assets/admin/images/documentation/users-illustration.png') }}" alt="Utilisateurs">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
