				<h2 id="ajout-d-un-utilisateur">
					2.1. Ajout d’un utilisateur
				</h2>
				<p>
					Pour créer un compte utilisateur, cliquez sur le bouton 
					<img src="{{ asset('assets/admin/images/documentation/fr/users-management-user-create-button.png') }}" alt="">
					en haut à droite de la liste.
				</p>
				<p>Une ligne vierge apparaîtra en tête de liste, vous pouvez alors saisir les attributs du compte en respectant leurs spécifications.</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/users-management-user-create.png') }}" alt="">
				</p>
				<p>
					Pour sauvegarder le compte, cliquez sur le bouton 
					<img src="{{ asset('assets/admin/images/documentation/fr/users-management-user-edit-save-button.png') }}" alt="">
					, il sera immédiatement enregistré dans la base de données.
				</p>
				<p><em>Si l’utilisateur entre un mauvais identifiant lors de sa connexion, le message suivant sera affiché ‘’Identifiants invalides.’’.</em></p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/users-management-user-login-invalid.png') }}" alt="">
				</p>
				<p>
					<em>
						Lorsqu’un compte est désactivé, il ne peut plus se connecter pour accèder aux fonctions de son rôle.
						<br>
						Par exemple, si le compte de « Guest » est désactivé, il en sera notifié par le message ‘’Le compte est désactivé.’’. lorsqu'il essaiera de se connecter
					</em>
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/users-management-user-login-disabled.png') }}" alt="">
				</p>
				
