				<h2 id="ajout-d-un-sous-dossier-ou-d-un-fichier-a-un-dossier-existant">
					4.1. Ajout d’un sous-dossier ou d’un fichier à un dossier existant
				</h2>
				<p>
					Si vous voulez ajouter un sous-dossier ou un fichier à un dossier, cliquez sur le bouton  « Ajouter un sous-dossier ou un fichier dans ‘<em>nom du dossier</em>’ » : 
					<img src="{{ asset('assets/admin/images/documentation/views-management-file-add-button.png') }}" alt="">
				</p>
				<p>Un formulaire sera alors affichée où vous pouvez choisir entre :</p>
				<ul>
					<li>ajouter un « sous-dossier », il faudra donner un nom (qui ne doit contenir ni espaces, ni caractères spéciaux ou accentués) à ce sous-dossier,</li>
					<li>ajouter un « fichier », il faudra alors lui donner un nom et l’importer depuis votre ordinateur.</li>
				</ul>
				<p>
					Dans l'onglet « Gabarits », on ne peut ajouter que des fichiers avec l'extension .twig, sinon une erreur sera affichée.
					<br>
					Pour les « Ressources multimédia » il n’y a pas d’extension ou de type particulier.
				</p>
				<p>Puis appuyez sur le bouton « Soumettre ».</p>
				<p class="figure-legend">Figure 3 – Formulaire d’ajout d’un sous-dossier et affichage du sous-dossier ajouté</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/views-management-folder-add.png') }}" alt="">
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/views-management-folder-added.png') }}" alt="">
				</p>
				<p class="figure-legend">Figure 4 - Formulaire d’ajout d'un fichier et affichage du fichier ajouté</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/views-management-file-add.png') }}" alt="">
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/views-management-file-added.png') }}" alt="">
				</p>
				
