<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>
			G6K: Guide d'administration
		</h1>
		<p class="lead">Gestion des vues</p>
	</div>
</header>
<div class="container">
	<div class="row">
		<div class="span3 bs-docs-sidebar">
			<ul class="nav nav-list bs-docs-sidenav" data-spy="affix">
				<li data-level="1"><a href="#qu-est-ce-qu-une-vue-?">Qu'est-ce qu'une vue ?</a></li>
				<li data-level="1"><a href="#creation-d’une-vue">Création d’une vue</a></li>
				<li data-level="1"><a href="#exporter-une-vue">Exporter une vue</a></li>
				<li data-level="1"><a href="#gestion-d’une-vue">Gestion d’une vue</a></li>
				<li data-level="2"><a href="#ajout-d’un-sous-dossier-ou-d’un-fichier-a-un-dossier-existant">Ajout d’un sous-dossier ou d’un fichier à un dossier existant</a></li>
				<li data-level="2"><a href="#renommer-un-element">Renommer un élément</a></li>
				<li data-level="2"><a href="#mettre-a-jour-un-fichier">Mettre à jour un fichier</a></li>
				<li data-level="2"><a href="#supprimer-un-element">Supprimer un élément</a></li>
				<li data-level="2"><a href="#supprimer-une-vue">Supprimer une vue</a></li>
				<li data-level="1"><a href="#composition-des-gabarits">Composition des gabarits</a></li>
			</ul>
		</div>
		<div class="span9">
			<h1 id="qu-est-ce-qu-une-vue-?">
				Qu'est-ce qu'une vue ?
			</h1>
			<p>
				Les vues sont les modèles de pages et de styles dans lesquelles s'intégrent les simulateurs. Elles sont composées de « Gabarits » et de « Ressources multimédia ».
				<br />
				Les « Gabarits » sont des fichiers (.twig) qui structurent la page qui est affichée.
				<br />
				Les « Ressources multimédia » contiennent tous les éléments de style (fichiers CSS, JavaScript, images, polices...).
			</p>
			<p>La gestion (création, modification, suppression) des vues est réservée aux utilisateurs disposant du rôle « Manager », « Administrateur » ou « Super administrateur ».</p>
			<h1 id="creation-d’une-vue">
				Création d’une vue
			</h1>
			<p>Cliquez sur le bouton « Vues » de la barre de menu</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/views-management-views-buttonbar.png') }}" alt="" />
			</p>
			<p>puis sur le bouton « Créer une vue » du menu latéral gauche</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/views-management-view-create-button.png') }}" alt="" />
			</p>
			<p>Un formulaire sera alors affiché. Donnez un nom à la vue (sans espace ni caractères spéciaux ou accentués) et éventuellement importez deux fichiers sous format .zip correspondant aux « Gabarits » et aux « Ressources multimédia ».</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/views-management-view-create.png') }}" alt="" />
			</p>
			<p>Si vous ne disposez pas de fichier « Gabarits » et de fichier « Ressources multimédia », la vue que vous allez créer récuperera les éléments de la vue par défaut fournie avec G6K.</p>
			<p>Cliquez sur « Créer » pour enregistrer la vue. Les fichiers .zip, s'ils sont fournis, seront décompréssés puis la vue sera affichée sous la forme de répertoires, avec deux onglets :</p>
			<ul>
				<li>les « Gabarits » où sont stockés les fichiers .twig structurant la page</li>
				<li>et « Ressources multimédia » où sont situés les fichiers de style et les images.</li>
			</ul>
			<p class="figure-legend">Figure 1 – Affichage des « Gabarits » de la vue « Demo»</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/views-management-view-templates.png') }}" alt="" />
			</p>
			<p class="figure-legend">Figure 2 – Affichage des « Ressources multimédia » de la vue « Demo»</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/views-management-view-assets.png') }}" alt="" />
			</p>
			<h1 id="exporter-une-vue">
				Exporter une vue
			</h1>
			<p>
				Si vous voulez exporter les « Gabarits » ou les « Ressources multimédia », sélectionnez l'onglet correspondant puis cliquez sur le bouton 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/views-management-view-export-button.png') }}" alt="" />
				.
G6K compose alors un fichier compressé qu'il vous propose en téléchargement.
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/views-management-export-templates.png') }}" alt="" />
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/views-management-export-assets.png') }}" alt="" />
			</p>
			<p>Le suffixe « -templates » pour les gabarits twig et « -assets » pour les ressources multimédia.</p>
			<p>L'export (recommandé) vous permet d'archiver vos vues et éventuellement de les ré-importer dans un nouveau système si vous en changez.</p>
			<h1 id="gestion-d’une-vue">
				Gestion d’une vue
			</h1>
			<p>Il y a plusieurs boutons qui permettent de gérer les « Gabarits » et les « Ressources multimédia », leurs fonctions sont définies ci-dessous.</p>
			<h2 id="ajout-d’un-sous-dossier-ou-d’un-fichier-a-un-dossier-existant">
				Ajout d’un sous-dossier ou d’un fichier à un dossier existant
			</h2>
			<p>
				Si vous voulez ajouter un sous-dossier ou un fichier à un dossier, cliquez sur le bouton  « Ajouter un sous-dossier ou un fichier dans ‘<em>nom du dossier</em>’ » : 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/views-management-file-add-button.png') }}" alt="" />
			</p>
			<p>Un formulaire sera alors affichée où vous pouvez choisir entre :</p>
			<ul>
				<li>ajouter un « sous-dossier », il faudra donner un nom (qui ne doit contenir ni espaces, ni caractères spéciaux ou accentués) à ce sous-dossier,</li>
				<li>ajouter un « fichier », il faudra alors lui donner un nom et l’importer depuis votre ordinateur.</li>
			</ul>
			<p>
				Dans l'onglet « Gabarits », on ne peut ajouter que des fichiers avec l'extension .twig, sinon une erreur sera affichée.
				<br />
				Pour les « Ressources multimédia » il n’y a pas d’extension ou de type particulier.
			</p>
			<p>Puis appuyez sur le bouton « Soumettre ».</p>
			<p class="figure-legend">Figure 3 – Formulaire d’ajout d’un sous-dossier et affichage du sous-dossier ajouté</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/views-management-folder-add.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/views-management-folder-added.png') }}" alt="" />
			</p>
			<p class="figure-legend">Figure 4 - Formulaire d’ajout d'un fichier et affichage du fichier ajouté</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/views-management-file-add.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/views-management-file-added.png') }}" alt="" />
			</p>
			<h2 id="renommer-un-element">
				Renommer un élément
			</h2>
			<p>
				Pour renommer un élément, cliquez sur le bouton « Renommer ‘<em>élément’</em> » : 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/views-management-file-rename-button.png') }}" alt="" />
				<br />
				Un formulaire vous invitera à indiquer le nouveau nom de l’élément, cliquez sur le bouton « Soumettre » pour appliquer le renommage.
			</p>
			<p class="figure-legend">Figure 5 - Formulaire pour renommer l'élément et affichage de l'élément renommé</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/views-management-folder-rename.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/views-management-folder-renamed.png') }}" alt="" />
			</p>
			<div class="alert alert-warning" role="alert">
ATTENTION: Certains gabarits sont cités dans la définition des étapes (Cf. attribut « Gabarit d'affichage de l'étape ») dans la documentation <a href="{{ path('eureka_g6k_admin_documentation', {'document': 'simulators-management' }) }}">Création d’un simulateur</a>, si vous le renommez, pensez à modifier l'étape du simulateur concerné.
</div>
			<h2 id="mettre-a-jour-un-fichier">
				Mettre à jour un fichier
			</h2>
			<p>
				Pour mettre à jour un fichier, cliquez sur le bouton « Mettre à jour ce fichier » : 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/views-management-file-update-button.png') }}" alt="" />
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/views-management-file-update-buttonbar.png') }}" alt="" />
			</p>
			<p>Une zone de saisie où vous pouvez modifier le fichier s'affichera.</p>
			<p class="figure-legend">Figure 6 - Interface de modification/édition(fond blanc)</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/views-management-file-update.png') }}" alt="" />
			</p>
			<p>
				Une fois vos modifications effectuées, cliquez sur le bouton « Enregistrer » pour sauvegarder le fichier.
				<br />
				Une fois l’enregistrement effectué le bouton « Enregistrer » se transformera en bouton « Modifier » et vous ne pourrez pas éditer le fichier tant que vous n’appuierez pas sur le bouton « Modifier ».
			</p>
			<p class="figure-legend">Figure 7 - Interface non éditable, modifications enregistrées (fond grisâtre)</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/views-management-file-updated.png') }}" alt="" />
			</p>
			<h2 id="supprimer-un-element">
				Supprimer un élément
			</h2>
			<p>
				Pour supprimer un dossier, un sous-dossier ou un fichier, cliquez sur le bouton "Supprimer cet élément » : 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/views-management-file-delete-button.png') }}" alt="" />
				<br />
				Un message de confirmation apparaîtra, si vous êtes certain de supprimer l’élément, appuyez sur « OK ».
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/views-management-file-delete-confirm.png') }}" alt="" />
			</p>
			<p>La page va alors être rechargée et l’élément que vous avez supprimé ne sera plus affiché. Si vous supprimez un dossier qui contient d’autres éléments tout le contenu sera effacé.</p>
			<div class="alert alert-warning" role="alert">
ATTENTION: Certains gabarits sont cités dans la définition des étapes (Cf. attribut « Gabarit d'affichage de l'étape ») dans la documentation <a href="{{ path('eureka_g6k_admin_documentation', {'document': 'simulators-management' }) }}">Création d’un simulateur</a>, si vous le supprimez, pensez à modifier l'étape du simulateur concerné.
</div>
			<h2 id="supprimer-une-vue">
				Supprimer une vue
			</h2>
			<p>
				Si vous souhaitez supprimer une vue, cliquez sur le bouton « Supprimer vue ».
				<br />
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/views-management-view-delete-button.png') }}" alt="" />
			</p>
			<p>Un message de confirmation apparaîtra, si vous êtes certain de supprimer la vue, cliquez sur « OK ».</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/views-management-view-delete-confirm.png') }}" alt="" />
			</p>
			<p>La vue sera supprimée et ne sera plus affichée dans le menu de « Gestion des vues » :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/views-management-view-deleted.png') }}" alt="" />
			</p>
			<div class="alert alert-warning" role="alert">
ATTENTION: Il faudra modifier tous les simulateurs qui utilisaient cette vue en tant que « Vue par défaut ».
</div>
			<h1 id="composition-des-gabarits">
				Composition des gabarits
			</h1>
			<p>Cette section décrit la façon dont vous devez composer les gabarits d'une vue ainsi que les règles et contraintes qu'ils doivent respecter.</p>
			<p>
				Tous les gabarits que vous composez doivent hériter du layout de base « EUREKAG6KBundle:base/layout:pagelayout.html.twig » fourni avec G6K.
				<br />
				Vous devez donc placer la ligne suivante en tête de gabarit :
			</p>
			<pre class="prettyprint"><code>&lbrace;% extends 'EUREKAG6KBundle:base/layout:pagelayout.html.twig' %&rbrace;
</code></pre>
			<p>Le layout de base remplit les fonctions suivantes :</p>
			<ul>
				<li>Appels des scripts et styles nécessaires au fonctionnement du moteur de simulation;</li>
				<li>Définition des blocs que vous pourrez remplir ou compléter dans vos gabarits.</li>
			</ul>
			<p>Ces blocs sont :</p>
			<ul>
				<li>« doctype » : Document type de la page : contient &lt;!DOCTYPE html&gt; pour HTML5</li>
				<li>« title » : Titre de la page web : vide</li>
				<li>« metas » : Métadonnées de la page web</li>
				<li>« styles » : Liaisons des feuilles de styles CSS</li>
				<li>« hscripts » : Appels de scripts dans la balise &lt;head&gt;</li>
				<li>« body » : Corps de la page HTML</li>
				<li>« bodyclass » : Permet d'ajouter des classes CSS à la balise &lt;body&gt; : vide</li>
				<li>« bodyattr » : Permet d'ajouter des attributs à la balise &lt;body&gt; : vide</li>
				<li>« content » : Contenu visible de la page web. Inclus dans le bloc body : vide;</li>
				<li>« scripts » : Scripts et appels de scripts en fin de page. Inclus dans le bloc body.</li>
				<li>« jquery » : Appel de la bonne version de jquery en fonction du navigateur.</li>
			</ul>
			<div class="alert alert-warning" role="alert">
ATTENTION: Si vous ajoutez du contenu à ces blocs, mettre &lbrace;&lbrace; parent() &rbrace;&rbrace; en début de bloc pour ne pas écraser le contenu mis par le layout de base. Ceci n'est pas utile pour les blocs « title », « bodyclass », « bodyattr » et « content » qui sont vides.
</div>
			<p>
				A noter que le layout de base n'ajoute aucun contenu visible à la page web. C'est dans le bloc « content » que vous devez mettre vos éléménts tels que en-tête de page, pied de page, menus, barre(s) latérale(s) et autres contenus.
				<br />
				Vous devez y ajouter aussi le formulaire de simulation, ce que vous ferez à l'aide d'une macro twig et de variables fournis par G6K.
			</p>
			<p>
				A l'instar de la vue « Demo », il est conseillé de définir une layout propre à votre vue qui sera chargée d'afficher les différents éléments de la page hormis le formulaire de simulation et les éléments propres à un simulateur.
Vous définirez ensuite un gabarit qui héritera de la la layout propre à la vue et qui contiendra le formulaire de simulation et les éléments propre à un simulateur.
				<br />
				C'est ce dernier gabarit qui devra être référencé dans la définition des étapes de simulation dans les simulateurs. Cf. <a href="{{ path('eureka_g6k_admin_documentation', {'document': 'simulators-management' }) }}">Création d’un simulateur</a>
			</p>
			<p>Concrètement, supposons que votre page à l'architecture suivante :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/fr/views-management-template-layout.png') }}" alt="" />
			</p>
			<p>C'est le layout qui affiche les parties à fond gris et positionne le bloc « content » (partie à fond blanc) dans la page.</p>
			<p>C'est le gabarit enfant qui alimente le bloc « content » où :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/views-management-template-area-1.png') }}" alt="" />
				Libellé/Titre du simulateur
				<br />
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/views-management-template-area-2.png') }}" alt="" />
				Description du simulateur
				<br />
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/views-management-template-area-3.png') }}" alt="" />
				Fil d'Ariane d'enchainement des étapes
				<br />
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/views-management-template-area-4.png') }}" alt="" />
				Description de l'étape courante
				<br />
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/views-management-template-area-5.png') }}" alt="" />
				Emplacement du formulaire de simulation à l'étape courante
			</p>
			<p>Les variables et les macros qui permettent d'alimenter ces éléments sont :</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/views-management-template-area-1.png') }}" alt="" />
				<code>&lbrace;&lbrace; step.simulator.label &rbrace;&rbrace;</code>
				<br />
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/views-management-template-area-2.png') }}" alt="" />
				<code>&lbrace;&lbrace; form.paragraphs(step.simulator.description|jscode) &rbrace;&rbrace;</code>
				<br />
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/views-management-template-area-3.png') }}" alt="" />
				<code>&lbrace;&lbrace; form.breadcrumb(_context) &rbrace;&rbrace;</code>
				<br />
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/views-management-template-area-4.png') }}" alt="" />
				<code>&lbrace;&lbrace; step.description &rbrace;&rbrace;</code>
				<br />
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/views-management-template-area-5.png') }}" alt="" />
				<code>&lbrace;&lbrace; form.draw(_context, 'form-horizontal', 'form-group', 'control-label', 'input-group', 'form-control', 'panel panel-default', 'panel-heading', 'panel-body') &rbrace;&rbrace;</code>
			</p>
			<p>Pour utiliser ces macros, il faut les importer dans le gabarit :</p>
			<pre class="prettyprint"><code>&lbrace;% import "EUREKAG6KBundle:base/macros:form.html.twig" as form %&rbrace;
</code></pre>
			<p>Les macros disponibles et utiles sont :</p>
			<ul>
				<li>
					« form.breadcrumb » : Dessine le fil d'Ariane d'enchaînement des étapes.
					<br />
					Paramère : _context
				</li>
				<li>
					« form.draw » : Affiche le formulaire de simulation pour l'étape courante.
					<br />
					Paramètres : 
					<ol>
						<li>_context</li>
						<li>classe CSS du conteneur de groupe de champs</li>
						<li>classe CSS du conteneur de champs</li>
						<li>classe CSS de l'étiquettes de champ</li>
						<li>classe CSS du conteneur englobant un champ et son unité ou le symbole monétaire</li>
						<li>classe CSS du champ</li>
						<li>classe CSS du conteneur de chapître</li>
						<li>classe CSS de l'êntête de chapître</li>
						<li>classe CSS du conteneur de section</li>
					</ol>
				</li>
				<li>
					« form.heading » : Affiche un texte avec un niveau de titre (balises h1, h2, ...) après avoir supprimé les sauts de ligne.
					<br />
					Paramètres : 
					<ol>
						<li>texte à afficher</li>
						<li>niveau de titre (1 à 6)</li>
						<li>classe CSS de la balise générée</li>
					</ol>
				</li>
				<li>
					« form.paragraphs » : Affiche un texte comportant des sauts de ligne en englobant chaque ligne du texte dans des paragraphes HTML (&lt;p&gt;).
					<br />
					Paramètre : le texte à afficher
				</li>
				<li>
					« form.profiles » : Affiche les profils.
					<br />
					Paramètre : _context
				</li>
			</ul>
			<p>Les variables disponibles et utiles sont :</p>
			<ul>
				<li>« step.simulator.name » : Nom du simulateur</li>
				<li>« step.simulator.label » : Libellé/Titre du simulateur</li>
				<li>« step.simulator.description » : Description du simulateur</li>
				<li>« step.simulator.referer » : URL de la page du site où est référencé le simulateur</li>
				<li>« step.simulator.memo : Vrai si le simulateur autorise l'utilisation d'un memo (enregistrement de valeurs de champs dans les cookies), faux sinon</li>
				<li>« step.name » : Nom de l'étape courante</li>
				<li>« step.label » : Libellé/Titre de l'étape courante</li>
				<li>« step.description » : Description de l'étape courante</li>
				<li>« step.dynamic » : Vrai si Javascript est utilisé pour "animer" la simulation, faux sinon</li>
				<li>« script » : Vrai si Javascript est activé dans le navigateur, faux sinon</li>
			</ul>
			<p class="figure-legend">Figure 8 - Gabarit « Demo » illustant l'utilisation des macros et des variables</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/views-management-template-page.png') }}" alt="" />
			</p>
		</div>
	</div>
</div>
