				<h1 id="creation-d-une-vue">
					2. Création d’une vue
				</h1>
				<p>Cliquez sur le bouton « Vues » de la barre de menu</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/views-management-views-buttonbar.png') }}" alt="">
				</p>
				<p>puis sur le bouton « Créer une vue » du menu latéral gauche</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/views-management-view-create-button.png') }}" alt="">
				</p>
				<p>Un formulaire sera alors affiché. Donnez un nom à la vue (sans espace ni caractères spéciaux ou accentués) et éventuellement importez deux fichiers sous format .zip correspondant aux « Gabarits » et aux « Ressources multimédia ».</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/views-management-view-create.png') }}" alt="">
				</p>
				<p>Si vous ne disposez pas de fichier « Gabarits » et de fichier « Ressources multimédia », la vue que vous allez créer récuperera les éléments de la vue par défaut fournie avec G6K.</p>
				<p>Cliquez sur « Créer » pour enregistrer la vue. Les fichiers .zip, s'ils sont fournis, seront décompréssés puis la vue sera affichée sous la forme de répertoires, avec deux onglets :</p>
				<ul>
					<li>les « Gabarits » où sont stockés les fichiers .twig structurant la page</li>
					<li>et « Ressources multimédia » où sont situés les fichiers de style et les images.</li>
				</ul>
				<p class="figure-legend">Figure 1 – Affichage des « Gabarits » de la vue « Demo»</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/views-management-view-templates.png') }}" alt="">
				</p>
				<p class="figure-legend">Figure 2 – Affichage des « Ressources multimédia » de la vue « Demo»</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/views-management-view-assets.png') }}" alt="">
				</p>
				
