<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>
			G6K: Administration guide
		</h1>
		<p class="lead">Composition of business rules</p>
	</div>
</header>
<div class="container">
	<div class="row">
		<div class="span3 bs-docs-sidebar">
			<ul class="nav nav-list bs-docs-sidenav" data-spy="affix">
				<li data-level="1"><a href="#business-rules">Business rules</a></li>
				<li data-level="1"><a href="#rules-composition-interface">Rules composition interface</a></li>
				<li data-level="1"><a href="#entering-a-rule">Entering a rule</a></li>
				<li data-level="2"><a href="#entering-a-condition">Entering a condition</a></li>
				<li data-level="3"><a href="#simple-condition">Simple condition</a></li>
				<li data-level="4"><a href="#selection-of-the-operand">Selection of the operand</a></li>
				<li data-level="4"><a href="#selecting-the-operator">Selecting the operator</a></li>
				<li data-level="5"><a href="#operators">Operators</a></li>
				<li data-level="5"><a href="#string-operators">String Operators</a></li>
				<li data-level="6"><a href="#numeric-operators">Numeric Operators</a></li>
				<li data-level="4"><a href="#date-operators">Date operators</a></li>
				<li data-level="4"><a href="#choice-operators">Choice operators</a></li>
				<li data-level="4"><a href="#boolean-operators">Boolean operators</a></li>
				<li data-level="4"><a href="#entering-the-value-/-expression">Entering the value / expression</a></li>
				<li data-level="3"><a href="#deleting-a-condition">Deleting a condition</a></li>
				<li data-level="2"><a href="#entering-an-action">Entering an action</a></li>
				<li data-level="3"><a href="#display-an-error-or-a-warning">Display an error or a warning</a></li>
				<li data-level="3"><a href="#hide-or-show-an-element-of-the-simulation-form">Hide or show an element of the simulation form</a></li>
				<li data-level="3"><a href="#assigning-a-value-to-a-data-attribute">Assigning a value to a data attribute</a></li>
				<li data-level="2"><a href="#deleting-an-action">Deleting an action</a></li>
				<li data-level="1"><a href="#editing-a-rule">Editing a rule</a></li>
				<li data-level="1"><a href="#deleting-a-rule">Deleting a rule</a></li>
				<li data-level="1"><a href="#sorting-rules">Sorting rules</a></li>
			</ul>
		</div>
		<div class="span9">
			<h1 id="business-rules">
				Business rules
			</h1>
			<p>It is the « business rules » that determine the behavior of the simulator. They are triggered when the context changes.</p>
			<p>A change of context always results in the acquisition or modification of data.</p>
			<p>G6k inquiries about the context change by reverting the conditions associated with the rules when the value of a data changes.</p>
			<p>Thus, when the user enters a value, g6K accesses a reference data or a value is calculated, the impacted rules are evaluated and the associated actions are executed if necessary.</p>
			<p>The actions that can be carried out are:</p>
			<ul>
				<li>Show or hide part of the page (a field, a fields set, a panel, a button, ...)</li>
				<li>Display an error or warning message</li>
				<li>Perform a calculation and assign it to a data</li>
			</ul>
			<p>A business rule has the following syntax:</p>
			<pre class="prettyprint">
&lt;business rule&gt;: <span class="label label-default">When ...</span>&lt;condition&gt;[<span class="label label-default">then do ...</span>&lt;action&gt;...&lt;action&gt;][<span class="label label-default">else do ...</span>&lt;action&gt; ... &lt;action&gt;]
</pre>
			<p><strong>&lt;condition&gt;</strong></p>
			<pre class="prettyprint">
&lt;condition&gt;: &lt;simple condition&gt; | &lt;composite condition&gt; &lt;simple condition&gt;: &lt;operand&gt;&lt;operator&gt;[(&lt;value&gt; | &lt;expression&gt;)] &lt;composite condition&gt;: &lt;connector&gt; &lt;condition&gt; ... &lt;condition&gt;
</pre>
			<p><strong>&lt;operator&gt;</strong></p>
			<pre class="prettyprint">
&lt;operator&gt;:<span class="label label-default">contains</span> | <span class="label label-default">corresponds to</span> | <span class="label label-default">does not corresponds to</span> | <span class="label label-default">is after</span> | <span class="label label-default">is before</span> | <span class="label label-default">is equal to</span> | <span class="label label-default">is greater than</span> | <span class="label label-default">is greater than or equal to</span> | <span class="label label-default">is less than</span> | <span class="label label-default">is less than or equal to</span> | <span class="label label-default">is not after</span> | <span class="label label-default">is not before</span> | <span class="label label-default">is not equal to</span> | <span class="label label-default">is not present</span> | <span class="label label-default">is present</span> | <span class="label label-default">is true</span> | <span class="label label-default">matches</span> | <span class="label label-default">not contains</span>
</pre>
			<p><strong>&lt;connector&gt;</strong></p>
			<pre class="prettyprint">
&lt;connector&gt;: <span class="label label-default">All</span> | <span class="label label-default">Any</span> | <span class="label label-default">None</span>
</pre>
			<p><strong>&lt;action&gt;</strong></p>
			<pre class="prettyprint">
&lt;action&gt;: (<span class="label label-default">notify Error</span> | <span class="label label-default">notify Warning</span>)&lt;message&gt;<span class="label label-default">on</span><span class="label label-default">the data</span>&lt;data&gt;
ou
&lt;action&gt;: (<span class="label label-default">notify Error</span> | <span class="label label-default">notify Warning</span>)&lt;message&gt;<span class="label label-default">on</span><span class="label label-default">the dataset</span>
ou
&lt;action&gt;: (<span class="label label-default">notify Error</span> | <span class="label label-default">notify Warning</span>)&lt;message&gt;<span class="label label-default">on</span><span class="label label-default">the datagroup</span>&lt;datagroup&gt;
ou
&lt;action&gt;: (<span class="label label-default">Hide</span> | <span class="label label-default">Show</span>) <span class="label label-default">the step</span>&lt;step&gt;
ou
&lt;action&gt;: (<span class="label label-default">Hide</span> | <span class="label label-default">Show</span>) <span class="label label-default">the panel</span> <span class="label label-default">of step</span>&lt;step&gt;<span class="label label-default">whose label is</span>&lt;panel&gt;
ou
&lt;action&gt;: (<span class="label label-default">Hide</span> | <span class="label label-default">Show</span>) <span class="label label-default">the fieldset</span> <span class="label label-default">of step</span>&lt;step&gt;<span class="label label-default">of panel</span>&lt;panel&gt;<span class="label label-default">whose label is</span>&lt;fieldset&gt;
ou
&lt;action&gt;: (<span class="label label-default">Hide</span> | <span class="label label-default">Show</span>) <span class="label label-default">the field</span> <span class="label label-default">of step</span>&lt;step&gt;<span class="label label-default">of panel</span>&lt;panel&gt;<span class="label label-default">of fieldset</span>&lt;fieldset&gt;<span class="label label-default">whose label is</span>&lt;field&gt;
ou
&lt;action&gt;: (<span class="label label-default">Hide</span> | <span class="label label-default">Show</span>) <span class="label label-default">the column</span> <span class="label label-default">of step</span>&lt;step&gt;<span class="label label-default">of panel</span>&lt;panel&gt;<span class="label label-default">of fieldset</span>&lt;fieldset&gt;<span class="label label-default">whose label is</span>&lt;column&gt;
ou
&lt;action&gt;: (<span class="label label-default">Hide</span> | <span class="label label-default">Show</span>) <span class="label label-default">the fieldrow</span> <span class="label label-default">of step</span>&lt;step&gt;<span class="label label-default">of panel</span>&lt;panel&gt;<span class="label label-default">of fieldset</span>&lt;fieldset&gt;<span class="label label-default">whose label is</span>&lt;fieldrow&gt;
ou
&lt;action&gt;: (<span class="label label-default">Hide</span> | <span class="label label-default">Show</span>) <span class="label label-default">the blockinfo</span> <span class="label label-default">of step</span>&lt;step&gt;<span class="label label-default">of panel</span>&lt;panel&gt;<span class="label label-default">whose label is</span>&lt;blockinfo&gt;
ou
&lt;action&gt;: (<span class="label label-default">Hide</span> | <span class="label label-default">Show</span>) <span class="label label-default">the chapter</span> <span class="label label-default">of step</span>&lt;step&gt;<span class="label label-default">of panel</span>&lt;panel&gt;<span class="label label-default">of blockinfo</span>&lt;blockinfo&gt;<span class="label label-default">whose label is</span>&lt;chapter&gt;
ou
&lt;action&gt;: (<span class="label label-default">Hide</span> | <span class="label label-default">Show</span>) <span class="label label-default">the section</span> <span class="label label-default">of step</span>&lt;step&gt;<span class="label label-default">of panel</span>&lt;panel&gt;<span class="label label-default">of blockinfo</span>&lt;blockinfo&gt;<span class="label label-default">of chapter</span>&lt;chapter&gt;<span class="label label-default">whose label is</span>&lt;section&gt;
ou
&lt;action&gt;: (<span class="label label-default">Hide</span> | <span class="label label-default">Show</span>) <span class="label label-default">the actionbutton</span> <span class="label label-default">of step</span>&lt;step&gt;<span class="label label-default">whose label is</span>&lt;actionbutton&gt;
ou
&lt;action&gt;: (<span class="label label-default">Hide</span> | <span class="label label-default">Show</span>) <span class="label label-default">the footnote</span> <span class="label label-default">of step</span>&lt;step&gt;<span class="label label-default">whose label is</span>&lt;footnote&gt;
ou
&lt;action&gt;: (<span class="label label-default">Hide</span> | <span class="label label-default">Show</span>) <span class="label label-default">the choice</span> <span class="label label-default">of data</span>&lt;data&gt;<span class="label label-default">whose label is</span>&lt;choice&gt;
</pre>
			<p>Evaluating a rule consists to evaluate the condition of the rule. The result of the evaluation has three states: « true », « false » or « undefined ».</p>
			<p>
				If the state is « true » then the <span class="label label-default">then do ...</span> actions are executed.
				<br />
				If the state is « false » then the <span class="label label-default">else do ... </span> actions are executed.
				<br />
				If the state is « undefined » then no action is executed.
			</p>
			<p>The evaluation returns « undefined » if at least one of the operands contains no value.</p>
			<h1 id="rules-composition-interface">
				Rules composition interface
			</h1>
			<p>The G6K interface for entering or modifying a rule is as follows:</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-rule-add.png') }}" alt="" />
			</p>
			<p>To access it, click on the « Simulators » button on the menu bar:</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-simulators-buttonbar.png') }}" alt="" />
			</p>
			<p>Then select the simulator from the left side menu.</p>
			<p>To enter a new rule, click the « Add » button in the « Business rules » panel:</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-rule-add-button.png') }}" alt="" />
			</p>
			<p>To edit a rule, unfold the « Business rules » panel and click the « Edit » button in the title bar of the rule you want to modify:</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-rule-edit-button.png') }}" alt="" />
			</p>
			<h1 id="entering-a-rule">
				Entering a rule
			</h1>
			<p>The form for entering a rule consists of 4 blocks:</p>
			<ol>
				<li>the block for inputting the attributes of the rule.</li>
				<li>the input block of the triggering condition of the actions of the rule.</li>
				<li>the action input block when the condition is true.</li>
				<li>the action input block when the condition is false.</li>
			</ol>
			<p><strong>Attributes:</strong></p>
			<ol>
				<li>« Name »: Name of the rule.</li>
				<li>« Label »: Label of the rule.</li>
			</ol>
			<p>The name and label appear in the title bar of the rule panel to allow you to locate it when the panel is folded. Give an explicit label to the rule.</p>
			<h2 id="entering-a-condition">
				Entering a condition
			</h2>
			<p>
				In the condition entry block, there is the line: 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-conditions-connector.png') }}" alt="" />
				<br />
				Click on the underlined word to select the connector: 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-connectors-list.png') }}" alt="" />
			</p>
			<p>The connector allows you to enter a "compound condition" by combining the "simple conditions" that you enter directly below the connector.
The conditions are presented by levels. The connector introduces a level of conditions. One level is materialized by a shrinkage from the connector.</p>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Connector</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>All</td>
						<td>All line conditions of the next lower level must be true (this is the equivalent of AND)</td>
					</tr>
					<tr>
						<td>Any</td>
						<td>At least one of the conditions of the lines of the next lower level must be true (this is the equivalent of OR)</td>
					</tr>
					<tr>
						<td>None</td>
						<td>None of the conditions of the lines of the next lower level must be true</td>
					</tr>
				</tbody>
			</table>
			<p>For example:</p>
			<pre class="prettyprint">
<span class="label-default">All</span> the following conditions are met: <span class="label label-default">simple condition A </span> <span class="label label-default">Any</span> of the following conditions is satisfied: <span class="label label-default">simple condition B </span> <span class="label label-default">simple condition C </span>
</pre>
			<p>translates the boolean expression: <code>simple condition A AND (simple condition B OR simple condition C)</code></p>
			<pre class="prettyprint">
<span class="label label-default">simple condition A</span> is level 1, <span class="label label-default">simple condition B</span> and <span class="label label-default">simple condition C</span> are level 2.
</pre>
			<p>
				Click 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/business-rules-subcondition-add-button.png') }}" alt="" />
				to add a compound condition by entering a subcondition level under that connector.
				<br />
				The line below is displayed below the connector with an indent indicated by the arrow:
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-conditions-subcondition.png') }}" alt="" />
			</p>
			<p>or</p>
			<p>
				Click 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/business-rules-condition-add-button.png') }}" alt="" />
				to the right of the connector to add a simple condition of that connector's level.
				<br />
				The following line is displayed below the connector with an indent:
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-conditions-condition.png') }}" alt="" />
			</p>
			<h3 id="simple-condition">
				Simple condition
			</h3>
			<p>As seen at the beginning of this document, a simple condition has the following syntax:</p>
			<pre class="prettyprint">
&lt;simple condition&gt;: &lt;operand&gt;&lt;operator&gt;[(&lt;value&gt; | &lt;expression&gt;)]
</pre>
			<h4 id="selection-of-the-operand">
				Selection of the operand
			</h4>
			<p>Click on the first underlined item in the condition, a drop-down list appears:</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-conditions-operands.png') }}" alt="" />
			</p>
			<p>The items in this list are composed from the data you defined in the « Datas » panel.</p>
			<h4 id="selecting-the-operator">
				Selecting the operator
			</h4>
			<p>Click on the second underlined item in the condition, a drop-down list appears:</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-conditions-operators.png') }}" alt="" />
			</p>
			<p>The items of this list of operators depend on the data type of the operand. These operators are described below:</p>
			<h5 id="operators">
				Operators
			</h5>
			<h5 id="string-operators">
				String Operators
			</h5>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Operator</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>is present</td>
						<td>The evaluation returns "true" if the data associated with the operand contains a value, "false" otherwise.</td>
					</tr>
					<tr>
						<td>is not present</td>
						<td>The evaluation returns "true" if the data associated with the operand contains no value, "false" otherwise.</td>
					</tr>
					<tr>
						<td>is equal to</td>
						<td>The evaluation returns "true" if the value of the data associated with the operand is equal to the value of the result of the evaluation of the expression, "false" otherwise.</td>
					</tr>
					<tr>
						<td>is not equal to</td>
						<td>The evaluation returns "true" if the value of the data associated with the operand is different from the value of the result of the evaluation of the expression, "false" otherwise.</td>
					</tr>
					<tr>
						<td>contains</td>
						<td>Applies only to list operands: The evaluation returns "true" if the value of the 'list' type data associated with the operand contains the value of the result of the evaluation of the expression , "false" otherwise.</td>
					</tr>
					<tr>
						<td>does not contain</td>
						<td>Applies only to list operands: The evaluation returns "true" if the value of the list data associated with the operand does not contain the value of the result of the evaluation of the list expression, "false" otherwise.</td>
					</tr>
				</tbody>
			</table>
			<h6 id="numeric-operators">
				Numeric Operators
			</h6>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Operator</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>is present</td>
						<td>The evaluation returns "true" if the data associated with the operand contains a value, "false" otherwise.</td>
					</tr>
					<tr>
						<td>is not present</td>
						<td>The evaluation returns "true" if the data associated with the operand contains no value, "false" otherwise.</td>
					</tr>
					<tr>
						<td>is equal to</td>
						<td>The evaluation returns "true" if the value of the data associated with the operand is equal to the value of the result of the evaluation of the expression, "false" otherwise.</td>
					</tr>
					<tr>
						<td>is not equal to</td>
						<td>The evaluation returns "true" if the value of the data associated with the operand is different from the value of the result of the evaluation of the expression, "false" otherwise.</td>
					</tr>
					<tr>
						<td>is greater than</td>
						<td>The evaluation returns "true" if the value of the data associated with the operand is greater than the value of the result of the evaluation of the expression, "false" otherwise. |</td>
					</tr>
					<tr>
						<td>is greater than or equal to</td>
						<td>The evaluation returns "true" if the value of the data associated with the operand is greater than or equal to the value of the evaluation result of the expression, "false" otherwise.</td>
					</tr>
					<tr>
						<td>is less than</td>
						<td>The evaluation returns "true" if the value of the data associated with the operand is less than the value of the result of the evaluation of the expression, "false" otherwise.</td>
					</tr>
					<tr>
						<td>is less than or equal to</td>
						<td>The evaluation returns "true" if the value of the data associated with the operand is less than or equal to the value of the result of the evaluation of the expression, "false" otherwise.</td>
					</tr>
					<tr>
						<td>contains</td>
						<td>Applies only to list operands: The evaluation returns "true" if the value of the 'list' type data associated with the operand contains the value of the result of the evaluation of the expression , "False" otherwise.</td>
					</tr>
					<tr>
						<td>does not contain</td>
						<td>Applies only to list operands: The evaluation returns "true" if the value of the list data associated with the operand does not contain the value of the result of the evaluation of the list expression, "false" otherwise.</td>
					</tr>
				</tbody>
			</table>
			<h4 id="date-operators">
				Date operators
			</h4>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Operator</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>is present</td>
						<td>The evaluation returns "true" if the data associated with the operand contains a value, "false" otherwise.</td>
					</tr>
					<tr>
						<td>is not present</td>
						<td>The evaluation returns "true" if the data associated with the operand contains no value, "false" otherwise.</td>
					</tr>
					<tr>
						<td>corresponds to</td>
						<td>The evaluation returns "true" if the value of the date associated with the operand is equal to the value of the evaluation result of the expression, "false" otherwise.</td>
					</tr>
					<tr>
						<td>does not corresponds to</td>
						<td>The evaluation returns "true" if the value of the date associated with the operand is different from the value of the result of the evaluation of the expression, "false" otherwise.</td>
					</tr>
					<tr>
						<td>is after</td>
						<td>The evaluation returns "true" if the value of the date associated with the operand is later than the value of the result of the evaluation of the expression, "false" otherwise.</td>
					</tr>
					<tr>
						<td>is not before</td>
						<td>The evaluation returns "true" if the value of the date associated with the operand is not prior to the value of the result of the evaluation of the expression, "false" otherwise.</td>
					</tr>
					<tr>
						<td>is before</td>
						<td>The evaluation returns "true" if the value of the date associated with the operand is prior to the value of the result of the evaluation of the expression, "false" otherwise.</td>
					</tr>
					<tr>
						<td>is not after</td>
						<td>The evaluation returns "true" if the value of the date associated with the operand is not later than the value of the result of the evaluation of the expression, "false" otherwise.</td>
					</tr>
				</tbody>
			</table>
			<h4 id="choice-operators">
				Choice operators
			</h4>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Operator</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>is present</td>
						<td>The evaluation returns "true" if the data associated with the operand contains a value, "false" otherwise.</td>
					</tr>
					<tr>
						<td>is not present</td>
						<td>The evaluation returns "true" if the data associated with the operand contains no value, "false" otherwise.</td>
					</tr>
					<tr>
						<td>is equal to</td>
						<td>The evaluation returns "true" if the value of the data associated with the operand is equal to the value of the result of the evaluation of the expression, "false" otherwise.</td>
					</tr>
					<tr>
						<td>is not equal to</td>
						<td>The evaluation returns "true" if the value of the data associated with the operand is different from the value of the result of the evaluation of the expression, "false" otherwise.</td>
					</tr>
				</tbody>
			</table>
			<h4 id="boolean-operators">
				Boolean operators
			</h4>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Operator</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>is present</td>
						<td>The evaluation returns "true" if the data associated with the operand contains a value, "false" otherwise.</td>
					</tr>
					<tr>
						<td>is not present</td>
						<td>The evaluation returns "true" if the data associated with the operand contains no value, "false" otherwise.</td>
					</tr>
					<tr>
						<td>is true</td>
						<td>The evaluation returns "true" if the value of the data associated with the operand is equal to 'true', 'false' otherwise.</td>
					</tr>
					<tr>
						<td>is false</td>
						<td>The evaluation returns "true" if the value of the data associated with the operand is equal to 'false', 'false' otherwise.</td>
					</tr>
				</tbody>
			</table>
			<p>
				The operators « is present », « is not present », « is true » and « is false » are unary operators, that is, they operate only on the operand. There is no expression on their right.
				<br />
				The other operators are binary operators.
			</p>
			<h4 id="entering-the-value-/-expression">
				Entering the value / expression
			</h4>
			<p>
				If the selected operator is a binary operator, a list box appears after the operator.
				<br />
				If the operand is of the "choice" type, the list box displayed is a list of possible values of the operand.
				<br />
				Otherwise the list box allows you to compose an expression:
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-conditions-expression.png') }}" alt="" />
			</p>
			<p>See <a href="{{ path('eureka_g6k_admin_documentation', {'document': 'expression-builder' }) }}">Composition of expressions</a> for how to enter an expression.</p>
			<h3 id="deleting-a-condition">
				Deleting a condition
			</h3>
			<p>
				To remove a single or compound condition, click the 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/business-rules-condition-delete-button.png') }}" alt="" />
				button to the right of the condition.
			</p>
			<h2 id="entering-an-action">
				Entering an action
			</h2>
			<p>You can enter an action either in the "then do ..." block if you want it to be executed when the result of the condition evaluation returns 'true' or in the 'else do ...' block in the case 'false'.</p>
			<p>You can add more than one action in each block of the same rule.</p>
			<p>
				Click on the button 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-action-add-button.png') }}" alt="" />
				of one of these two blocks, the following line is displayed:
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-action-add.png') }}" alt="" />
			</p>
			<p>Click on « Choose an action ... » to open the list of possible actions:</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-actions-list.png') }}" alt="" />
			</p>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Action</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>notify Error</td>
						<td>Allows you to define an error message associated with a data, a data group or all the data</td>
					</tr>
					<tr>
						<td>notify Warning</td>
						<td>Defines a warning message associated with a data item, data group, or all data. Unlike the error message, the warning message does not block the progress of the simulation</td>
					</tr>
					<tr>
						<td>Hide</td>
						<td>Allows to hide an element of the simulation form</td>
					</tr>
					<tr>
						<td>Show</td>
						<td>Allows you to show (display) an element of the simulation form</td>
					</tr>
					<tr>
						<td>Set</td>
						<td>Allows to assign a value or the result of the evaluation of an expression to the content of a data item or to its default value, its minimum or maximum value, or to define the field of a data source feeding the data.</td>
					</tr>
					<tr>
						<td>Unset</td>
						<td>Deletes the contents of a data item. The data becomes "not filled".</td>
					</tr>
				</tbody>
			</table>
			<p>These actions are detailed below:</p>
			<h3 id="display-an-error-or-a-warning">
				Display an error or a warning
			</h3>
			<p>
				Choose « notify Error » or « notify Warning » in the action list.
				<br />
				The line completes to allow you to enter the message as well as its target:
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-action-notifyerror.png') }}" alt="" />
			</p>
			<p>Click "click to enter the message", the input field appears.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-action-notifyerror-message.png') }}" alt="" />
			</p>
			<p>Enter the message and validate by clicking on « Ok ».</p>
			<p>Click « click to select ... », to choose the target.</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-action-notifyerror-target.png') }}" alt="" />
			</p>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Target</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>the data</td>
						<td>The message concerns a particular data, the message is displayed below the input field</td>
					</tr>
					<tr>
						<td>the dataset</td>
						<td>The message concerns all the simulation form (eg inconsistency of entered data), the message appears below the form.</td>
					</tr>
					<tr>
						<td>the datagroup</td>
						<td>The message concerns a group of data, the message is displayed below the group.</td>
					</tr>
				</tbody>
			</table>
			<p>If the target is a data or a data group, the data (or group) must be selected from the list that appears:</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-action-notifyerror-target-datas-list.png') }}" alt="" />
			</p>
			<p>Note: For data values resulting from user input, it is not necessary to define an error message in the following cases:</p>
			<ul>
				<li>The input field is not set while the data is required.</li>
				<li>The value entered does not correspond to the format expected given the type of the data.</li>
			</ul>
			<p>These cases are processed automatically by G6K or the browser.</p>
			<h3 id="hide-or-show-an-element-of-the-simulation-form">
				Hide or show an element of the simulation form
			</h3>
			<p>These two actions are used to manage the display of the form elements of a simulation step.</p>
			<p>Choose « Hide » or « Show » in the list of actions, the list of items is displayed:</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-action-showobject-targets-list.png') }}" alt="" />
			</p>
			<p>
				Once the form element is selected, the row completes to select the 'container' elements of the item to be hidden or shown.
				<br />
				For example, if you choose to hide a field, you must successively select the step, the panel, the group of fields that contains this field.
			</p>
			<p>The table below shows the hierarchy of the containers according to the chosen element:</p>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Form element</th>
						<th>containers</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>the step</td>
						<td>none</td>
					</tr>
					<tr>
						<td>the panel</td>
						<td>step</td>
					</tr>
					<tr>
						<td>the blockinfo</td>
						<td>step / panel</td>
					</tr>
					<tr>
						<td>the chapter</td>
						<td>step / panel / blockinfo</td>
					</tr>
					<tr>
						<td>the section</td>
						<td>step / panel / blockinfo / chapter</td>
					</tr>
					<tr>
						<td>the fieldset</td>
						<td>step / panel</td>
					</tr>
					<tr>
						<td>the column</td>
						<td>step / panel / fieldset</td>
					</tr>
					<tr>
						<td>the fieldrow</td>
						<td>step / panel / fieldset</td>
					</tr>
					<tr>
						<td>the field (1)</td>
						<td>step / panel / fieldset [ / fieldrow ]</td>
					</tr>
					<tr>
						<td>the actionbutton</td>
						<td>step</td>
					</tr>
					<tr>
						<td>the footnote</td>
						<td>step</td>
					</tr>
					<tr>
						<td>the choice (2)</td>
						<td>list of choices of data of type 'choice'</td>
					</tr>
				</tbody>
			</table>
			<p>
				(1) the row is to be specified only if the field is contained in an array.
				<br />
				(2) makes it possible to show/hide a list element when the data item is of the 'choice' type
			</p>
			<p><strong>Examples of actions to show form elements</strong></p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-action-showobject-examples.png') }}" alt="" />
			</p>
			<h3 id="assigning-a-value-to-a-data-attribute">
				Assigning a value to a data attribute
			</h3>
			<p>Choose « Set » or « Unset » in the list of actions, the list of attributes is displayed:</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-action-setattribute-targets-list.png') }}" alt="" />
			</p>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Attribute</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>the content</td>
						<td>Contains the value assigned to the data</td>
					</tr>
					<tr>
						<td>the default</td>
						<td>Contains the value to be taken into account when the "value" attribute is not filled.</td>
					</tr>
					<tr>
						<td>the minimum</td>
						<td>Contains the minimum value that can be assigned to the data.</td>
					</tr>
					<tr>
						<td>the maximum</td>
						<td>Contains the maximum value that can be assigned to the data.</td>
					</tr>
					<tr>
						<td>the result index</td>
						<td>Contains the name of a data source query field when the data is powered by this source.</td>
					</tr>
					<tr>
						<td>the explanation</td>
						<td>Contains an explanation of how the data is calculated</td>
					</tr>
				</tbody>
			</table>
			<p>The « Set » action can be used to assign a value to one of these attributes, the « Unset » action can be used to erase (clear) the contents.</p>
			<p>Once the attribute is chosen, the line completes as follows:</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-action-setattribute-value.png') }}" alt="" />
			</p>
			<p>Click "click to select ..." to display the list of data:</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-action-setattribute-value-datas-list.png') }}" alt="" />
			</p>
			<p>Choose the data for which you want to change the attribute value.</p>
			<p>
				If the action is « Unset », the entry of the action is completed.
				<br />
				If this is the « Set » action, you can now choose the value or compose the expression to assign to the attribute:
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-action-setattribute-value-data-expression.png') }}" alt="" />
			</p>
			<p>Refer to the <a href="{{ path('eureka_g6k_admin_documentation', {'document': 'expression-builder' }) }}">Composition of expressions</a> page for how to enter the expression.</p>
			<p><strong>Example of action assigning the result of a calculation to a data</strong></p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-action-setattribute-example.png') }}" alt="" />
			</p>
			<h2 id="deleting-an-action">
				Deleting an action
			</h2>
			<p>
				To delete an action, click the 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/business-rules-action-delete-button.png') }}" alt="" />
				button to the left of the action.
			</p>
			<h1 id="editing-a-rule">
				Editing a rule
			</h1>
			<p>To modify a rule, click on the « Edit » button of the title bar of the rule to be modified:</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-rule-edit-button.png') }}" alt="" />
			</p>
			<p>The editing form for a rule is the same as the rule entry form, so refer to <a href="#entering-a-rule">Entering a rule</a> in this document.</p>
			<h1 id="deleting-a-rule">
				Deleting a rule
			</h1>
			<p>To delete a rule, expand the « Business rules » panel and click the « Delete » button on the title bar of the rule you want to delete:</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-rule-delete-button.png') }}" alt="" />
			</p>
			<p>Then confirm the deletion:</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/simulators-management-rule-delete-confirm.png') }}" alt="" />
			</p>
			<h1 id="sorting-rules">
				Sorting rules
			</h1>
			<p>
				To reorder the rules, unfold the "Business Rules" panel, click the title bar of the rule you want to move and hold down the left mouse button (the cursor 
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/drag-cursor.png') }}" alt="" />
				appears), drag the rule to the desired location.
			</p>
			<p>
				<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/en/business-rules-rule-drag.png') }}" alt="" />
			</p>
		</div>
	</div>
</div>
