				<h3 id="table-feeding">
					2.1.2. Table feeding
				</h3>
				<p>
					To save data to the table, click the « Add Record » button.
					<br>
					A blank line is displayed at the beginning of the table to allow you to enter the values of the record.
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/datasources-management-table-row-add.png') }}" alt="">
				</p>
				<p>
					Once you have entered the values, click on the « Save » button to save them.
					<br>
					If you want to change the values, click on the icon: 
					<img src="{{ asset('assets/admin/images/documentation/datasources-management-table-row-edit-button.png') }}" alt="">
					, make the changes and click the « Save » button to save them.
					<br>
					Finally, if you want to delete a record click on the icon: 
					<img src="{{ asset('assets/admin/images/documentation/datasources-management-table-row-delete-button.png') }}" alt="">
					, a « Confirm » button will appear, click to delete the record permanently.
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/datasources-management-table-row-delete.png') }}" alt="">
				</p>
				<p>Once confirmed, the record will be deleted from the database, but the line will remain displayed with a « Restore » button if you have made a mistake or changed your mind.</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/datasources-management-table-row-restore.png') }}" alt="">
				</p>
				<p>If you click « Restore », the line will be re-registered in the database.</p>
				<p>If you do not click « Restore », the next time the page is redisplayed, the record will no longer appear in the list.</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/datasources-management-table-row-deleted.png') }}" alt="">
				</p>
				
