				<h2 id="deleting-a-user">
					2.3. Deleting a user
				</h2>
				<p>
					To delete a user click the button : 
					<img src="{{ asset('assets/admin/images/documentation/en/users-management-user-delete-button.png') }}" alt="">
				</p>
				<p>
					A confirmation button will appear, click on it ( 
					<img src="{{ asset('assets/admin/images/documentation/en/users-management-user-confirm-button.png') }}" alt="">
					) to delete the account.
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/users-management-user-delete.png') }}" alt="">
				</p>
				<p>
					Once confirmed, the user's account will be deleted from the user database, but the account line will still be displayed with a "Restore" button if you have made a mistake or changed your mind.
					<br>
					Note that if you restore the account, the user will not be able to log in with his old password. Indeed, for security reasons, the old password could not be registered because it was coded according to the day of its creation.
					<br>
					You must enter a new password and communicate it to the user.
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/users-management-user-delete-restore.png') }}" alt="">
				</p>
				<p>At the next re-display of the page, the account will no longer appear in the list.</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/users-management-list.png') }}" alt="">
				</p>
			
