				<h2 id="adding-a-user">
					2.1. Adding a user
				</h2>
				<p>
					To create a user account, click the 
					<img src="{{ asset('assets/admin/images/documentation/en/users-management-user-create-button.png') }}" alt="">
					button at the top right of the list.
				</p>
				<p>A blank line will appear at the top of the list, so you can enter the account attributes according to their specifications.</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/users-management-user-create.png') }}" alt="">
				</p>
				<p>
					To save the account, click the 
					<img src="{{ asset('assets/admin/images/documentation/en/users-management-user-edit-save-button.png') }}" alt="">
					button, it will be immediately recorded in the database.
				</p>
				<p><em>If the user enters a bad username when logged in, the following message will be displayed: ‘’Invalid credentials.’’</em></p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/users-management-user-login-invalid.png') }}" alt="">
				</p>
				<p>When an account is disabled, it can no longer log in to access its role functions.</p>
				<p>For example, if the account of "Guest" is disabled, he will be notified by the message ‘’Account is disabled.’’. when he tries to connect*</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/users-management-user-login-disabled.png') }}" alt="">
				</p>
				
