				<h1 id="creating-a-view">
					2. Creating a View
				</h1>
				<p>Click on the « Views » button on the menu bar</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/views-management-views-buttonbar.png') }}" alt="">
				</p>
				<p>then on the « Create view » button in the left side menu</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/views-management-view-create-button.png') }}" alt="">
				</p>
				<p>
					A form will then be displayed. It will be required to name the view (without space, special or accented characters) with the possibility to import two .zip files corresponding to the « Templates » and « Assets ».

					<img src="{{ asset('assets/admin/images/documentation/en/views-management-view-create.png') }}" alt="">
				</p>
				<p>If you do not have a « Templates » file and a « Assets » file, the view that’s is created will inherit the elements of the default view provided with G6K.</p>
				<p>Click « Create » to save the view. The .zip files, if provided, will be unzipped and then the view will be displayed in the form of directories, with two tabs:</p>
				<ul>
					<li>« Templates » where the .twig files that structure the page are stored</li>
					<li>and « Assets » where the style files and images are located.</li>
				</ul>
				<p class="figure-legend">Figure 1 - Displaying the « Templates » of the « Demo » view</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/views-management-view-templates.png') }}" alt="">
				</p>
				<p class="figure-legend">Displaying the « Assets » of the « Demo » view</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/views-management-view-assets.png') }}" alt="">
				</p>
				
