				<h2 id="adding-a-subfolder-or-a-file-to-an-existing-folder">
					4.1. Adding a subfolder or a file to an existing folder
				</h2>
				<p>
					If you want to add a subfolder or a file to a folder, click the « Add subfolder or file to ‘Name of folder’ » button: 
					<img src="{{ asset('assets/admin/images/documentation/views-management-file-add-button.png') }}" alt="">
					<br>
					A form will then be displayed to choose between:
				</p>
				<ul>
					<li>Add a « subfolder » : it will be required to name the subfolder (without spaces, special or accented characters),</li>
					<li>Add a « file » : it will be required to name it and import it from your computer.</li>
				</ul>
				<p>
					In the « Templates » tab, only files with the .twig extension can be added, otherwise an error will be displayed.
					<br>
					For « Assets » there is no special extension or type.
				</p>
				<p>Then press the « Submit » button.</p>
				<p class="figure-legend">Figure 3 – Form for adding a subfolder and displaying of the added subfolder</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/views-management-folder-add.png') }}" alt="">
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/views-management-folder-added.png') }}" alt="">
				</p>
				<p class="figure-legend">Figure 4 - Form for adding a file and displaying of the added file</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/views-management-file-add.png') }}" alt="">
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/views-management-file-added.png') }}" alt="">
				</p>
				
