<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr-FR" lang="fr-FR">
 <head>
  <title>Références du marché</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />      
 <link href="src/EUREKA/G6KBundle/Resources/public/Default/css/g6k_pdf.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <table border="1">
    <caption class="textegrasbleu14">
      Etat de calcul et de versement des intérets moratoires.
	{% if not(calcul.vars.value.nouveauxCalculs) %}
    <br />
      (paiement simultané des IM principaux et complémentaires)
	{% endif %}
    </caption>
    <tr>
      <td class="Titre" colspan="2">&nbsp;Références du marché</td>
    </tr>
    <tr>
      <td class="textecourant" width="40%">Service</td>
      <td class="textecourant">{{ calcul.vars.value.service }}</td>
    </tr>
    <tr>
      <td class="textecourant">Titulaire</td>
      <td class="textecourant">{{ calcul.vars.value.titulaire }}</td>
    </tr>
    <tr>
      <td class="textecourant">Sous-traitant</td>
      <td class="textecourant">{{ calcul.vars.value.sousTraitant }}</td>
    </tr>
    <tr>
      <td class="textecourant">Marché</td>
      <td class="textecourant">{{ calcul.vars.value.numAdmMarche }}</td>
    </tr>
    <tr>
      <td class="textecourant">Objet du marché</td>
      <td class="textecourant">{{ calcul.vars.value.objetMarche }}</td>
    </tr>
    <tr>
      <td class="textecourant">Notifié le</td>
      <td class="textecourant">{% if calcul.vars.value.dateNotifMarche %} {{ calcul.vars.value.dateNotifMarche|date("d/m/Y") }} {% endif %}</td>
    </tr>
    <tr>
      <td class="textecourant">Références du versement</td>
      <td class="textecourant">{{ calcul.vars.value.refVersement }}</td>
    </tr>
  </table>
  <br />
  {% if not(calcul.vars.value.NouveauxCalculs) %}
  {# Anciens calculs #}
  <table border="1">
    <tr>
      <td class="Titre" colspan="2">&nbsp;
	  Intérêts moratoires
	  {% if calcul.vars.value.typeVersement == 1 %}
		  se rapportant A L'AVANCE
	  {% elseif calcul.vars.value.typeVersement == 2 %}
		  se rapportant A L'ACOMPTE NUMERO {{ calcul.vars.value.numAcompte }}
	  {% elseif calcul.vars.value.typeVersement == 3 %}
		  se rapportant AU SOLDE
      {% endif %}	  
	  </td>
    </tr>
    <tr> 
      <td class="textecourant" width="80%">Date initiale (d1)</td>
      <td class="textecourant droite">{% if calcul.vars.value.dateInitiale %} {{ calcul.vars.value.dateInitiale|date("d/m/Y") }} {% endif %}</td>
    </tr>
    <tr>
      <td class="textecourant">Délai contractuel de paiement (DCP)</td>
      <td class="textecourant droite">{{ calcul.vars.value.delaiPaiement }} J</td>
    </tr>
    <tr>
      <td class="textecourant">Suspension du délai de paiement par l'ordonnateur (So)</td>
      <td class="textecourant droite">{{ calcul.vars.value.prolongDelaiOrdo }} J</td>
    </tr>
    <tr>
      <td class="textecourant">Suspension du délai de paiement par le comptable public (Sc)</td>
      <td class="textecourant droite">{{ calcul.vars.value.prolongDelaiCompt }} J</td>
    </tr>
    <tr>
      <td class="textecourant">Date limite de paiement (d2 = d1 + DCP + So + Sc)</td>
      <td class="textecourant droite fondgris">{% if calcul.vars.value.dateLimitePaiement %} {{ calcul.vars.value.dateLimitePaiement|date("d/m/Y") }} {% endif %}</td>
    </tr>
    <tr>
      <td class="textecourant">Date de paiement du principal (d)</td>
      <td class="textecourant droite">{% if calcul.vars.value.datePaiementPrinc %} {{ calcul.vars.value.datePaiementPrinc|date("d/m/Y") }} {% endif %}</td>
    </tr>
    <tr>
      <td class="textecourant">Période d'application des intérêts moratoires (E = d - d2)</td>
      <td class="textecourant droite fondgris">{{ calcul.vars.value.retardIm }} J</td>
    </tr>
    <tr>
      <td class="textecourant">Montant du principal TTC (A)</td>
      <td class="textecourant droite">{{ calcul.vars.value.montantPrincipalTTC|number_format(2, ',', ' ') }}</td>
    </tr>
	{% if calcul.vars.value.ChTauxIm == "taux_bce" %}
    <tr>
      <td class="textecourant">Taux des intérêts moratoires à appliquer (T = Taux BCE + 7 points)</td>
      <td class="textecourant droite fondgris">{{ calcul.vars.value.tauxImBCETot|number_format(2, ',', ' ') }} %</td>
    </tr>
	{% elseif calcul.vars.value.ChTauxIm == "taux_legal" %}
    <tr>
      <td class="textecourant">Taux des intérêts moratoires à appliquer (T = Taux légal + 2 points)</td>
      <td class="textecourant droite fondgris">{{ calcul.vars.value.tauxImLegalTot|number_format(2, ',', ' ') }} %</td>
    </tr>
    {% endif %}	  
    <tr>
      <td class="textegrasbleu">Montant des intérêts moratoires correspondants : IM = A x (E/365) x (T/100)</td>
      <td class="textegrasbleu droite fondgris">{{ calcul.vars.value.montantIm|number_format(2, ',', ' ') }}</td>
    </tr>
  </table>
  <br />
  <table border="1">
    <tr>
      <td class="Titre" colspan="2">&nbsp;Intérêts moratoires complémentaires</td>
    </tr>
    <tr> 
      <td class="textecourant" width="80%">Date limite de mandatement des intérêts moratoires principaux (d3 = d + 30 jours)</td>
      <td class="textecourant droite fondgris">{% if calcul.vars.value.dateLimMandatementIm %} {{ calcul.vars.value.dateLimMandatementIm|date("d/m/Y") }} {% endif %}</td>
    </tr>
    <tr>
      <td class="textecourant">Date de mandatement des intérêts moratoires principaux (d')</td>
      <td class="textecourant droite">{% if calcul.vars.value.dateMandatementIm %} {{ calcul.vars.value.dateMandatementIm|date("d/m/Y") }} {% endif %}</td>
    </tr>
    <tr>
      <td class="textecourant">Période d'application des intérêts moratoires (jours de retard) (E'=d'-d)</td>
      <td class="textecourant droite fondgris">{{ calcul.vars.value.retardImC }} J</td>
    </tr>
    <tr>
      <td class="textegrasbleu">Montant des intérêts moratoires correspondants IMC = IM x (E'/365) x (T+2/100)</td>
      <td class="textegrasbleu droite fondgris">{{ calcul.vars.value.montantImC|number_format(2, ',', ' ') }}</td>
    </tr>
  </table>
  <br />
  <table border="1">
    <tr>
      <td class="textegrasbleu14" width="80%">&nbsp;NET A PAYER : IM + IMC</td>
      <td class="textegrasbleu14 droite fondgris">{{ calcul.vars.value.netAPayer|number_format(2, ',', ' ') }}</td>
    </tr>
    <tr> 
  </table>
  <br />
  {% endif %}
  {% if calcul.vars.value.NouveauxCalculs %}
  {# Nouveaux calculs #}
  <table border="1">
    <tr>
      <td class="Titre" colspan="2">&nbsp;
	  Intérêts moratoires 
	  {% if calcul.vars.value.typeVersement == 1 %}
		  se rapportant A L'AVANCE
	  {% elseif calcul.vars.value.typeVersement == 2 %}
		  se rapportant A L'ACOMPTE NUMERO {{ calcul.vars.value.numAcompte }}
	  {% elseif calcul.vars.value.typeVersement == 3 %}
		  se rapportant AU SOLDE
      {% endif %}	  
	 </td>
    </tr>
    <tr> 
      <td class="textecourant" width="80%">Date initiale (d1)</td>
      <td class="textecourant droite">{% if calcul.vars.value.dateInitiale %} {{ calcul.vars.value.dateInitiale|date("d/m/Y") }} {% endif %}</td>
    </tr>
    <tr>
      <td class="textecourant">Délai contractuel de paiement (DCP)</td>
      <td class="textecourant droite">{{ calcul.vars.value.delaiPaiement }} J</td>
    </tr>
    <tr>
      <td class="textecourant">Suspension du délai de paiement par l'ordonnateur (So)</td>
      <td class="textecourant droite">{{ calcul.vars.value.prolongDelaiOrdo }} J</td>
    </tr>
    <tr>
      <td class="textecourant">Suspension du délai de paiement par le comptable public (Sc)</td>
      <td class="textecourant droite">{{ calcul.vars.value.prolongDelaiCompt }} J</td>
    </tr>
    <tr>
      <td class="textecourant">Date limite de paiement (d2 = d1 + DCP + So + Sc)</td>
      <td class="textecourant droite fondgris">{% if calcul.vars.value.dateLimitePaiement %} {{ calcul.vars.value.dateLimitePaiement|date("d/m/Y") }} {% endif %}</td>
    </tr>
    <tr>
      <td class="textecourant">Date de paiement du principal (d)</td>
      <td class="textecourant droite">{% if calcul.vars.value.datePaiementPrinc %} {{ calcul.vars.value.datePaiementPrinc|date("d/m/Y") }} {% endif %}</td>
    </tr>
    <tr>
      <td class="textecourant">Période d'application des intérêts moratoires (E = d - d2)</td>
      <td class="textecourant droite fondgris">{{ calcul.vars.value.retardIm }} J</td>
    </tr>
    <tr>
      <td class="textecourant">Montant du principal TTC (A)</td>
      <td class="textecourant droite">{{ calcul.vars.value.montantPrincipalTTC|number_format(2, ',', ' ') }}</td>
    </tr>
    <tr>
      <td class="textecourant">Taux des intérêts moratoires à appliquer (T = Taux BCE + 8 points)</td>
      <td class="textecourant droite fondgris">{{ calcul.vars.value.tauxImBCETot|number_format(2, ',', ' ') }} %</td>
    </tr>
    <tr>
      <td class="textegrasbleu">Montant des intérêts moratoires correspondants : IM = 40 + A x (E/365) x (T/100)</td>
      <td class="textegrasbleu droite fondgris">{{ calcul.vars.value.montantIm|number_format(2, ',', ' ') }}</td>
    </tr>
  </table>
  <br />
  <table border="1">
    <tr>
      <td class="textegrasbleu14" width="80%">&nbsp;NET A PAYER :</td>
      <td class="textegrasbleu14 droite fondgris">{{ calcul.vars.value.netAPayer|number_format(2, ',', ' ') }}</td>
    </tr>
   </table>
  <br />
  {# fin nouveaux calculs #}
  {% endif %}
  <table border="1">
    <tr>
      <td class="textecourant" valign="middle" height="50" width="70%">&nbsp;&nbsp;&nbsp;A _____________________________________________</td>
      <td class="textecourant" valign="middle" height="50">&nbsp;&nbsp;&nbsp;Le ____ / ____ / ____</td>
    </tr>
    <tr> 
      <td class="textecourant" valign="middle" height="50">&nbsp;&nbsp;&nbsp;Pour le RCSEM :</td>
      <td class="textecourant" valign="middle" height="50"></td>
    </tr>
   </table>

</body>
</html>

