{% extends "Demo/layout/pagelayout.html.twig" %}

{% import "base/macros/form.html.twig" as form %}

{% block title %}{{step.simulator.label }} - {{ step.label }} - {{ parent() }}{% endblock %}

{% block styles %}
{{ parent() }}<link rel='stylesheet' type='text/css' href="{{ asset('assets/Demo/css/' ~ step.simulator.name ~ '.css') }}" />
{% endblock %}

{% block content %}
		<div class="step-simulator-heading">
		<h1>{% block page_title %}{{ step.simulator.label }}{% endblock %}</h1>
		{{ form.paragraphs(step.simulator.description|jscode) }}
		{{ form.breadcrumb(_context) }}
		</div>

		<div id="step{{ step.id }}" class="step-page step-container{% if step.simulator.dynamic %} dynamic{%- endif -%}{% if script == 0 %} no-js{%- endif -%}">
			{{ form.heading(step.description, 2, "step-description legend") }}
			{{ form.profiles(_context) }}
			{{ form.requiredmention(_context) }}
			<form method="post" action="#main" enctype="multipart/form-data" id="g6k_form">
			{{ form.draw(_context, 'form-horizontal', 'form-group', 'col-form-label', 'input-group', 'form-control', 'card bg-light', 'card-header', 'card-body') }}
			</form>
		</div>

{% endblock %}
